// ----------------------------------------------------------------------------
// arcade theme
// ----------------------------------------------------------------------------
$base-color: #000928 !default;

$background-color: $base-color;
$background-color-darker: #00080f !default;

$accent-color: #00b0ff !default;

$code-background-color: #00080f !default;

$text-color-alt: #ff31b9 !default;
$text-color: #adfff5 !default;
$header-text-color: #0ad276 !default;
