// ----------------------------------------------------------------------------
// blue theme
// ----------------------------------------------------------------------------
$base-color: #0d47a1 !default;

$background-color: $base-color;
$background-color-darker: #002171 !default;

$accent-color: #42a5f5 !default;

$code-background-color: #002171 !default;

$text-color-alt: #bbdefb !default;
$text-color: #eeffff !default;
$header-text-color: #00e5ff !default;