// ----------------------------------------------------------------------------
// default theme
// ----------------------------------------------------------------------------
$base-color: #e3e2e2 !default;

$background-color: $base-color;
$background-color-darker: #8e8e8e !default;

$accent-color: #3c73f8 !default;

$code-background-color: #000 !default;

$text-color-alt: #121f5c !default;
$text-color: #001729 !default;
$header-text-color: #180440 !default;