// ----------------------------------------------------------------------------
// dracula theme
// ----------------------------------------------------------------------------
$base-color: #282a37 !default;

$background-color: $base-color;
$background-color-darker: #16181d !default;

$accent-color: #39ffea !default;

$code-background-color: #16181d !default;

$text-color-alt: #fe74bb !default;
$text-color: #f4f4ef !default;
$header-text-color: #957cff !default;
