// ----------------------------------------------------------------------------
// monokai theme
// ----------------------------------------------------------------------------
$base-color: #2e2a2e !default;

$background-color: $base-color;
$background-color-darker: #151315 !default;

$accent-color: #a1d16f !default;

$code-background-color: #151315 !default;

$text-color-alt: #f2ce61 !default;
$text-color: #73d1dc !default;
$header-text-color: #f25d81 !default;
