// ----------------------------------------------------------------------------
// purple theme
// ----------------------------------------------------------------------------
$base-color: #190841 !default;

$background-color: $base-color;
$background-color-darker: #180440 !default;

$accent-color: #0de5ff !default;

$code-background-color: #260769 !default;

$text-color-alt: #613ca7 !default;
$text-color: #947acd !default;
$header-text-color: #8457ff !default;