// ----------------------------------------------------------------------------
// purple theme
// ----------------------------------------------------------------------------
$base-color: #4a148c !default;

$background-color: $base-color;
$background-color-darker: #12005e !default;

$accent-color: #ea80fc !default;

$code-background-color: #210670 !default;

$text-color-alt: #e1bee7 !default;
$text-color: #f3e5f5 !default;
$header-text-color: #ea80fc !default;