// ----------------------------------------------------------------------------
// red theme
// ----------------------------------------------------------------------------
$base-color: #6d1212 !default;

$background-color: $base-color;
$background-color-darker: #5c0505 !default;

$accent-color: #ff94c2 !default;

$code-background-color: #380101 !default;

$text-color-alt: #ff80ab !default;
$text-color: #ffcdd2 !default;
$header-text-color: #ff80a0 !default;