// ----------------------------------------------------------------------------
// soft theme
// ----------------------------------------------------------------------------
$base-color: #fafafa !default;

$background-color: $base-color;
$background-color-darker: #e0e0e0 !default;

$accent-color: #0196b9 !default;

$code-background-color: #273239 !default;

$text-color-alt: #6a77c6 !default;
$text-color: #556e7a !default;
$header-text-color: #1279c7 !default;