// ----------------------------------------------------------------------------
// Default colors
// ----------------------------------------------------------------------------
$error-color: #b71c1c;
$on-error-color: #ffcdd2;
$warn-color: #ffee58;
$on-warn-color: #212121;
$info-color: #1565c0;
$on-info-color: #bbdefb;
// ----------------------------------------------------------------------------
// Default font families
// ----------------------------------------------------------------------------
$font-family-primary: "Inconsolata", monospace;
$font-family-secondary: "Montserrat", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;
// ----------------------------------------------------------------------------
// Default font sizes
// ----------------------------------------------------------------------------
$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;
// ----------------------------------------------------------------------------
// Default font weights
// ----------------------------------------------------------------------------
$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;
// ----------------------------------------------------------------------------
// Layouts and responsiveness
// ----------------------------------------------------------------------------
$gap: 32px !default;
$tablet: 769px !default;
$desktop: 960px + (2 * $gap) !default;
// ----------------------------------------------------------------------------
// Flags
// ----------------------------------------------------------------------------
$rtl: false !default;

// see: https://sass-lang.com/documentation/breaking-changes/css-vars
:root {
  // error, warn and info colors
  --error-color: #{$error-color};
  --on-error-color: #{$on-error-color};
  --warn-color: #{$warn-color};
  --on-warn-color: #{$on-warn-color};
  --info-color: #{$info-color};
  --on-info-color: #{$on-info-color};
  // font families
  --font-family-primary: #{$font-family-primary};
  --font-family-secondary: #{$font-family-secondary};
  --font-family-monospace: #{$font-family-monospace};
}