// ----------------------------------------------------------------------------
// theme template
// ----------------------------------------------------------------------------
$light-primary-color: #fff;
$light-secondary-color: #fff;
$light-accent-color: #fff;
$light-code-background-color: #fff;
$light-code-color: #fff;
$light-link-color: #fff;

$dark-primary-color: #000;
$dark-secondary-color: #000;
$dark-accent-color: #000;
$dark-code-background-color: #000;
$dark-code-color: #000;
$dark-link-color: #000;

$family-primary: "Open Sans", sans-serif;
$family-secondary: "Raleway", sans-serif;
$family-monospace: "Inconsolata", monospace;