// ----------------------------------------------------------------------------
// aloha light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #cbf0f8;
$light-on-primary-color: #02033b;
$light-primary-container-color: #0bb4d8;
$light-on-primary-container-color: #04045e;
// secondary colors
$light-secondary-color: #04045e;
$light-on-secondary-color: #ebefff;
$light-secondary-container-color: #0bb4d8;
$light-on-secondary-container-color: #cbf0f8;
// tertiary colors
$light-tertiary-color: #ff6d00;
$light-on-tertiary-color: #fff4eb;
// link colors
$light-link-color: #0577b6;
// font families
$light-font-family-primary: "Raleway", sans-serif;
$light-font-family-secondary: "Montserrat", sans-serif;
$light-font-family-monospace: "Red Hat Mono", monospace;
// ----------------------------------------------------------------------------
// aloha dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #02033b;
$dark-on-primary-color: #ff9f00;
$dark-primary-container-color: #0bb4d8;
$dark-on-primary-container-color: #04045e;
// secondary colors
$dark-secondary-color: #ff6d00;
$dark-on-secondary-color: #02033b;
$dark-secondary-container-color: #cbf0f8;
$dark-on-secondary-container-color: #02033b;
// tertiary colors
$dark-tertiary-color: #21daff;
$dark-on-tertiary-color: #04045e;
// link colors
$dark-link-color: #1592e1;
// font families
$dark-font-family-primary: "Raleway", sans-serif;
$dark-font-family-secondary: "Montserrat", sans-serif;
$dark-font-family-monospace: "Red Hat Mono", monospace;