// ----------------------------------------------------------------------------
// white light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #fff;
$light-on-primary-color: #000;
$light-primary-container-color: #fff;
$light-on-primary-container-color: #000;
// secondary colors
$light-secondary-color: #000;
$light-on-secondary-color: #fff;
$light-secondary-container-color: #000;
$light-on-secondary-container-color: #fff;
// tertiary colors
$light-tertiary-color: #000;
$light-on-tertiary-color: #fff;
// link colors
$light-link-color: #0091ea;
// font families
$light-font-family-primary: "Open Sans", sans-serif;
$light-font-family-secondary: "Poppins", sans-serif;
$light-font-family-monospace: "Red Hat Mono", monospace;
// ----------------------------------------------------------------------------
// black dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #000;
$dark-on-primary-color: #fff;
$dark-primary-container-color: #000;
$dark-on-primary-container-color: #fff;
// secondary colors
$dark-secondary-color: #fff;
$dark-on-secondary-color: #000;
$dark-secondary-container-color: #fff;
$dark-on-secondary-container-color: #000;
// tertiary colors
$dark-tertiary-color: #fff;
$dark-on-tertiary-color: #000;
// link colors
$dark-link-color: #0091ea;
// font families
$dark-font-family-primary: "Open Sans", sans-serif;
$dark-font-family-secondary: "Poppins", sans-serif;
$dark-font-family-monospace: "Red Hat Mono", monospace;