// ----------------------------------------------------------------------------
// bleu font-families
// ----------------------------------------------------------------------------
$font-family-primary: "Martel", serif;
$font-family-secondary: "Open Sans", sans-serif;
$font-family-monospace: "IBM Plex Mono", monospace;
// ----------------------------------------------------------------------------
// bleu light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #e3f2fd;
$light-on-primary-color: #092a5e;
$light-primary-container-color: #bbdefb;
$light-on-primary-container-color: #0c3b85;
// secondary colors  
$light-secondary-color: #0f47a2;
$light-on-secondary-color: #e3f2fd;
$light-secondary-container-color: #c6e5fb;
$light-on-secondary-container-color: #1d75d3;
// tertiary colors
$light-tertiary-color: #2396f3;
$light-on-tertiary-color: #e3f2fd;
// link colors
$light-link-color: #7206b7;
// ----------------------------------------------------------------------------
// bleu dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #092a5e;
$dark-on-primary-color: #e3f2fd;
$dark-primary-container-color: #bbdefb;
$dark-on-primary-container-color: #0c3b85;
// secondary colors  
$dark-secondary-color: #a3d4ff;
$dark-on-secondary-color: #092a5e;
$dark-secondary-container-color: #0f47a2;
$dark-on-secondary-container-color: #bbdefb;
// tertiary colors
$dark-tertiary-color: #43a5f5;
$dark-on-tertiary-color: #092a5e;
// link colors
$dark-link-color: #b756f4;