// ----------------------------------------------------------------------------
// bluebonnet font-families
// ----------------------------------------------------------------------------
$font-family-primary: "Libre Franklin", sans-serif;
$font-family-secondary: "Montserrat", sans-serif;
$font-family-monospace: "Red Hat Mono", monospace;
// ----------------------------------------------------------------------------
// bluebonnet light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #edebff;
$light-on-primary-color: #110b53;
$light-primary-container-color: #051c69;
$light-on-primary-container-color: #edebff;
// secondary colors
$light-secondary-color: #642e7f;
$light-on-secondary-color: #edebff;
$light-secondary-container-color: #110b53;
$light-on-secondary-container-color: #edebff;
// tertiary colors
$light-tertiary-color: #00a344;
$light-on-tertiary-color: #edebff;
// link colors
$light-link-color: #03a7db;
// ----------------------------------------------------------------------------
// bluebonnet dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #110b53;
$dark-on-primary-color: #edebff;
$dark-primary-container-color: #edebff;
$dark-on-primary-container-color: #051c69;
// secondary colors
$dark-secondary-color: #b378ce;
$dark-on-secondary-color: #110b53;
$dark-secondary-container-color: #edebff;
$dark-on-secondary-container-color: #110b53;
// tertiary colors
$dark-tertiary-color: #00d257;
$dark-on-tertiary-color: #110b53;
// link colors
$dark-link-color: #21bced;