// ----------------------------------------------------------------------------
// bubblegum light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #fff0f3;
$light-on-primary-color: #c9184b;
$light-primary-container-color: #c9184b;
$light-on-primary-container-color: #fff0f3;
// secondary colors  
$light-secondary-color: #c9184b;
$light-on-secondary-color: #fff0f3;
$light-secondary-container-color: #c9184b;
$light-on-secondary-container-color: #fff0f3;
// tertiary colors
$light-tertiary-color: #ff87bd;
$light-on-tertiary-color: #c9184b;
// link colors
$light-link-color: #ff87bd;
// font families
$light-font-family-primary: "Hepta Slab", serif;
$light-font-family-secondary: "Poppins", sans-serif;
$light-font-family-monospace: "JetBrains Mono", monospace;
// ----------------------------------------------------------------------------
// bubblegum dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #c9184b;
$dark-on-primary-color: #fff0f3;
$dark-primary-container-color: #fff0f3;
$dark-on-primary-container-color: #c9184b;
// secondary colors  
$dark-secondary-color: #fff0f3;
$dark-on-secondary-color: #c9184b;
$dark-secondary-container-color: #fff0f3;
$dark-on-secondary-container-color: #c9184b;
// tertiary colors
$dark-tertiary-color: #ffa1cb;
$dark-on-tertiary-color: #c9184b;
// link colors
$dark-link-color: #ffa1cb;
// font families
$dark-font-family-primary: "Hepta Slab", serif;
$dark-font-family-secondary: "Poppins", sans-serif;
$dark-font-family-monospace: "JetBrains Mono", monospace;