// ----------------------------------------------------------------------------
// bubble gum
// ----------------------------------------------------------------------------
:root[light] {
  // primary colors
  --primary-color: #fff0f3;
  --on-primary-color: #c9184b;
  --primary-container-color: #c9184b;
  --on-primary-container-color: #fff0f3;
  // secondary colors  
  --secondary-color: #c9184b;
  --on-secondary-color: #fff0f3;
  --secondary-container-color: #fff0f3;
  --on-secondary-container-color: #c9184b;
  // tertiary colors
  --tertiary-color: #000;
  --on-tertiary-color: #fff0f3;
  // general colors
  --link-color: #000;
  --neutral-color: #212121;
  --on-neutral-color: #e0e0e0;
  // font families
  --font-family-primary: "Hepta Slab", serif;
  --font-family-secondary: "Poppins", sans-serif;
  --font-family-monospace: "JetBrains Mono", monospace;
}
:root[dark] {
  // primary colors
  --primary-color: #c9184b;
  --on-primary-color: #fff0f3;
  --primary-container-color: #fff0f3;
  --on-primary-container-color: #c9184b;
  // secondary colors  
  --secondary-color: #fff0f3;
  --on-secondary-color: #c9184b;
  --secondary-container-color: #c9184b;
  --on-secondary-container-color: #fff0f3;
  // tertiary colors
  --tertiary-color: #000;
  --on-tertiary-color: #c9184b;
  // general colors
  --link-color: #000;
  --neutral-color: #e0e0e0;
  --on-neutral-color: #212121;
  // font families
  --font-family-primary: "Hepta Slab", serif;
  --font-family-secondary: "Poppins", sans-serif;
  --font-family-monospace: "JetBrains Mono", monospace;
}