// ----------------------------------------------------------------------------
// corbs light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #ecefff;
$light-on-primary-color: #3b0aa4;
$light-primary-container-color: #150244;
$light-on-primary-container-color: #f72685;
// secondary colors  
$light-secondary-color: #3b0aa4;
$light-on-secondary-color: #ecefff;
$light-secondary-container-color: #150244;
$light-on-secondary-container-color: #f72685;
// tertiary colors
$light-tertiary-color: #f72685;
$light-on-tertiary-color: #ecefff;
// link colors
$light-link-color: #21bced;
// font families
$light-font-family-primary: "Source Code Pro", monospace;
$light-font-family-secondary: "Red Hat Text", sans-serif;
$light-font-family-monospace: "Red Hat Mono", monospace;
// ----------------------------------------------------------------------------
// corbs dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #0f0132;
$dark-on-primary-color: #ecefff;
$dark-primary-container-color: #280873;
$dark-on-primary-container-color: #f72685;
// secondary colors  
$dark-secondary-color: #5872ef;
$dark-on-secondary-color: #0f0132;
$dark-secondary-container-color: #280873;
$dark-on-secondary-container-color: #f72685;
// tertiary colors
$dark-tertiary-color: #f72685;
$dark-on-tertiary-color: #0f0132;
// link colors
$dark-link-color: #32cdff;
// font families
$dark-font-family-primary: "Source Code Pro", monospace;
$dark-font-family-secondary: "Red Hat Text", sans-serif;
$dark-font-family-monospace: "Red Hat Mono", monospace;