// ----------------------------------------------------------------------------
// corbs font-families
// ----------------------------------------------------------------------------
$font-family-primary: "Source Code Pro", monospace;
$font-family-secondary: "Poppins", sans-serif;
$font-family-monospace: "Red Hat Mono", monospace;
// ----------------------------------------------------------------------------
// corbs light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #f1ecff;
$light-on-primary-color: #3b0aa4;
$light-primary-container-color: #f61379;
$light-on-primary-container-color: #16004f;
// secondary colors  
$light-secondary-color: #3389ed;
$light-on-secondary-color: #f1ecff;
$light-secondary-container-color: #280873;
$light-on-secondary-container-color: #e126c5;
// tertiary colors
$light-tertiary-color: #ac3cf6;
$light-on-tertiary-color: #f1ecff;
// link colors
$light-link-color: #4493ef;
// ----------------------------------------------------------------------------
// corbs dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #14043a;
$dark-on-primary-color: #f83a90;
$dark-primary-container-color: #f61379;
$dark-on-primary-container-color: #16004f;
// secondary colors  
$dark-secondary-color: #21daff;
$dark-on-secondary-color: #0f0132;
$dark-secondary-container-color: #280873;
$dark-on-secondary-container-color: #e126c5;
// tertiary colors
$dark-tertiary-color: #ac3cf6;
$dark-on-tertiary-color: #0f0132;
// link colors
$dark-link-color: #4493ef;