// ----------------------------------------------------------------------------
// cream font-families
// ----------------------------------------------------------------------------
$font-family-primary: "Hepta Slab", serif;
$font-family-secondary: "Raleway", sans-serif;
$font-family-monospace: "Space Mono", monospace;
// ----------------------------------------------------------------------------
// cream light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #f0f7f6;
$light-on-primary-color: #062f38;
$light-primary-container-color: #b3f7ef;
$light-on-primary-container-color: #062f38;
// secondary colors  
$light-secondary-color: #36cceb;
$light-on-secondary-color: #fffefc;
$light-secondary-container-color: #e5f1f0;
$light-on-secondary-container-color: #062f38;
// tertiary colors
$light-tertiary-color: #e05299;
$light-on-tertiary-color: #f0f7f6;
// link colors
$light-link-color: #34c1a5;
// ----------------------------------------------------------------------------
// cream dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #030f12;
$dark-on-primary-color: #f0f7f6;
$dark-primary-container-color: #b3f7ef;
$dark-on-primary-container-color: #030f12;
// secondary colors  
$dark-secondary-color: #36cceb;
$dark-on-secondary-color: #030f12;
$dark-secondary-container-color: #032025;
$dark-on-secondary-container-color: #f8d6e0;
// tertiary colors
$dark-tertiary-color: #e05299;
$dark-on-tertiary-color: #030f12;
// link colors
$dark-link-color: #34c1a5;