// ----------------------------------------------------------------------------
// domino font-families
// ----------------------------------------------------------------------------
$font-family-primary: "Open Sans", sans-serif;
$font-family-secondary: "Red Hat Display", sans-serif;
$font-family-monospace: "Space Mono", monospace;
// ----------------------------------------------------------------------------
// domino light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #fff;
$light-on-primary-color: #000;
$light-primary-container-color: #000;
$light-on-primary-container-color: #fff;
// secondary colors
$light-secondary-color: #000;
$light-on-secondary-color: #fff;
$light-secondary-container-color: #000;
$light-on-secondary-container-color: #fff;
// tertiary colors
$light-tertiary-color: #00c853;
$light-on-tertiary-color: #000;
// link colors
$light-link-color: #0091ea;
// ----------------------------------------------------------------------------
// domino dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #000;
$dark-on-primary-color: #fff;
$dark-primary-container-color: #fff;
$dark-on-primary-container-color: #000;
// secondary colors
$dark-secondary-color: #fff;
$dark-on-secondary-color: #000;
$dark-secondary-container-color: #fff;
$dark-on-secondary-container-color: #000;
// tertiary colors
$dark-tertiary-color: #00e676;
$dark-on-tertiary-color: #000;
// link colors
$dark-link-color: #4995ef;