// ----------------------------------------------------------------------------
// folly theme
// ----------------------------------------------------------------------------
:root[light] {
  // primary colors
  --primary-color: #ffbd01;
  --on-primary-color: #3a0099;
  --primary-container-color: #9e0159;
  --on-primary-container-color: #ffbd01;
  // secondary colors  
  --secondary-color: #3a0099;
  --on-secondary-color: #ffbd01;
  --secondary-container-color: #ffbd01;
  --on-secondary-container-color: #9e0159;
  // tertiary colors
  --tertiary-color: #ff5500;
  --on-tertiary-color: #ffbd01;
  // general colors
  --link-color: #138ab2;
  --neutral-color: #212121;
  --on-neutral-color: #e0e0e0;
  // font families
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Montserrat", sans-serif;
  --font-family-monospace: "Source Code Pro", monospace;
}
:root[dark] {
  // primary colors
  --primary-color: #3a0099;
  --on-primary-color: #ffbd01;
  --primary-container-color: #ffbd01;
  --on-primary-container-color: #3a0099;
  // secondary colors  
  --secondary-color: #ffbd01;
  --on-secondary-color: #3a0099;
  --secondary-container-color: #ffbd01;
  --on-secondary-container-color: #9e0159;
  // tertiary colors
  --tertiary-color: #ff5500;
  --on-tertiary-color: #ffbd01;
  // general colors
  --link-color: #138ab2;
  --neutral-color: #212121;
  --on-neutral-color: #e0e0e0;
  // font families
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Montserrat", sans-serif;
  --font-family-monospace: "Source Code Pro", monospace;
}