// ----------------------------------------------------------------------------
// grape theme
// ----------------------------------------------------------------------------
:root[light] {
  // primary colors
  --primary-color: #f3e6f5;
  --on-primary-color: #4a138c;
  --primary-container-color: #4a138c;
  --on-primary-container-color: #fff0f3;
  // secondary colors  
  --secondary-color: #4a138c;
  --on-secondary-color: #f3e6f5;
  --secondary-container-color: #4a138c;
  --on-secondary-container-color: #f3e6f5;
  // tertiary colors
  --tertiary-color: #ab00ff;
  --on-tertiary-color: #f3e6f5;
  // general colors
  --link-color: #ab00ff;
  --neutral-color: #212121;
  --on-neutral-color: #e0e0e0;
  // font families
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Red Hat Text", sans-serif;
  --font-family-monospace: "Source Code Pro", monospace;
}
:root[dark] {
  // primary colors
  --primary-color: #4a138c;
  --on-primary-color: #f3e6f5;
  --primary-container-color: #f3e6f5;
  --on-primary-container-color: #4a138c;
  // secondary colors  
  --secondary-color: #f3e6f5;
  --on-secondary-color: #4a138c;
  --secondary-container-color: #f3e6f5;
  --on-secondary-container-color: #4a138c;
  // tertiary colors
  --tertiary-color: #c349ff;
  --on-tertiary-color: #4a138c;
  // general colors
  --link-color: #c349ff;
  --neutral-color: #212121;
  --on-neutral-color: #e0e0e0;
  // font families
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Red Hat Text", sans-serif;
  --font-family-monospace: "Source Code Pro", monospace;
}