// ----------------------------------------------------------------------------
// meemaw font-families
// ----------------------------------------------------------------------------
$font-family-primary: "Martel", serif;
$font-family-secondary: "Mulish", sans-serif;
$font-family-monospace: "Roboto Mono", monospace;
// ----------------------------------------------------------------------------
// meemaw light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #fffefc;
$light-on-primary-color: #092242;
$light-primary-container-color: #f46297;
$light-on-primary-container-color: #092242;
// secondary colors  
$light-secondary-color: #2da58d;
$light-on-secondary-color: #fffefc;
$light-secondary-container-color: #fffaec;
$light-on-secondary-container-color: #092242;
// tertiary colors
$light-tertiary-color: #f46297;
$light-on-tertiary-color: #fffefc;
// link colors
$light-link-color: #00b3ce;
// ----------------------------------------------------------------------------
// meemaw dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #092242;
$dark-on-primary-color: #fffefc;
$dark-primary-container-color: #f46297;
$dark-on-primary-container-color: #fffefc;
// secondary colors  
$dark-secondary-color: #34c1a5;
$dark-on-secondary-color: #092242;
$dark-secondary-container-color: #0e2f59;
$dark-on-secondary-container-color: #fffefc;
// tertiary colors
$dark-tertiary-color: #f46297;
$dark-on-tertiary-color: #092242;
// link colors
$dark-link-color: #00b3ce;