// ----------------------------------------------------------------------------
// mini font-families
// ----------------------------------------------------------------------------
$font-family-primary: "Sono", sans-serif;
$font-family-secondary: "Open Sans", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;
// ----------------------------------------------------------------------------
// mini light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #fff;
$light-on-primary-color: #000;
$light-primary-container-color: #fff;
$light-on-primary-container-color: #000;
// secondary colors
$light-secondary-color: #000;
$light-on-secondary-color: #fff;
$light-secondary-container-color: #000;
$light-on-secondary-container-color: #fff;
// tertiary colors
$light-tertiary-color: #828282;
$light-on-tertiary-color: #fff;
// link colors
$light-link-color: #0091ea;
// ----------------------------------------------------------------------------
// mini dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #000;
$dark-on-primary-color: #fff;
$dark-primary-container-color: #000;
$dark-on-primary-container-color: #fff;
// secondary colors
$dark-secondary-color: #fff;
$dark-on-secondary-color: #000;
$dark-secondary-container-color: #fff;
$dark-on-secondary-container-color: #000;
// tertiary colors
$dark-tertiary-color: #bdbdbd;
$dark-on-tertiary-color: #000;
// link colors
$dark-link-color: #0091ea;