// ----------------------------------------------------------------------------
// pentax font-families
// ----------------------------------------------------------------------------
$font-family-primary: "Manrope", sans-serif;
$font-family-secondary: "Poppins", sans-serif;
$font-family-monospace: "Space Mono", monospace;
// ----------------------------------------------------------------------------
// pentax light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #eaecef;
$light-on-primary-color: #4a5057;
$light-primary-container-color: #212529;
$light-on-primary-container-color: #f8f9fa;
// secondary colors  
$light-secondary-color: #343a41;
$light-on-secondary-color: #eaecef;
$light-secondary-container-color: #dee2e6;
$light-on-secondary-container-color: #5d666f;
// tertiary colors 
$light-tertiary-color: #b5189f;
$light-on-tertiary-color: #eaecef;
// link colors
$light-link-color: #4493ef;
// ----------------------------------------------------------------------------
// pentax dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #1b1f22;
$dark-on-primary-color: #eaecef;
$dark-primary-container-color: #dee2e6;
$dark-on-primary-container-color: #2e3339;
// secondary colors  
$dark-secondary-color: #dee2e6;
$dark-on-secondary-color: #343a41;
$dark-secondary-container-color: #343a41;
$dark-on-secondary-container-color: #ced4db;
// tertiary colors
$dark-tertiary-color: #d409b7;
$dark-on-tertiary-color: #1b1f22;
// link colors
$dark-link-color: #4493ef;