// ----------------------------------------------------------------------------
// seaside font-families
// ----------------------------------------------------------------------------
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Raleway", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;
// ----------------------------------------------------------------------------
// seaside light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #cbf0f8;
$light-on-primary-color: #003552;
$light-primary-container-color: #1cbad9;
$light-on-primary-container-color: #003552;
// secondary colors  
$light-secondary-color: #1cbad9;
$light-on-secondary-color: #003552;
$light-secondary-container-color: #cbf0f8;
$light-on-secondary-container-color: #0577b6;
// tertiary colors
$light-tertiary-color: #04045e;
$light-on-tertiary-color: #cbf0f8;
// link colors
$light-link-color: #04045e;
// ----------------------------------------------------------------------------
// seaside dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #1cbad9;
$dark-on-primary-color: #003552;
$dark-primary-container-color: #04045e;
$dark-on-primary-container-color: #cbf0f8;
// secondary colors  
$dark-secondary-color: #04045e;
$dark-on-secondary-color: #cbf0f8;
$dark-secondary-container-color: #1cbad9;
$dark-on-secondary-container-color: #005884;
// tertiary colors
$dark-tertiary-color: #cbf0f8;
$dark-on-tertiary-color: #04045e;
// link colors
$dark-link-color: #cbf0f8;