// ----------------------------------------------------------------------------
// seaside font-families
// ----------------------------------------------------------------------------
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Raleway", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;
// ----------------------------------------------------------------------------
// seaside light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #eefafc;
$light-on-primary-color: #0a3e47;
$light-primary-container-color: #dbf5fa;
$light-on-primary-container-color: #0a3e47;
// secondary colors  
$light-secondary-color: #015d8f;
$light-on-secondary-color: #dbf5fa;
$light-secondary-container-color: #dbf5fa;
$light-on-secondary-container-color: #015d8f;
// tertiary colors
$light-tertiary-color: #f95838;
$light-on-tertiary-color: #f9e1dc;
// link colors
$light-link-color: #0bb4d8;
// ----------------------------------------------------------------------------
// seaside dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #001b29;
$dark-on-primary-color: #eefafc;
$dark-primary-container-color: #dbf5fa;
$dark-on-primary-container-color: #0a3e47;
// secondary colors  
$dark-secondary-color: #5de4ff;
$dark-on-secondary-color: #002e46;
$dark-secondary-container-color: #002e46;
$dark-on-secondary-container-color: #90e0ef;
// tertiary colors
$dark-tertiary-color: #f95838;
$dark-on-tertiary-color: #250600;
// link colors
$dark-link-color: #0692e0;