// ----------------------------------------------------------------------------
// summer font-families
// ----------------------------------------------------------------------------
$font-family-primary: "Manrope", sans-serif;
$font-family-secondary: "Poppins", sans-serif;
$font-family-monospace: "Roboto Mono", monospace;
// ----------------------------------------------------------------------------
// summer light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #fff6eb;
$light-on-primary-color: #cc5801;
$light-primary-container-color: #ff6d00;
$light-on-primary-container-color: #02033b;
// secondary colors
$light-secondary-color: #ff6d00;
$light-on-secondary-color: #fff6eb;
$light-secondary-container-color: #daf6fc;
$light-on-secondary-container-color: #15a9d0;
// tertiary colors
$light-tertiary-color: #15a9d0;
$light-on-tertiary-color: #daf6fc;
// link colors
$light-link-color: #7206b7;
// ----------------------------------------------------------------------------
// summer dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #daf6fc;
$dark-on-primary-color: #095c71;
$dark-primary-container-color: #15b9e2;
$dark-on-primary-container-color: #02033b;
// secondary colors
$dark-secondary-color: #15a9d0;
$dark-on-secondary-color: #daf6fc;
$dark-secondary-container-color: #fff7eb;
$dark-on-secondary-container-color: #ff6d00;
// tertiary colors
$dark-tertiary-color: #ff6d00;
$dark-on-tertiary-color: #fff4eb;
// link colors
$dark-link-color: #7206b7;