// ----------------------------------------------------------------------------
// term font-families
// ----------------------------------------------------------------------------
$font-family-primary: "Roboto Mono", monospace;
$font-family-secondary: "Inconsolata", monospace;
$font-family-monospace: "Source Code Pro", monospace;
// ----------------------------------------------------------------------------
// term light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #fff;
$light-on-primary-color: #020202;
$light-primary-container-color: #fff;
$light-on-primary-container-color: #020202;
// secondary colors
$light-secondary-color: #e502e6;
$light-on-secondary-color: #fff;
$light-secondary-container-color: #020202;
$light-on-secondary-container-color: #00f900;
// tertiary colors
$light-tertiary-color: #01c4c5;
$light-on-tertiary-color: #fff;
// link colors
$light-link-color: #6177f5;
// ----------------------------------------------------------------------------
// term dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #020202;
$dark-on-primary-color: #2afe13;
$dark-primary-container-color: #020202;
$dark-on-primary-container-color: #2afe13;
// secondary colors
$dark-secondary-color: #e502e6;
$dark-on-secondary-color: #020202;
$dark-secondary-container-color: #00f900;
$dark-on-secondary-container-color: #020202;
// tertiary colors
$dark-tertiary-color: #01c4c5;
$dark-on-tertiary-color: #020202;
// link colors
$dark-link-color: #6177f5;