// ----------------------------------------------------------------------------
// yolo font-families
// ----------------------------------------------------------------------------
$font-family-primary: "Red Hat Mono", monospace;
$font-family-secondary: "Red Hat Text", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;
// ----------------------------------------------------------------------------
// yolo light-mode
// ----------------------------------------------------------------------------
// primary colors
$light-primary-color: #d2d2f3;
$light-on-primary-color: #011141;
$light-primary-container-color: #070831;
$light-on-primary-container-color: #50fa7b;
// secondary colors  
$light-secondary-color: #5815c0;
$light-on-secondary-color: #d2d2f3;
$light-secondary-container-color: #100423;
$light-on-secondary-container-color: #d7c6f3;
// tertiary colors
$light-tertiary-color: #d80f8a;
$light-on-tertiary-color: #f8faff;
// link colors
$light-link-color: #0091ea;
// ----------------------------------------------------------------------------
// yolo dark-mode
// ----------------------------------------------------------------------------
// primary colors
$dark-primary-color: #0a0b47;
$dark-on-primary-color: #b1b6fa;
$dark-primary-container-color: #070831;
$dark-on-primary-container-color: #50fa7b;
// secondary colors  
$dark-secondary-color: #fb1d9e;
$dark-on-secondary-color: #19010f;
$dark-secondary-container-color: #b5036a;
$dark-on-secondary-container-color: #f6a5d4;
// tertiary colors
$dark-tertiary-color: #0ca9f4;
$dark-on-tertiary-color: #010d13;
// link colors
$dark-link-color: #65cffc;