// ----------------------------------------------------------------------------
// alpha scheme
// ----------------------------------------------------------------------------
:root[light] {
  --syntax01: #757575;
  --syntax02: #424242;
  --syntax04: #d50201;
  --syntax05: #ff6d00;
  --syntax06: #ffd701;
  --syntax07: #00c854;
  --syntax08: #0bb8d5;
  --syntax09: #324eff;
  --syntax10: #6200ea;
}
:root[dark] {
  --syntax01: #9e9e9e;
  --syntax02: #e0e0e0; //
  --syntax04: #ff4082; //
  --syntax05: #ffab40; //
  --syntax06: #ffff04; //
  --syntax07: #01e676; //
  --syntax08: #1bffff; //
  --syntax09: #4689ff; //
  --syntax10: #7d4cff; //
}