// ----------------------------------------------------------------------------
// arcade scheme
// ----------------------------------------------------------------------------
:root[light] {
  --syntax-text: #010523;
  --syntax-container-color: #f5f5f5;
  --syntax-highlight-color: #44475a;

  --syntax-error: #b71c1c;
  --syntax-punctuation: #010523;
  --syntax-text-whitespace: #010523;

  --syntax-comment-hashbang: #44475a;
  --syntax-comment-multiline: #44475a;
  --syntax-comment-preproc: #44475a;
  --syntax-comment-preprocfile: #44475a;
  --syntax-comment-single: #44475a;
  --syntax-comment-special: #44475a;
  --syntax-comment: #44475a;

  --syntax-generic-deleted: #b71c1c;
  --syntax-generic-emph: #eb0f5a;
  --syntax-generic-error: #b71c1c;
  --syntax-generic-heading: #eb0f5a;
  --syntax-generic-inserted: #eb0f5a;
  --syntax-generic-output: #eb0f5a;
  --syntax-generic-prompt: #eb0f5a;
  --syntax-generic-strong: #eb0f5a;
  --syntax-generic-subheading: #eb0f5a;
  --syntax-generic-traceback: #eb0f5a;

  --syntax-keyword-constant: #eb0f5a;
  --syntax-keyword-declaration: #0ca9f4;
  --syntax-keyword-namespace: #eb0f5a;
  --syntax-keyword-pseudo: #eb0f5a;
  --syntax-keyword-reserved: #eb0f5a;
  --syntax-keyword-type: #0ca9f4;
  --syntax-keyword: #eb0f5a;

  --syntax-literal-date: #ea5a03;
  --syntax-literal: #ea5a03;

  --syntax-name-attribute: #2ab94f;
  --syntax-name-builtin-pseudo: #010523;
  --syntax-name-builtin: #0ca9f4;
  --syntax-name-class: #2ab94f;
  --syntax-name-constant: #010523;
  --syntax-name-decorator: #010523;
  --syntax-name-entity: #010523;
  --syntax-name-exception: #010523;
  --syntax-name-function-magic: #2ab94f;
  --syntax-name-function: #2ab94f;
  --syntax-name-label: #0ca9f4;
  --syntax-name-namespace: #010523;
  --syntax-name-other: #010523;
  --syntax-name-tag: #010523;
  --syntax-name-variable-class: #0ca9f4;
  --syntax-name-variable-global: #0ca9f4;
  --syntax-name-variable-instance: #0ca9f4;
  --syntax-name-variable: #0ca9f4;
  --syntax-name: #010523;

  --syntax-number-bin: #ea5a03;
  --syntax-number-float: #ea5a03;
  --syntax-number-hex: #ea5a03;
  --syntax-number-integer-long: #ea5a03;
  --syntax-number-integer: #ea5a03;
  --syntax-number-oct: #ea5a03;
  --syntax-number: #ea5a03;

  --syntax-operator-word: #2ab94f;
  --syntax-operator: #2ab94f;

  --syntax-string-affix: #6844f4;
  --syntax-string-backtick: #6844f4;
  --syntax-string-char: #6844f4;
  --syntax-string-delimiter: #6844f4;
  --syntax-string-doc: #6844f4;
  --syntax-string-double: #6844f4;
  --syntax-string-escape: #6844f4;
  --syntax-string-heredoc: #6844f4;
  --syntax-string-interpol: #6844f4;
  --syntax-string-other: #6844f4;
  --syntax-string-regex: #6844f4;
  --syntax-string-single: #6844f4;
  --syntax-string-symbol: #6844f4;
  --syntax-string: #6844f4;
}
:root[dark] {
  --syntax-text: #f7edff;
  --syntax-container-color: #010523;
  --syntax-highlight-color: #44475a;

  --syntax-error: #b71c1c;
  --syntax-punctuation: #eff0ff;
  --syntax-text-whitespace: #eff0ff;

  --syntax-comment-hashbang: #ebde1d;
  --syntax-comment-multiline: #ebde1d;
  --syntax-comment-preproc: #ebde1d;
  --syntax-comment-preprocfile: #ebde1d;
  --syntax-comment-single: #ebde1d;
  --syntax-comment-special: #ebde1d;
  --syntax-comment: #ebde1d;

  --syntax-generic-deleted: #b71c1c;
  --syntax-generic-emph: #eb0f5a;
  --syntax-generic-error: #b71c1c;
  --syntax-generic-heading: #eb0f5a;
  --syntax-generic-inserted: #eb0f5a;
  --syntax-generic-output: #eb0f5a;
  --syntax-generic-prompt: #eb0f5a;
  --syntax-generic-strong: #eb0f5a;
  --syntax-generic-subheading: #eb0f5a;
  --syntax-generic-traceback: #eb0f5a;

  --syntax-keyword-constant: #eb0f5a;
  --syntax-keyword-declaration: #0ca9f4;
  --syntax-keyword-namespace: #eb0f5a;
  --syntax-keyword-pseudo: #eb0f5a;
  --syntax-keyword-reserved: #eb0f5a;
  --syntax-keyword-type: #0ca9f4;
  --syntax-keyword: #eb0f5a;

  --syntax-literal-date: #ea5a03;
  --syntax-literal: #ea5a03;

  --syntax-name-attribute: #50fa7b;
  --syntax-name-builtin-pseudo: #eff0ff;
  --syntax-name-builtin: #0ca9f4;
  --syntax-name-class: #50fa7b;
  --syntax-name-constant: #eff0ff;
  --syntax-name-decorator: #eff0ff;
  --syntax-name-entity: #eff0ff;
  --syntax-name-exception: #eff0ff;
  --syntax-name-function-magic: #50fa7b;
  --syntax-name-function: #50fa7b;
  --syntax-name-label: #0ca9f4;
  --syntax-name-namespace: #eff0ff;
  --syntax-name-other: #eff0ff;
  --syntax-name-tag: #01e676;
  --syntax-name-variable-class: #0ca9f4;
  --syntax-name-variable-global: #0ca9f4;
  --syntax-name-variable-instance: #0ca9f4;
  --syntax-name-variable: #0ca9f4;
  --syntax-name: #eff0ff;

  --syntax-number-bin: #ea5a03;
  --syntax-number-float: #ea5a03;
  --syntax-number-hex: #ea5a03;
  --syntax-number-integer-long: #ea5a03;
  --syntax-number-integer: #ea5a03;
  --syntax-number-oct: #ea5a03;
  --syntax-number: #ea5a03;

  --syntax-operator-word: #01e676;
  --syntax-operator: #01e676;

  --syntax-string-affix: #9178f6;
  --syntax-string-backtick: #9178f6;
  --syntax-string-char: #9178f6;
  --syntax-string-delimiter: #9178f6;
  --syntax-string-doc: #9178f6;
  --syntax-string-double: #9178f6;
  --syntax-string-escape: #9178f6;
  --syntax-string-heredoc: #9178f6;
  --syntax-string-interpol: #9178f6;
  --syntax-string-other: #9178f6;
  --syntax-string-regex: #9178f6;
  --syntax-string-single: #9178f6;
  --syntax-string-symbol: #9178f6;
  --syntax-string: #9178f6;
}