:root[light] {
  --syntax-text: #44475a;
  --syntax-container-color: #F4F4F4;
  --syntax-highlight-color: #44475a;

  --syntax-line-number-color: #44475a;
  --syntax-line-number-background-color: #F4F4F4;
  --syntax-line-number-special-color: #44475a;
  --syntax-line-number-special-background-color: #F4F4F4;

  --syntax-error: #898989; 
  --syntax-punctuation: #44475a;
  --syntax-text-whitespace: #bbbbbb; 

  --syntax-comment-hashbang: #959595; 
  --syntax-comment-multiline: #959595; 
  --syntax-comment-preproc: #575757; 
  --syntax-comment-preprocfile: #959595; 
  --syntax-comment-single: #959595; 
  --syntax-comment-special: #959595; 
  --syntax-comment: #959595; 

  --syntax-generic-deleted: #545454; 
  --syntax-generic-emph: #545454; 
  --syntax-generic-error: #898989; 
  --syntax-generic-heading: #373737; 
  --syntax-generic-inserted: #7D7D7D; 
  --syntax-generic-output: #888888; 
  --syntax-generic-prompt: #7E7E7E; 
  --syntax-generic-strong: #373737; 
  --syntax-generic-subheading: #5A5A5A; 
  --syntax-generic-traceback: #6D6D6D; 

  --syntax-keyword-constant: #575757; 
  --syntax-keyword-declaration: #575757; 
  --syntax-keyword-namespace: #575757; 
  --syntax-keyword-pseudo: #575757; 
  --syntax-keyword-reserved: #575757; 
  --syntax-keyword-type: #4F4F4F; 
  --syntax-keyword: #575757; 

  --syntax-literal-date: #44475a;
  --syntax-literal: #44475a;

  --syntax-name-attribute: #707070; 
  --syntax-name-builtin-pseudo: #575757; 
  --syntax-name-builtin: #575757; 
  --syntax-name-class: #7E7E7E; 
  --syntax-name-constant: #A5A5A5; 
  --syntax-name-decorator: #555555; 
  --syntax-name-entity: #848484; 
  --syntax-name-exception: #575757; 
  --syntax-name-function-magic: #3F3F3F; 
  --syntax-name-function: #3F3F3F; 
  --syntax-name-label: #363636; 
  --syntax-name-namespace: #7E7E7E; 
  --syntax-name-other: #9A9A9A; 
  --syntax-name-tag: #3B3B3B; 
  --syntax-name-variable-class: #9A9A9A; 
  --syntax-name-variable-global: #9A9A9A; 
  --syntax-name-variable-instance: #9A9A9A; 
  --syntax-name-variable: #9A9A9A; 
  --syntax-name: #44475a;

  --syntax-number-bin: #888888; 
  --syntax-number-float: #888888; 
  --syntax-number-hex: #888888; 
  --syntax-number-integer-long: #888888; 
  --syntax-number-integer: #888888; 
  --syntax-number-oct: #888888; 
  --syntax-number: #888888; 

  --syntax-operator-word: #575757; 
  --syntax-operator: #666666; 

  --syntax-string-affix: #717171;
  --syntax-string-backtick: #717171;
  --syntax-string-char: #717171;
  --syntax-string-delimiter: #717171;
  --syntax-string-doc: #717171;
  --syntax-string-double: #717171;
  --syntax-string-escape: #717171;
  --syntax-string-heredoc: #717171;
  --syntax-string-interpol: #9F9F9F;
  --syntax-string-other: #7E7E7E;
  --syntax-string-regex: #575757;
  --syntax-string-single: #717171;
  --syntax-string-symbol: #676767;
  --syntax-string: #717171; 
}
:root[dark] {
  --syntax-text: #44475a;
  --syntax-container-color: #F4F4F4;
  --syntax-highlight-color: #44475a;

  --syntax-line-number-color: #44475a;
  --syntax-line-number-background-color: #F4F4F4;
  --syntax-line-number-special-color: #44475a;
  --syntax-line-number-special-background-color: #F4F4F4;

  --syntax-error: #898989; 
  --syntax-punctuation: #44475a;
  --syntax-text-whitespace: #bbbbbb; 

  --syntax-comment-hashbang: #959595; 
  --syntax-comment-multiline: #959595; 
  --syntax-comment-preproc: #575757; 
  --syntax-comment-preprocfile: #959595; 
  --syntax-comment-single: #959595; 
  --syntax-comment-special: #959595; 
  --syntax-comment: #959595; 

  --syntax-generic-deleted: #545454; 
  --syntax-generic-emph: #545454; 
  --syntax-generic-error: #898989; 
  --syntax-generic-heading: #373737; 
  --syntax-generic-inserted: #7D7D7D; 
  --syntax-generic-output: #888888; 
  --syntax-generic-prompt: #7E7E7E; 
  --syntax-generic-strong: #373737; 
  --syntax-generic-subheading: #5A5A5A; 
  --syntax-generic-traceback: #6D6D6D; 

  --syntax-keyword-constant: #575757; 
  --syntax-keyword-declaration: #575757; 
  --syntax-keyword-namespace: #575757; 
  --syntax-keyword-pseudo: #575757; 
  --syntax-keyword-reserved: #575757; 
  --syntax-keyword-type: #4F4F4F; 
  --syntax-keyword: #575757; 

  --syntax-literal-date: #44475a;
  --syntax-literal: #44475a;

  --syntax-name-attribute: #707070; 
  --syntax-name-builtin-pseudo: #575757; 
  --syntax-name-builtin: #575757; 
  --syntax-name-class: #7E7E7E; 
  --syntax-name-constant: #A5A5A5; 
  --syntax-name-decorator: #555555; 
  --syntax-name-entity: #848484; 
  --syntax-name-exception: #575757; 
  --syntax-name-function-magic: #3F3F3F; 
  --syntax-name-function: #3F3F3F; 
  --syntax-name-label: #363636; 
  --syntax-name-namespace: #7E7E7E; 
  --syntax-name-other: #9A9A9A; 
  --syntax-name-tag: #3B3B3B; 
  --syntax-name-variable-class: #9A9A9A; 
  --syntax-name-variable-global: #9A9A9A; 
  --syntax-name-variable-instance: #9A9A9A; 
  --syntax-name-variable: #9A9A9A; 
  --syntax-name: #44475a;

  --syntax-number-bin: #888888; 
  --syntax-number-float: #888888; 
  --syntax-number-hex: #888888; 
  --syntax-number-integer-long: #888888; 
  --syntax-number-integer: #888888; 
  --syntax-number-oct: #888888; 
  --syntax-number: #888888; 

  --syntax-operator-word: #575757; 
  --syntax-operator: #666666; 

  --syntax-string-affix: #717171;
  --syntax-string-backtick: #717171;
  --syntax-string-char: #717171;
  --syntax-string-delimiter: #717171;
  --syntax-string-doc: #717171;
  --syntax-string-double: #717171;
  --syntax-string-escape: #717171;
  --syntax-string-heredoc: #717171;
  --syntax-string-interpol: #9F9F9F;
  --syntax-string-other: #7E7E7E;
  --syntax-string-regex: #575757;
  --syntax-string-single: #717171;
  --syntax-string-symbol: #676767;
  --syntax-string: #717171; 
}

