// ----------------------------------------------------------------------------
// solo scheme
// ----------------------------------------------------------------------------
:root[light] {
  --syntax-text: #fafafa;
  --syntax-container-color: #0f0f10;
  --syntax-highlight-color: #ffee58;

  --syntax-error: #b71c1c;
  --syntax-punctuation: #fafafa;
  --syntax-text-whitespace: #fafafa;

  --syntax-comment-hashbang: #8e9092;
  --syntax-comment-multiline: #8e9092;
  --syntax-comment-preproc: #8e9092;
  --syntax-comment-preprocfile: #8e9092;
  --syntax-comment-single: #8e9092;
  --syntax-comment-special: #8e9092;
  --syntax-comment: #8e9092;

  --syntax-generic-deleted: #b71c1c;
  --syntax-generic-emph: #e0e0e0;
  --syntax-generic-error: #e0e0e0;
  --syntax-generic-heading: #e0e0e0;
  --syntax-generic-inserted: #e0e0e0;
  --syntax-generic-output: #e0e0e0;
  --syntax-generic-prompt: #e0e0e0;
  --syntax-generic-strong: #e0e0e0;
  --syntax-generic-subheading: #e0e0e0;
  --syntax-generic-traceback: #e0e0e0;

  --syntax-keyword-constant: #147cf3;
  --syntax-keyword-declaration: #147cf3;
  --syntax-keyword-namespace: #147cf3;
  --syntax-keyword-pseudo: #147cf3;
  --syntax-keyword-reserved: #147cf3;
  --syntax-keyword-type: #147cf3;
  --syntax-keyword: #147cf3;

  --syntax-literal-date: #e0e0e0;
  --syntax-literal: #e0e0e0;

  --syntax-name-attribute: #01e676;
  --syntax-name-builtin-pseudo: #fafafa;
  --syntax-name-builtin: #0ca9f4;
  --syntax-name-class: #01e676;
  --syntax-name-constant: #0ca9f4;
  --syntax-name-decorator: #fafafa;
  --syntax-name-entity: #fafafa;
  --syntax-name-exception: #fafafa;
  --syntax-name-function-magic: #01e676;
  --syntax-name-function: #01e676;
  --syntax-name-label: #fb1d9e;
  --syntax-name-namespace: #fafafa;
  --syntax-name-other: #fafafa;
  --syntax-name-tag: #fb1d9e;
  --syntax-name-variable-class: #0ca9f4;
  --syntax-name-variable-global: #0ca9f4;
  --syntax-name-variable-instance: #0ca9f4;
  --syntax-name-variable: #0ca9f4;
  --syntax-name: #fafafa;

  --syntax-number-bin: #65c7fc;
  --syntax-number-float: #65c7fc;
  --syntax-number-hex: #65c7fc;
  --syntax-number-integer-long: #65c7fc;
  --syntax-number-integer: #65c7fc;
  --syntax-number-oct: #65c7fc;
  --syntax-number: #65c7fc;

  --syntax-operator-word: #0ca9f4;
  --syntax-operator: #0ca9f4;

  --syntax-string-affix: #bfa3f3;
  --syntax-string-backtick: #bfa3f3;
  --syntax-string-char: #bfa3f3;
  --syntax-string-delimiter: #bfa3f3;
  --syntax-string-doc: #bfa3f3;
  --syntax-string-double: #bfa3f3;
  --syntax-string-escape: #bfa3f3;
  --syntax-string-heredoc: #bfa3f3;
  --syntax-string-interpol: #bfa3f3;
  --syntax-string-other: #bfa3f3;
  --syntax-string-regex: #bfa3f3;
  --syntax-string-single: #bfa3f3;
  --syntax-string-symbol: #bfa3f3;
  --syntax-string: #bfa3f3;
}
:root[dark] {
  --syntax-text: #000;
  --syntax-container-color: #fafafa;
  --syntax-highlight-color: #ffee58;

  --syntax-error: #b71c1c;
  --syntax-punctuation: #000;
  --syntax-text-whitespace: #000;

  --syntax-comment-hashbang: #424242;
  --syntax-comment-multiline: #424242;
  --syntax-comment-preproc: #424242;
  --syntax-comment-preprocfile: #424242;
  --syntax-comment-single: #424242;
  --syntax-comment-special: #424242;
  --syntax-comment: #424242;

  --syntax-generic-deleted: #b71c1c;
  --syntax-generic-emph: #000;
  --syntax-generic-error: #000;
  --syntax-generic-heading: #000;
  --syntax-generic-inserted: #000;
  --syntax-generic-output: #000;
  --syntax-generic-prompt: #000;
  --syntax-generic-strong: #000;
  --syntax-generic-subheading: #000;
  --syntax-generic-traceback: #000;

  --syntax-keyword-constant: #147cf3;
  --syntax-keyword-declaration: #147cf3;
  --syntax-keyword-namespace: #147cf3;
  --syntax-keyword-pseudo: #147cf3;
  --syntax-keyword-reserved: #147cf3;
  --syntax-keyword-type: #147cf3;
  --syntax-keyword: #147cf3;

  --syntax-literal-date: #000;
  --syntax-literal: #000;

  --syntax-name-attribute: #04904c;
  --syntax-name-builtin-pseudo: #000;
  --syntax-name-builtin: #086895;
  --syntax-name-class: #04904c;
  --syntax-name-constant: #086895;
  --syntax-name-decorator: #000;
  --syntax-name-entity: #000;
  --syntax-name-exception: #000;
  --syntax-name-function-magic: #04904c;
  --syntax-name-function: #04904c;
  --syntax-name-label: #a71269;
  --syntax-name-namespace: #000;
  --syntax-name-other: #000;
  --syntax-name-tag: #a71269;
  --syntax-name-variable-class: #086895;
  --syntax-name-variable-global: #086895;
  --syntax-name-variable-instance: #086895;
  --syntax-name-variable: #086895;
  --syntax-name: #000;

  --syntax-number-bin: #0ca9f4;
  --syntax-number-float: #0ca9f4;
  --syntax-number-hex: #0ca9f4;
  --syntax-number-integer-long: #0ca9f4;
  --syntax-number-integer: #0ca9f4;
  --syntax-number-oct: #0ca9f4;
  --syntax-number: #0ca9f4;

  --syntax-operator-word: #086895;
  --syntax-operator: #086895;

  --syntax-string-affix: #521fae;
  --syntax-string-backtick: #521fae;
  --syntax-string-char: #521fae;
  --syntax-string-delimiter: #521fae;
  --syntax-string-doc: #521fae;
  --syntax-string-double: #521fae;
  --syntax-string-escape: #521fae;
  --syntax-string-heredoc: #521fae;
  --syntax-string-interpol: #521fae;
  --syntax-string-other: #521fae;
  --syntax-string-regex: #521fae;
  --syntax-string-single: #521fae;
  --syntax-string-symbol: #521fae;
  --syntax-string: #521fae;
}