// ----------------------------------------------------------------------------
// Theme stylesheet for all elements that get special attention
// ----------------------------------------------------------------------------
// Contains selectors for all themed elements.
// Only colors and fonts should be added here.
// See: _sass/yolo/themes for specific theme colors.
// ----------------------------------------------------------------------------
.yolo-themed {
  body {
    color: var(--on-primary-color);
    background-color: var(--primary-color);
    font-family: var(--font-family-primary);
  }

  a {
    color: var(--link-color);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
    font-family: var(--font-family-secondary), sans-serif;
  }

  blockquote {
    border-left: .25rem solid var(--tertiary-color);
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background-color: var(--secondary-container-color);
    color: var(--on-secondary-container-color);
    h1, h2, h3, h4, h5, h6 {
      color: var(--on-secondary-container-color);
    }
    b, strong, em, abbr, cite, del, ins, sup, sub, code {
      color: var(--on-secondary-container-color);
    }
    ul {
      li::before {
        color: var(--on-secondary-container-color);
      }
      li::marker {
        color: var(--on-secondary-container-color);
      }
    }

    ol {
      li::marker {
        color: var(--on-secondary-container-color);
      }
    }
    table {
      background-color: var(--secondary-container-color);
      border: 1px solid var(--on-secondary-container-color);
      th {
        background-color: var(--on-secondary-container-color);
        color: var(--secondary-container-color);
      }
      th:not(:last-child),
      td:not(:last-child) {
        border-right: 1px solid var(--on-secondary-container-color);
      }
      thead>tr:not(:last-child)>th,
      thead>tr:not(:last-child)>td,
      tbody>tr:not(:last-child)>th,
      tbody>tr:not(:last-child)>td,
      tfoot>tr:not(:last-child)>th,
      tfoot>tr:not(:last-child)>td,
      tr:not(:last-child)>td,
      tr:not(:last-child)>th,
      thead:not(:last-child),
      tbody:not(:last-child),
      tfoot:not(:last-child) {
        border-bottom: 1px solid var(--on-secondary-container-color);
      }
    }
    .highlighter-rouge, .highlight {
      color: var(--on-secondary-container-color);
    }
  }

  hr {
    border-bottom: 1px dashed var(--tertiary-color);
  }

  b, strong, em, abbr, cite, del, ins, sup, sub {
    color: var(--on-primary-color);
  }

  ul {
    li::before {
      color: var(--tertiary-color);
    }
    li::marker {
      color: var(--tertiary-color);
    }
  }

  ol {
    li::marker {
      color: var(--tertiary-color);
    }
  }

  table {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    th {
      font-family: var(--font-family-secondary);
      background-color: var(--secondary-color);
      color: var(--on-secondary-color);
    }
    th:not(:last-child),
    td:not(:last-child) {
      border-right: 1px solid var(--secondary-color);
    }
    thead>tr:not(:last-child)>th,
    thead>tr:not(:last-child)>td,
    tbody>tr:not(:last-child)>th,
    tbody>tr:not(:last-child)>td,
    tfoot>tr:not(:last-child)>th,
    tfoot>tr:not(:last-child)>td,
    tr:not(:last-child)>td,
    tr:not(:last-child)>th,
    thead:not(:last-child),
    tbody:not(:last-child),
    tfoot:not(:last-child) {
      border-bottom: 1px solid var(--secondary-color);
    }
  }

  .yolo-header {
    .tag {
      color: var(--on-primary-color);
      a {
        color: var(--on-primary-color);
        &:hover {
          color: var(--tertiary-color);
        }
        &:focus {
          color: var(--tertiary-color);
        }
      }
    }
    .description {
      color: var(--tertiary-color);
    }
  }

  .toggle-button {
    color: var(--secondary-color);
    &:hover {
      color: var(--tertiary-color);
    }
  }

  .yolo-footer {
    color: var(--tertiary-color);
  }

  .lb-modal {
    background-color: var(--primary-container-color);
    .yolo-caption {
      color: var(--on-primary-container-color);
    }
  }

  .lb-close {
    color: var(--tertiary-color);
  }

  .lb-close:hover,
  .lb-close:focus {
    color: var(--link-color);
  }

  .lb-nav {
    &:hover {
      background-color: rgba(var(--tertiary-color), 0.3);
    }
  }

  .lb-prev {
    color: var(--secondary-color);
    &:hover {
      color: var(--tertiary-color);
    }
  }

  .lb-next {
    color: var(--secondary-color);
    &:hover {
      color: var(--tertiary-color);
    }
  }

  .yolo-to-top {
    color: var(--secondary-color);
    span:hover {
      color: var(--tertiary-color);
    }
  }

  .yolo-caption {
    color: var(--on-primary-color);
  }

  .yolo-code-header {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
    font-family: var(--font-family-secondary);
    &:is(.copied, :hover) {
      background-color: var(--tertiary-color);
      color: var(--on-tertiary-color);
    }
  }

  .yolo-pill {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
    font-family: var(--font-family-monospace);
  }

  .yolo-pill:hover {
    background-color: var(--tertiary-color);
    color: var(--on-tertiary-color);
  }

  .sidebar {
    background-color: var(--primary-container-color);
    color: var(--on-primary-container-color);
    .nav-menu {
      ul {
        li {
          a {
            color: var(--on-primary-container-color);
            &:hover {
              color: var(--link-color);
            }
            &:focus {
              color: var(--link-color);
            }
          }
        }
        li::before {
          color: var(--on-primary-container-color);
        }
        li::marker {
          color: var(--on-primary-container-color);
        }
      }
    }
  }
  // CSS classes for theme colors
  .primary-color {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
  }
  .on-primary-color {
    background-color: var(--on-primary-color);
    color: var(--primary-color);
  }
  .primary-container-color {
    background-color: var(--primary-container-color);
    color: var(--on-primary-container-color);
  }
  .on-primary-container-color {
    background-color: var(--on-primary-container-color);
    color: var(--primary-container-color);
  }
  .secondary-color {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
  }
  .on-secondary-color {
    background-color: var(--on-secondary-color);
    color: var(--secondary-color);
  }
  .secondary-container-color {
    background-color: var(--secondary-container-color);
    color: var(--on-secondary-container-color);
  }
  .on-secondary-container-color {
    background-color: var(--on-secondary-container-color);
    color: var(--secondary-container-color);
  }
  .tertiary-color {
    background-color: var(--tertiary-color);
    color: var(--on-tertiary-color);
  }
  .on-tertiary-color {
    background-color: var(--on-tertiary-color);
    color: var(--tertiary-color);
  }
  .neutral-color {
    background-color: var(--neutral-color);
    color: var(--on-neutral-color);
  }
  .on-neutral-color {
    background-color: var(--on-neutral-color);
    color: var(--neutral-color);
  }
  .link-color {
    background-color: var(--link-color);
    color: var(--primary-color);
  }
  .error-color {
    background-color: var(--error-color);
    color: var(--on-error-color);
  }
  .on-error-color {
    background-color: var(--on-error-color);
    color: var(--error-color);
  }
  .warn-color {
    background-color: var(--warn-color);
    color: var(--on-warn-color);
  }
  .on-warn-color {
    background-color: var(--on-warn-color);
    color: var(--warn-color);
  }
  .info-color {
    background-color: var(--info-color);
    color: var(--on-info-color);
  }
  .on-info-color {
    background-color: var(--on-info-color);
    color: var(--info-color);
  }
  // CSS classes for syntax theme colors
  .syntax-container-color {
    background-color: var(--syntax-container-color);
    color: var(--syntax-text);
  }
  .syntax-text-color {
    background-color: var(--syntax-text);
    color: var(--syntax-container-color);
  }
  .syntax-highlight-line-color {
    background-color: var(--syntax-highlight-line);
    color: var(--syntax-text);
  }
  .syntax-error-color {
    background-color: var(--syntax-error);
    color: var(--syntax-text);
  }
  .syntax-punctuation-color {
    background-color: var(--syntax-punctuation);
    color: var(--syntax-text);
  }
  .syntax-text-whitespace-color {
    background-color: var(--syntax-text-whitespace);
    color: var(--syntax-container-color);
  }
  .syntax-comment-color {
    background-color: var(--syntax-comment);
    color: var(--syntax-text);
  }
  .syntax-comment-hashbang-color {
    background-color: var(--syntax-comment-hashbang-color);
    color: var(--syntax-text);
  }
  .syntax-comment-multiline-color {
    background-color: var(--syntax-comment-multiline);
    color: var(--syntax-text);
  }
  .syntax-comment-preproc-color {
    background-color: var(--syntax-comment-preproc);
    color: var(--syntax-text);
  }
  .syntax-comment-preprocfile-color {
    background-color: var(--syntax-comment-preprocfile);
    color: var(--syntax-text);
  }
  .syntax-comment-single-color {
    background-color: var(--syntax-comment-single);
    color: var(--syntax-text);
  }
  .syntax-comment-special-color {
    background-color: var(--syntax-comment-special);
    color: var(--syntax-text);
  }
  .syntax-generic-deleted-color {
    background-color: var(--syntax-generic-deleted);
    color: var(--syntax-text);
  }
  .syntax-generic-emph-color {
    background-color: var(--syntax-generic-emph);
    color: var(--syntax-text);
  }
  .syntax-generic-error-color {
    background-color: var(--syntax-generic-error);
    color: var(--syntax-text);
  }
  .syntax-generic-heading-color {
    background-color: var(--syntax-generic-heading);
    color: var(--syntax-text);
  }
  .syntax-generic-inserted-color {
    background-color: var(--syntax-generic-inserted);
    color: var(--syntax-text);
  }
  .syntax-generic-output-color {
    background-color: var(--syntax-generic-output);
    color: var(--syntax-text);
  }
  .syntax-generic-prompt-color {
    background-color: var(--syntax-generic-prompt);
    color: var(--syntax-text);
  }
  .syntax-generic-strong-color {
    background-color: var(--syntax-generic-strong);
    color: var(--syntax-text);
  }
  .syntax-generic-subheading-color {
    background-color: var(--syntax-generic-subheading);
    color: var(--syntax-text);
  }
  .syntax-generic-traceback-color {
    background-color: var(--syntax-generic-traceback);
    color: var(--syntax-text);
  }
  .syntax-keyword-color {
    background-color: var(--syntax-keyword);
    color: var(--syntax-text);
  }
  .syntax-keyword-constant-color {
    background-color: var(--syntax-keyword-constant);
    color: var(--syntax-text);
  }
  .syntax-keyword-declaration-color {
    background-color: var(--syntax-keyword-declaration);
    color: var(--syntax-text);
  }
  .syntax-keyword-namespace-color {
    background-color: var(--syntax-keyword-namespace);
    color: var(--syntax-text);
  }
  .syntax-keyword-pseudo-color {
    background-color: var(--syntax-keyword-pseudo);
    color: var(--syntax-text);
  }
  .syntax-keyword-reserved-color {
    background-color: var(--syntax-keyword-reserved);
    color: var(--syntax-text);
  }
  .syntax-keyword-type-color {
    background-color: var(--syntax-keyword-type);
    color: var(--syntax-text);
  }
  .syntax-literal-color {
    background-color: var(--syntax-literal);
    color: var(--syntax-text);
  }
  .syntax-literal-date-color {
    background-color: var(--syntax-literal-date);
    color: var(--syntax-text);
  }
  .syntax-name-color {
    background-color: var(--syntax-name);
    color: var(--syntax-text);
  }
  .syntax-name-attribute-color {
    background-color: var(--syntax-name-attribute);
    color: var(--syntax-text);
  }
  .syntax-name-builtin-pseudo-color {
    background-color: var(--syntax-name-builtin-pseudo);
    color: var(--syntax-text);
  }
  .syntax-name-builtin-color {
    background-color: var(--syntax-name-builtin);
    color: var(--syntax-text);
  }
  .syntax-name-class-color {
    background-color: var(--syntax-name-class);
    color: var(--syntax-text);
  }
  .syntax-name-constant-color {
    background-color: var(--syntax-name-constant);
    color: var(--syntax-text);
  }
  .syntax-name-decorator-color {
    background-color: var(--syntax-name-decorator);
    color: var(--syntax-text);
  }
  .syntax-name-entity-color {
    background-color: var(--syntax-name-entity);
    color: var(--syntax-text);
  }
  .syntax-name-exception-color {
    background-color: var(--syntax-name-exception);
    color: var(--syntax-text);
  }
  .syntax-name-function-magic-color {
    background-color: var(--syntax-name-function-magic);
    color: var(--syntax-text);
  }
  .syntax-name-function-color {
    background-color: var(--syntax-name-function);
    color: var(--syntax-text);
  }
  .syntax-name-label-color {
    background-color: var(--syntax-name-label);
    color: var(--syntax-text);
  }
  .syntax-name-namespace-color {
    background-color: var(--syntax-name-namespace);
    color: var(--syntax-text);
  }
  .syntax-name-other-color {
    background-color: var(--syntax-name-other);
    color: var(--syntax-text);
  }
  .syntax-name-tag-color {
    background-color: var(--syntax-name-tag);
    color: var(--syntax-text);
  }
  .syntax-name-variable-class-color {
    background-color: var(--syntax-name-variable-class);
    color: var(--syntax-text);
  }
  .syntax-name-variable-global-color {
    background-color: var(--syntax-name-variable-global);
    color: var(--syntax-text);
  }
  .syntax-name-variable-instance-color {
    background-color: var(--syntax-name-variable-instance);
    color: var(--syntax-text);
  }
  .syntax-name-variable-magic-color {
    background-color: var(--syntax-name-variable-magic);
    color: var(--syntax-text);
  }
  .syntax-name-variable-color {
    background-color: var(--syntax-name-variable);
    color: var(--syntax-text);
  }
  .syntax-number-bin-color {
    background-color: var(--syntax-number-bin);
    color: var(--syntax-text);
  }
  .syntax-number-float-color {
    background-color: var(--syntax-number-float);
    color: var(--syntax-text);
  }
  .syntax-number-hex-color {
    background-color: var(--syntax-number-hex);
    color: var(--syntax-text);
  }
  .syntax-number-integer-long-color {
    background-color: var(--syntax-number-integer-long);
    color: var(--syntax-text);
  }
  .syntax-number-integer-color {
    background-color: var(--syntax-number-integer);
    color: var(--syntax-text);
  }
  .syntax-number-oct-color {
    background-color: var(--syntax-number-oct);
    color: var(--syntax-text);
  }
  .syntax-number-color {
    background-color: var(--syntax-number);
    color: var(--syntax-text);
  }
  .syntax-operator-color {
    background-color: var(--syntax-operator);
    color: var(--syntax-text);
  }
  .syntax-operator-word-color {
    background-color: var(--syntax-operator-word);
    color: var(--syntax-text);
  }
  // Syntax Highlighting
  .highlight {
    background: var(--syntax-container-color);
    color: var(--syntax-text);
    .hll { color: var(--syntax-highlight-line); }
    .c   { color: var(--syntax-comment); }
    .c1  { color: var(--syntax-comment-single); }
    .ch  { color: var(--syntax-comment-hashbang); }
    .cm  { color: var(--syntax-comment-multiline); }
    .cp  { color: var(--syntax-comment-preproc); }
    .cpf { color: var(--syntax-comment-preprocfile); }
    .cs  { color: var(--syntax-comment-special); }
    .dl  { color: var(--syntax-string-delimiter); }
    .err { color: var(--syntax-error); }
    .gd  { color: var(--syntax-generic-deleted); }
    .ge  { color: var(--syntax-generic-emph); font-weight: bold; }
    .gh  { color: var(--syntax-generic-heading); font-weight: bold; }
    .gi  { color: var(--syntax-generic-inserted); }
    .go  { color: var(--syntax-generic-output); }
    .gp  { color: var(--syntax-generic-prompt); }
    .gr  { color: var(--syntax-generic-error); }
    .gs  { color: var(--syntax-generic-strong); font-weight: bold; }
    .gt  { color: var(--syntax-generic-traceback); }
    .gu  { color: var(--syntax-generic-subheading); }
    .hll { background-color: var(--syntax-highlight-line); }
    .k   { color: var(--syntax-keyword); font-weight: bold; }
    .kc  { color: var(--syntax-keyword-constant); }
    .kd  { color: var(--syntax-keyword-declaration); }
    .kn  { color: var(--syntax-keyword-namespace); }
    .kp  { color: var(--syntax-keyword-pseudo); }
    .kr  { color: var(--syntax-keyword-reserved); }
    .kt  { color: var(--syntax-keyword-type); }
    .l   { color: var(--syntax-literal); }
    .ld  { color: var(--syntax-literal-date); }
    .m   { color: var(--syntax-number); }
    .mb  { color: var(--syntax-number-bin); }
    .mf  { color: var(--syntax-number-float); }
    .mh  { color: var(--syntax-number-hex); }
    .mi  { color: var(--syntax-number-integer); }
    .il  { color: var(--syntax-number-integer-long); }
    .mo  { color: var(--syntax-number-oct); }
    .n   { color: var(--syntax-name); }
    .na  { color: var(--syntax-name-attribute); }
    .bp  { color: var(--syntax-name-builtin-pseudo); }
    .nb  { color: var(--syntax-name-builtin); }
    .nc  { color: var(--syntax-name-class); font-weight: bold; }
    .nd  { color: var(--syntax-name-decorator); }
    .ne  { color: var(--syntax-name-exception); font-weight: bold; }
    .fm  { color: var(--syntax-name-function-magic); }
    .nf  { color: var(--syntax-name-function); }
    .ni  { color: var(--syntax-name-entity); font-weight: bold; }
    .nl  { color: var(--syntax-name-label); }
    .nn  { color: var(--syntax-name-namespace); }
    .no  { color: var(--syntax-name-constant); }
    .nt  { color: var(--syntax-name-tag); }
    .nx  { color: var(--syntax-name-other); }
    .nv  { color: var(--syntax-name-variable); }
    .vc  { color: var(--syntax-name-variable-class); }
    .vg  { color: var(--syntax-name-variable-global); }
    .vi  { color: var(--syntax-name-variable-instance); }
    .vm  { color: var(--syntax-name-variable-magic); }
    .o   { color: var(--syntax-operator); }
    .ow  { color: var(--syntax-operator-word); }
    .p   { color: var(--syntax-punctuation); }
    .py  { color: var(--syntax-name-property); }
    .s   { color: var(--syntax-string); }
    .s1  { color: var(--syntax-string-single); }
    .s2  { color: var(--syntax-string-double); }
    .sa  { color: var(--syntax-string-affix); }
    .sb  { color: var(--syntax-string-backtick); }
    .sc  { color: var(--syntax-string-char); }
    .sd  { color: var(--syntax-string-doc); }
    .se  { color: var(--syntax-string-escape); }
    .sh  { color: var(--syntax-string-heredoc); }
    .si  { color: var(--syntax-string-interpol); }
    .sr  { color: var(--syntax-string-regex); }
    .ss  { color: var(--syntax-string-symbol); }
    .sx  { color: var(--syntax-string-other); }
    .w   { color: var(--syntax-text-whitespace); }
  }
}