// ----------------------------------------------------------------------------
// skeletor theme
// ----------------------------------------------------------------------------
// light mode colors
$light-primary-color: #dbddf8;
$light-secondary-color: #1a0037;
$light-accent-color: #502eb9;
$light-link-color: #1f56d8;
$light-code-background-color: #f4f5fb;
$light-code-color: #6843c8;
$light-sidebar-color: #f3f4fa;

// dark mode colors
$dark-primary-color: #1a0037;
$dark-secondary-color: #bdb7cf;
$dark-accent-color: #8f67fe;
$dark-link-color: #65e9fc;
$dark-code-background-color: #100020;
$dark-code-color: #b4a9e9;
$dark-sidebar-color: #1e0c4a;

// fonts
$family-primary: "Inconsolata", monospace;
$family-secondary: "Red Hat Text", sans-serif;
$family-monospace: "JetBrains Mono", monospace;