// ----------------------------------------------------------------------------
// hint syntax-theme
// ----------------------------------------------------------------------------
:root[light] {
  --syntax-text: #fefcfb;
  --syntax-container-color: #091129;
  
  --syntax-error: #b71c1c;
  --syntax-punctuation: #fefcfb;
  --syntax-text-whitespace: #fefcfb;
  
  --syntax-comment-hashbang: #9caee9;
  --syntax-comment-multiline: #9caee9;
  --syntax-comment-preproc: #9caee9;
  --syntax-comment-preprocfile: #9caee9;
  --syntax-comment-single: #9caee9;
  --syntax-comment-special: #9caee9;
  --syntax-comment: #9caee9;
  
  --syntax-generic-deleted: #b71c1c;
  --syntax-generic-emph: #fefcfb;
  --syntax-generic-error: #fefcfb;
  --syntax-generic-heading: #fefcfb;
  --syntax-generic-inserted: #fefcfb;
  --syntax-generic-output: #fefcfb;
  --syntax-generic-prompt: #fefcfb;
  --syntax-generic-strong: #fefcfb;
  --syntax-generic-subheading: #fefcfb;
  --syntax-generic-traceback: #fefcfb;
  
  --syntax-keyword-constant: #06a6dc;
  --syntax-keyword-declaration: #06a6dc;
  --syntax-keyword-namespace: #06a6dc;
  --syntax-keyword-pseudo: #06a6dc;
  --syntax-keyword-reserved: #06a6dc;
  --syntax-keyword-type: #06a6dc;
  --syntax-keyword: #06a6dc;
  
  --syntax-literal-date: #fefcfb;
  --syntax-literal: #fefcfb;
  
  --syntax-name-attribute: #01e676;
  --syntax-name-builtin-pseudo: #fefcfb;
  --syntax-name-builtin: #06a6dc;
  --syntax-name-class: #01e676;
  --syntax-name-constant: #06a6dc;
  --syntax-name-decorator: #fefcfb;
  --syntax-name-entity: #fefcfb;
  --syntax-name-exception: #fefcfb;
  --syntax-name-function-magic: #01e676;
  --syntax-name-function: #01e676;
  --syntax-name-label: #f72685;
  --syntax-name-namespace: #fefcfb;
  --syntax-name-other: #fefcfb;
  --syntax-name-tag: #f72685;
  --syntax-name-variable-class: #06a6dc;
  --syntax-name-variable-global: #06a6dc;
  --syntax-name-variable-instance: #06a6dc;
  --syntax-name-variable: #06a6dc;
  --syntax-name: #fefcfb;
  
  --syntax-number-bin: #bfa3f3;
  --syntax-number-float: #bfa3f3;
  --syntax-number-hex: #bfa3f3;
  --syntax-number-integer-long: #bfa3f3;
  --syntax-number-integer: #bfa3f3;
  --syntax-number-oct: #bfa3f3;
  --syntax-number: #bfa3f3;
  
  --syntax-operator-word: #06a6dc;
  --syntax-operator: #06a6dc;
  
  --syntax-string-affix: #f72685;
  --syntax-string-backtick: #f72685;
  --syntax-string-char: #f72685;
  --syntax-string-delimiter: #f72685;
  --syntax-string-doc: #f72685;
  --syntax-string-double: #f72685;
  --syntax-string-escape: #f72685;
  --syntax-string-heredoc: #f72685;
  --syntax-string-interpol: #f72685;
  --syntax-string-other: #f72685;
  --syntax-string-regex: #f72685;
  --syntax-string-single: #f72685;
  --syntax-string-symbol: #f72685;
  --syntax-string: #f72685;
}
:root[dark] {
  --syntax-text: #091129;
  --syntax-container-color: #fefcfb;
  
  --syntax-error: #b71c1c;
  --syntax-punctuation: #091129;
  --syntax-text-whitespace: #091129;
  
  --syntax-comment-hashbang: #3a555e;
  --syntax-comment-multiline: #3a555e;
  --syntax-comment-preproc: #3a555e;
  --syntax-comment-preprocfile: #3a555e;
  --syntax-comment-single: #3a555e;
  --syntax-comment-special: #3a555e;
  --syntax-comment: #3a555e;
  
  --syntax-generic-deleted: #b71c1c;
  --syntax-generic-emph: #091129;
  --syntax-generic-error: #091129;
  --syntax-generic-heading: #091129;
  --syntax-generic-inserted: #091129;
  --syntax-generic-output: #091129;
  --syntax-generic-prompt: #091129;
  --syntax-generic-strong: #091129;
  --syntax-generic-subheading: #091129;
  --syntax-generic-traceback: #091129;
  
  --syntax-keyword-constant: #06a6dc;
  --syntax-keyword-declaration: #06a6dc;
  --syntax-keyword-namespace: #06a6dc;
  --syntax-keyword-pseudo: #06a6dc;
  --syntax-keyword-reserved: #06a6dc;
  --syntax-keyword-type: #06a6dc;
  --syntax-keyword: #06a6dc;
  
  --syntax-literal-date: #091129;
  --syntax-literal: #091129;
  
  --syntax-name-attribute: #00a956;
  --syntax-name-builtin-pseudo: #091129;
  --syntax-name-builtin: #06a6dc;
  --syntax-name-class: #00a956;
  --syntax-name-constant: #06a6dc;
  --syntax-name-decorator: #091129;
  --syntax-name-entity: #091129;
  --syntax-name-exception: #091129;
  --syntax-name-function-magic: #00a956;
  --syntax-name-function: #00a956;
  --syntax-name-label: #f72685;
  --syntax-name-namespace: #091129;
  --syntax-name-other: #091129;
  --syntax-name-tag: #f72685;
  --syntax-name-variable-class: #06a6dc;
  --syntax-name-variable-global: #06a6dc;
  --syntax-name-variable-instance: #06a6dc;
  --syntax-name-variable: #06a6dc;
  --syntax-name: #091129;
  
  --syntax-number-bin: #612cc4;
  --syntax-number-float: #612cc4;
  --syntax-number-hex: #612cc4;
  --syntax-number-integer-long: #612cc4;
  --syntax-number-integer: #612cc4;
  --syntax-number-oct: #612cc4;
  --syntax-number: #612cc4;
  
  --syntax-operator-word: #06a6dc;
  --syntax-operator: #06a6dc;
  
  --syntax-string-affix: #f72685;
  --syntax-string-backtick: #f72685;
  --syntax-string-char: #f72685;
  --syntax-string-delimiter: #f72685;
  --syntax-string-doc: #f72685;
  --syntax-string-double: #f72685;
  --syntax-string-escape: #f72685;
  --syntax-string-heredoc: #f72685;
  --syntax-string-interpol: #f72685;
  --syntax-string-other: #f72685;
  --syntax-string-regex: #f72685;
  --syntax-string-single: #f72685;
  --syntax-string-symbol: #f72685;
  --syntax-string: #f72685;
}