// ----------------------------------------------------------------------------
// monokai scheme
// ----------------------------------------------------------------------------
:root[light] {
  --syntax-text: #e8e6e5;
  --syntax-container-color: #212121;

  --syntax-error: #ff6288;
  --syntax-punctuation: #e8e6e5;
  --syntax-text-whitespace: #e8e6e5;

  --syntax-comment-hashbang: #75715e;
  --syntax-comment-multiline: #75715e;
  --syntax-comment-preproc: #75715e;
  --syntax-comment-preprocfile: #75715e;
  --syntax-comment-single: #75715e;
  --syntax-comment-special: #75715e;
  --syntax-comment: #75715e;

  --syntax-generic-deleted: #ff6288;
  --syntax-generic-emph: #fc9867;
  --syntax-generic-error: #fc9867;
  --syntax-generic-heading: #fc9867;
  --syntax-generic-inserted: #fc9867;
  --syntax-generic-output: #fc9867;
  --syntax-generic-prompt: #fc9867;
  --syntax-generic-strong: #fc9867;
  --syntax-generic-subheading: #fc9867;
  --syntax-generic-traceback: #fc9867;

  --syntax-keyword-constant: #79dce8;
  --syntax-keyword-declaration: #79dce8;
  --syntax-keyword-namespace: #ff6288;
  --syntax-keyword-pseudo: #79dce8;
  --syntax-keyword-reserved: #79dce8;
  --syntax-keyword-type: #79dce8;
  --syntax-keyword: #79dce8;

  --syntax-literal-date: #ffd966;
  --syntax-literal: #ffd966;

  --syntax-name-attribute: #a9dd76;
  --syntax-name-builtin-pseudo: #e8e6e5;
  --syntax-name-builtin: #e8e6e5;
  --syntax-name-class: #a9dd76;
  --syntax-name-constant: #79dce8;
  --syntax-name-decorator: #a9dd76;
  --syntax-name-entity: #f8f8f2;
  --syntax-name-exception: #a9dd76;
  --syntax-name-function-magic: #a9dd76;
  --syntax-name-function: #a9dd76;
  --syntax-name-label: #e8e6e5;
  --syntax-name-namespace: #e8e6e5;
  --syntax-name-other: #a9dd76;
  --syntax-name-tag: #ff6288;
  --syntax-name-variable-class: #e8e6e5;
  --syntax-name-variable-global: #e8e6e5;
  --syntax-name-variable-instance: #e8e6e5;
  --syntax-name-variable: #e8e6e5;
  --syntax-name: #e8e6e5;

  --syntax-number-bin: #ac9df2;
  --syntax-number-float: #ac9df2;
  --syntax-number-hex: #ac9df2;
  --syntax-number-integer-long: #ac9df2;
  --syntax-number-integer: #ac9df2;
  --syntax-number-oct: #ac9df2;
  --syntax-number: #ac9df2;

  --syntax-operator-word: #ff6288;
  --syntax-operator: #ff6288;

  --syntax-string-affix: #ffd966;
  --syntax-string-backtick: #ffd966;
  --syntax-string-char: #ffd966;
  --syntax-string-delimiter: #ffd966;
  --syntax-string-doc: #ffd966;
  --syntax-string-double: #ffd966;
  --syntax-string-escape: #ac9df2;
  --syntax-string-heredoc: #ffd966;
  --syntax-string-interpol: #ffd966;
  --syntax-string-other: #ffd966;
  --syntax-string-regex: #ffd966;
  --syntax-string-single: #ffd966;
  --syntax-string-symbol: #ffd966;
  --syntax-string: #ffd966;
}
:root[dark] {
  --syntax-text: #e8e6e5;
--syntax-container-color: #212121;

--syntax-error: #ff6288;
--syntax-punctuation: #e8e6e5;
--syntax-text-whitespace: #e8e6e5;

--syntax-comment-hashbang: #75715e;
--syntax-comment-multiline: #75715e;
--syntax-comment-preproc: #75715e;
--syntax-comment-preprocfile: #75715e;
--syntax-comment-single: #75715e;
--syntax-comment-special: #75715e;
--syntax-comment: #75715e;

--syntax-generic-deleted: #ff6288;
--syntax-generic-emph: #fc9867;
--syntax-generic-error: #fc9867;
--syntax-generic-heading: #fc9867;
--syntax-generic-inserted: #fc9867;
--syntax-generic-output: #fc9867;
--syntax-generic-prompt: #fc9867;
--syntax-generic-strong: #fc9867;
--syntax-generic-subheading: #fc9867;
--syntax-generic-traceback: #fc9867;

--syntax-keyword-constant: #79dce8;
--syntax-keyword-declaration: #79dce8;
--syntax-keyword-namespace: #ff6288;
--syntax-keyword-pseudo: #79dce8;
--syntax-keyword-reserved: #79dce8;
--syntax-keyword-type: #79dce8;
--syntax-keyword: #79dce8;

--syntax-literal-date: #ffd966;
--syntax-literal: #ffd966;

--syntax-name-attribute: #a9dd76;
--syntax-name-builtin-pseudo: #e8e6e5;
--syntax-name-builtin: #e8e6e5;
--syntax-name-class: #a9dd76;
--syntax-name-constant: #79dce8;
--syntax-name-decorator: #a9dd76;
--syntax-name-entity: #f8f8f2;
--syntax-name-exception: #a9dd76;
--syntax-name-function-magic: #a9dd76;
--syntax-name-function: #a9dd76;
--syntax-name-label: #e8e6e5;
--syntax-name-namespace: #e8e6e5;
--syntax-name-other: #a9dd76;
--syntax-name-tag: #ff6288;
--syntax-name-variable-class: #e8e6e5;
--syntax-name-variable-global: #e8e6e5;
--syntax-name-variable-instance: #e8e6e5;
--syntax-name-variable: #e8e6e5;
--syntax-name: #e8e6e5;

--syntax-number-bin: #ac9df2;
--syntax-number-float: #ac9df2;
--syntax-number-hex: #ac9df2;
--syntax-number-integer-long: #ac9df2;
--syntax-number-integer: #ac9df2;
--syntax-number-oct: #ac9df2;
--syntax-number: #ac9df2;

--syntax-operator-word: #ff6288;
--syntax-operator: #ff6288;

--syntax-string-affix: #ffd966;
--syntax-string-backtick: #ffd966;
--syntax-string-char: #ffd966;
--syntax-string-delimiter: #ffd966;
--syntax-string-doc: #ffd966;
--syntax-string-double: #ffd966;
--syntax-string-escape: #ac9df2;
--syntax-string-heredoc: #ffd966;
--syntax-string-interpol: #ffd966;
--syntax-string-other: #ffd966;
--syntax-string-regex: #ffd966;
--syntax-string-single: #ffd966;
--syntax-string-symbol: #ffd966;
--syntax-string: #ffd966;
}

