<div class="column">
    <div class="cell is-circle-64 yolo-primary-color">&nbsp;</div>
    <p>yolo-primary-color</p>
    <div class="cell is-circle-64 yolo-secondary-color">&nbsp;</div>
    <p>yolo-secondary-color</p>
    <div class="cell is-circle-64 yolo-background-color">&nbsp;</div>
    <p>yolo-background-color</p>
    <div class="cell is-circle-64 yolo-dark-color">&nbsp;</div>
    <p>yolo-dark-color</p>
    <div class="cell is-circle-64 yolo-accent-color">&nbsp;</div>
    <p>yolo-accent-color</p>
    <div class="cell is-circle-64 yolo-code-background-color">&nbsp;</div>
    <p>yolo-code-background-color</p>
    <div class="cell is-circle-64 yolo-text-primary-color">&nbsp;</div>
    <p>yolo-text-primary-color</p>
    <div class="cell is-circle-64 yolo-text-secondary-color">&nbsp;</div>
    <p>yolo-text-secondary-color</p>
    <div class="cell is-circle-64 yolo-header-color">&nbsp;</div>
    <p>yolo-header-color</p>
    <div class="cell is-circle-64 yolo-code-primary-color">&nbsp;</div>
    <p>yolo-code-primary-color</p>
</div>
