<div class="column">
    <div class="cell is-circle-64 base-color">&nbsp;</div>
    <p>base-color</p>
    <div class="cell is-circle-64 secondary-color">&nbsp;</div>
    <p>secondary-color</p>
    <div class="cell is-circle-64 background-color">&nbsp;</div>
    <p>background-color</p>
    <div class="cell is-circle-64 background-darker-color">&nbsp;</div>
    <p>background-darker-color</p>
    <div class="cell is-circle-64 accent-color">&nbsp;</div>
    <p>accent-color</p>
    <div class="cell is-circle-64 code-background-color">&nbsp;</div>
    <p>code-background-color</p>
    <div class="cell is-circle-64 text-color">&nbsp;</div>
    <p>text-color</p>
    <div class="cell is-circle-64 text-secondary-color">&nbsp;</div>
    <p>text-secondary-color</p>
    <div class="cell is-circle-64 header-text-color">&nbsp;</div>
    <p>header-text-color</p>
    <div class="cell is-circle-64 text-code-color">&nbsp;</div>
    <p>text-code-color</p>
</div>
