<h3>Basic Flexbox</h3>

<div class="columns">
    <div class="column">
        <div class="cell is-primary">First column</div>
    </div>
    <div class="column">
        <div class="cell">Second column</div>
    </div>
    <div class="column">
        <div class="cell">Third column</div>
    </div>
    <div class="column">
        <div class="cell">Fourth column</div>
    </div>
</div>

<hr>

<h3>Custom Column Flexbox</h3>

<div class="columns">
    <div class="column is-full">
        <div class="cell is-primary">is-full</div>
    </div>
</div>

<div class="columns">
    <div class="column is-four-fifths">
        <div class="cell is-primary">is-four-fifths</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
</div>

<div class="columns">
    <div class="column is-three-quarters">
        <div class="cell is-primary">is-three-quarters</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
</div>

<div class="columns">
    <div class="column is-two-thirds">
        <div class="cell is-primary">is-two-thirds</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
</div>

<div class="columns">
    <div class="column is-three-fifths">
        <div class="cell is-primary">is-three-fifths</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
</div>

<div class="columns">
    <div class="column is-half">
        <div class="cell is-primary">is-half</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
</div>

<div class="columns">
    <div class="column is-two-fifths">
        <div class="cell is-primary">is-two-fifths</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
</div>

<div class="columns">
    <div class="column is-one-third">
        <div class="cell is-primary">is-one-third</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
</div>

<div class="columns">
    <div class="column is-one-quarter">
        <div class="cell is-primary">is-one-quarter</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
</div>

<div class="columns">
    <div class="column is-one-fifth">
        <div class="cell is-primary">is-one-fifth</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
    <div class="column">
        <div class="cell">Auto</div>
    </div>
</div>

<hr>

<h3>12 Column Flexbox</h3>

<div class="columns">
    <div class="column is-1">
        <div class="cell is-primary">is-1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
</div>

<div class="columns">
    <div class="column is-2">
        <div class="cell is-primary">is-2</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
</div>

<div class="columns">
    <div class="column is-3">
        <div class="cell is-primary">is-3</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
</div>

<div class="columns">
    <div class="column is-4">
        <div class="cell is-primary">is-4</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
</div>

<div class="columns">
    <div class="column is-5">
        <div class="cell is-primary">is-5</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
</div>

<div class="columns">
    <div class="column is-6">
        <div class="cell is-primary">is-6</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
</div>

<div class="columns">
    <div class="column is-7">
        <div class="cell is-primary">is-7</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
</div>

<div class="columns">
    <div class="column is-8">
        <div class="cell is-primary">is-8</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
</div>

<div class="columns">
    <div class="column is-9">
        <div class="cell is-primary">is-9</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
</div>

<div class="columns">
    <div class="column is-10">
        <div class="cell is-primary">is-10</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
</div>

<div class="columns">
    <div class="column is-11">
        <div class="cell is-primary">is-11</div>
    </div>
    <div class="column is-1">
        <div class="cell">1</div>
    </div>
</div>

<div class="columns">
    <div class="column is-12">
        <div class="cell is-primary">is-12</div>
    </div>
</div>