<div class="header">
    {% if site.logo %}
    <a href="./">
        <img class="logo" src="{{ site.logo }}" title="Site Logo">
    </a>
    {% endif %}
    <h1><a href="./">{{ site.tag_text }}</a></h1>
    <h4 class="is-italic">{{ site.description }}</h4>
    <p>
        <span>
          {% for tag in page.tags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
            <code onclick="console.log(Yolo.version());" class="pill"><nobr>{{ tag_name }}</nobr></code>
          {% endfor %}
        </span>
    </p>
</div>