<head>
    <!-- Site metadata -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.data.settings.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Site title -->
    <title>{{ site.data.settings.title }}</title>
    <!-- Pre-body JavaScript files -->
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/snippets.js"></script>
    <!-- Site styling resources including fonts -->
    {% include styles.html %}
</head>
