<h5><code>is-list</code></h5>

<ul class="is-list">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5><code>is-list no-bullets</code></h5>

<ul class="is-list no-bullets">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5><code>is-list no-bullets is-annotated</code></h5>

<ul class="is-list no-bullets is-annotated">
    <li><span>Player</span><span></span><span>Babe Ruth</span></li>
    <li><span>Player</span><span></span><span>Willie Mays</span></li>
    <li><span>Player</span><span></span><span>Mookie Wilson</span></li>
</ul>

<h5><code>is-list is-dot</code></h5>

<ul class="is-list is-dot">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5><code>is-list is-dot is-annotated</code></h5>

<ul class="is-list is-dot is-annotated">
    <li><span>Player</span><span></span><span>Babe Ruth</span></li>
    <li><span>Player</span><span></span><span>Willie Mays</span></li>
    <li><span>Player</span><span></span><span>Mookie Wilson</span></li>
</ul>

<h5><code>is-list is-sublist is-dot is-annotated</code></h5>

<ul class="is-list is-sublist is-dot is-annotated">
    <li><span>Players</span><span></span>
        <ul class="is-list is-sublist is-dot is-annotated">
            <li><span>Player</span><span></span><span>Babe Ruth</span>
                <ul class="is-list is-sublist is-dot is-annotated">
                    <li><span>Player</span><span></span><span>Babe Ruth</span></li>
                    <li><span>Player</span><span></span><span>Willie Mays</span></li>
                    <li><span>Player</span><span></span><span>Mookie Wilson</span></li>
                </ul>
            </li>
            <li><span>Player</span><span></span><span>Willie Mays</span>
                <ul class="is-list is-sublist is-dot is-annotated">
                    <li><span>Player</span><span></span><span>Babe Ruth</span></li>
                    <li><span>Player</span><span></span><span>Willie Mays</span></li>
                    <li><span>Player</span><span></span><span>Mookie Wilson</span></li>
                </ul>
            </li>
            <li><span>Player</span><span></span><span>Mookie Wilson</span>
                <ul class="is-list is-sublist is-dot is-annotated">
                    <li><span>Player</span><span></span><span>Babe Ruth</span></li>
                    <li><span>Player</span><span></span><span>Willie Mays</span></li>
                    <li><span>Player</span><span></span><span>Mookie Wilson</span></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<h5><code>is-list is-circle</code></h5>

<ul class="is-list is-circle">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5><code>is-list is-triangle</code></h5>

<ul class="is-list is-triangle">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5><code>is-list is-star</code></h5>

<ul class="is-list is-star">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5><code>is-list is-snowflake</code></h5>

<ul class="is-list is-snowflake">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5><code>is-list is-plus</code></h5>

<ul class="is-list is-plus">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5><code>is-list is-dash</code></h5>

<ul class="is-list is-dash">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5><code>is-list is-asterisk</code></h5>

<ul class="is-list is-asterisk">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5><code>is-list is-hash</code></h5>

<ul class="is-list is-hash">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5><code>is-list is-equalsign</code></h5>

<ul class="is-list is-equalsign">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5><code>is-list is-greaterthansign</code></h5>

<ul class="is-list is-greaterthansign">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5><code>is-list is-lessthansign</code></h5>

<ul class="is-list is-lessthansign">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5><code>is-list is-tilde</code></h5>

<ul class="is-list is-tilde">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5><code>is-list has-border</code></h5>

<ul class="is-list has-border">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>
