<h5>no-bullets</h5>

<ul class="no-bullets">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5>no-bullets is-annotated</h5>

<ul class="no-bullets is-annotated">
    <li><span>Player</span><span></span><span>Babe Ruth</span></li>
    <li><span>Player</span><span></span><span>Willie Mays</span></li>
    <li><span>Player</span><span></span><span>Mookie Wilson</span></li>
</ul>

<h5>is-dot</h5>

<ul class="is-dot">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h5>is-dot is-annotated</h5>

<ul class="is-dot is-annotated">
    <li><span>Player</span><span></span><span>Babe Ruth</span></li>
    <li><span>Player</span><span></span><span>Willie Mays</span></li>
    <li><span>Player</span><span></span><span>Mookie Wilson</span></li>
</ul>

<h5>is-dot is-sublist</h5>

<ul class="is-dot is-sublist">
    <li>Players
        <ul class="is-dot is-sublist">
            <li>Babe Ruth</li>
            <li>Willie Mays</li>
            <li>Mookie Wilson</li>
        </ul>
    </li>
</ul>

<h5>is-dot is-sublist is-annotated</h5>

<ul class="is-dot is-sublist is-annotated">
    <li>Players
        <ul class="is-dot is-sublist is-annotated">
            <li><span>Player</span><span></span><span>Babe Ruth</span></li>
            <li><span>Player</span><span></span><span>Willie Mays</span></li>
            <li><span>Player</span><span></span><span>Mookie Wilson</span></li>
        </ul>
    </li>
</ul>

<h5>is-dot is-sublist is-annotated</h5>

<ul class="is-dot">
    <li><strong>Players: </strong>
        <ul class="is-dot">
            <li><strong>Player: </strong>Babe Ruth
                <ul class="is-dot is-sublist">
                    <li><strong>HR: </strong>714</li>
                    <li><strong>AVG: </strong>.342</li>
                    <li><strong>HITS: </strong>2873</li>
                </ul>
            </li>
            <li><strong>Player: </strong>Willie Mays
                <ul class="is-dot is-sublist">
                    <li><strong>HR: </strong>660</li>
                    <li><strong>AVG: </strong>.301</li>
                    <li><strong>HITS: </strong>3293</li>
                </ul>
            </li>
            <li><strong>Player: </strong>Mookie Wilson
                <ul class="is-dot is-sublist">
                    <li><strong>HR: </strong>67</li>
                    <li><strong>AVG: </strong>.274</li>
                    <li><strong>HITS: </strong>1397</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<h4>is-circle</h4>

<ul class="is-circle">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h4>is-triangle</h4>

<ul class="is-triangle">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h4>is-star</h4>

<ul class="is-star">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h4>is-snowflake</h4>

<ul class="is-snowflake">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h4>is-plus</h4>

<ul class="is-plus">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h4>is-dash</h4>

<ul class="is-dash">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h4>is-asterisk</h4>

<ul class="is-asterisk">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h4>is-hash</h4>

<ul class="is-hash">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h4>is-equalsign</h4>

<ul class="is-equalsign">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h4>is-greaterthansign</h4>

<ul class="is-greaterthansign">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h4>is-lessthansign</h4>

<ul class="is-lessthansign">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h4>is-tilde</h4>

<ul class="is-tilde">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h4>is-test</h4>

<ul class="is-test">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>

<h4>has-border</h4>

<ul class="has-border">
    <li>Babe Ruth</li>
    <li>Willie Mays</li>
    <li>Mookie Wilson</li>
</ul>
