<script>
const codeBlocks = document.querySelectorAll('.code-header + .highlighter-rouge');
const codeCopyElements = document.querySelectorAll('.code-header');

codeCopyElements.forEach((codeCopyElement, index) => {
    const code = codeBlocks[index].innerText;
    codeCopyElement.addEventListener('click', () => {
        window.navigator.clipboard.writeText(code);
        codeCopyElement.classList.add('copied');
        const infoText = codeCopyElement.innerHTML.trim();
        codeCopyElement.innerHTML = codeCopyElement.innerHTML + " copied!"
        setTimeout(() => {
            codeCopyElement.innerHTML = infoText;
            codeCopyElement.classList.remove('copied');
        }, 2000);
    });
});

const igModal = document.getElementById("ig-modal");
const igModalContent = document.getElementById("ig-modal-content");
const igModalCaption = document.getElementById("ig-modal-caption");
const igModalClose = document.getElementsByClassName("ig-modal-close")[0];
const igImages = document.querySelectorAll('.ig-image');

igModalClose.onclick = function() {
    igModal.style.display = "none";
}

igImages.forEach((igImage, index) => {
    igImage.onclick = function() {
        igModal.style.display = "block";
        igModalContent.src = this.src;
        igModalCaption.innerHTML = this.alt;
    }
});
</script>