<div id="sidebar" class="sidebar">
    <div class="inner">
        <nav id="sidebar-nav">
            <ul id="sidebar-nav-links">
                <li>
                    <a href="./">
                        <span>{{ site.tag_text }}</span>
                    </a>
                </li>
                <li>
                    <a href="./#usage">
                        <span>Usage</span>
                    </a>
                </li>
                <li>
                    <a href="./#themes">
                        <span>Themes</span>
                    </a>
                </li>
                <li>
                    <a href="./#yolo-elements">
                        <span>Yolo Elements</span>
                    </a>
                </li>
                <li>
                    <a href="./#thanks">
                        <span>Thanks</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>