<!--
  This template is for demonstrating theme fonts on example index.md,
  and not intended to be a reusable template.
-->
<h4>Three families</h4>

<ul>
    <li class="is-family-primary">Primary Font Family - body and most text</li>
    <li class="is-family-secondary">Secondary Font Family - headers and accent text</li>
    <li class="is-monospaced-font">Monospaced Font Family - code</li>
</ul>

<h4>Primary</h4>

<ul class="no-bullets">
    <li class="is-family-primary is-size-7">This is-size-7 text.</li>
    <li class="is-family-primary is-size-6">This is-size-6 text.</li>
    <li class="is-family-primary is-size-5">This is-size-5 text.</li>
    <li class="is-family-primary is-size-4">This is-size-4 text.</li>
    <li class="is-family-primary is-size-3">This is-size-3 text.</li>
    <li class="is-family-primary is-size-2">This is-size-2 text.</li>
    <li class="is-family-primary is-size-1">This is-size-1 text.</li>
</ul>

<h4>Secondary</h4>

<ul class="no-bullets">
    <li class="is-family-secondary is-size-7">This is-size-7 text.</li>
    <li class="is-family-secondary is-size-6">This is-size-6 text.</li>
    <li class="is-family-secondary is-size-5">This is-size-5 text.</li>
    <li class="is-family-secondary is-size-4">This is-size-4 text.</li>
    <li class="is-family-secondary is-size-3">This is-size-3 text.</li>
    <li class="is-family-secondary is-size-2">This is-size-2 text.</li>
    <li class="is-family-secondary is-size-1">This is-size-1 text.</li>
</ul>

<h4>Monospace</h4>

<ul class="no-bullets">
    <li class="is-family-monospace is-size-7">This is-size-7 text.</li>
    <li class="is-family-monospace is-size-6">This is-size-6 text.</li>
    <li class="is-family-monospace is-size-5">This is-size-5 text.</li>
    <li class="is-family-monospace is-size-4">This is-size-4 text.</li>
    <li class="is-family-monospace is-size-3">This is-size-3 text.</li>
    <li class="is-family-monospace is-size-2">This is-size-2 text.</li>
    <li class="is-family-monospace is-size-1">This is-size-1 text.</li>
</ul>