<h3>Three families</h3>

<ul class="no-bullets">
    <li class="is-family-primary">
        Primary Font Family
    </li>
    <li class="is-family-secondary">
        Secondary Font Family
    </li>
    <li class="is-monospaced-font">
        Monospaced Font Family
    </li>
</ul>

<h3>Primary</h3>

<ul class="no-bullets">
    <li class="is-family-primary is-size-7">
        This is x-small text.
    </li>
    <li class="is-family-primary is-size-6">
        This is small text.
    </li>
    <li class="is-family-primary is-size-5">
        This is medium text.
    </li>
    <li class="is-family-primary is-size-4">
        This is large text.
    </li>
    <li class="is-family-primary is-size-3">
        This is x-large text.
    </li>
    <li class="is-family-primary is-size-2">
        This is xx-large text.
    </li>
    <li class="is-family-primary is-size-1">
        This is xxx-large text.
    </li>
</ul>

<h3>Secondary</h3>

<ul class="no-bullets">
    <li class="is-family-secondary is-size-7">
        This is x-small text.
    </li>
    <li class="is-family-secondary is-size-6">
        This is small text.
    </li>
    <li class="is-family-secondary is-size-5">
        This is medium text.
    </li>
    <li class="is-family-secondary is-size-4">
        This is large text.
    </li>
    <li class="is-family-secondary is-size-3">
        This is x-large text.
    </li>
    <li class="is-family-secondary is-size-2">
        This is xx-large text.
    </li>
    <li class="is-family-secondary is-size-1">
        This is xxx-large text.
    </li>
</ul>

<h3>Monospace</h3>

<ul class="no-bullets">
    <li class="is-family-monospace is-size-7">
        This is x-small text.
    </li>
    <li class="is-family-monospace is-size-6">
        This is small text.
    </li>
    <li class="is-family-monospace is-size-5">
        This is medium text.
    </li>
    <li class="is-family-monospace is-size-4">
        This is large text.
    </li>
    <li class="is-family-monospace is-size-3">
        This is x-large text.
    </li>
    <li class="is-family-monospace is-size-2">
        This is xx-large text.
    </li>
    <li class="is-family-monospace is-size-1">
        This is xxx-large text.
    </li>
</ul>