<div class="fancy-list">
    <section>
        <ul>
            <li class="yolo-menu-item">
                <div class="columns">
                    <div class="column">
                        <span class="yolo-date">2022-12-20</span>
                        <span class="yolo-title">
                            <a href="https://github.com/corbtastik/yolo" title="fun-with-flexbox">samples/flexbox</a>
                        </span>
                        <span class="yolo-description">Fun with Flexbox</span>
                    </div>
                </div>
            </li>
            <li class="yolo-menu-item">
                <div class="columns">
                    <div class="column">
                        <img src="assets/images/welcome-to-marfa.jpg" alt="welcome-to-marfa">
                        <span class="yolo-date">2022-12-10</span>
                        <span class="yolo-title">
                            <a href="https://github.com/corbtastik/yolo" title="Welcome to Marfa">vacay/marfa</a>
                        </span>
                        <span class="yolo-description">Welcome to Marfa!</span>
                    </div>
                </div>
            </li>
            <li class="yolo-menu-item">
                <div class="columns">
                    <div class="column">
                        <span class="yolo-date">2022-11-11</span>
                        <span class="yolo-title">
                            <a href="https://github.com/corbtastik/yolo" title="Mon 11/07 to Fri 11/11">week-45</a>
                        </span>
                        <span class="yolo-description">Mon 11/07 to Fri 11/11</span>
                        <div class="pills">
                            <a class="pill" href="https://github.com/corbtastik/yolo">#weekly-report</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#week-45</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#sprint</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#development</a>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </div>
            </li>
            <li class="yolo-menu-item">
                <div class="columns">
                    <div class="column">
                        <span class="yolo-date">2022-11-10</span>
                        <span class="yolo-title">
                            <a href="https://github.com/corbtastik/yolo" title="Banter in Banff">vacay/banff</a>
                        </span>
                        <span class="yolo-description">Cobro bantering in Banff</span>
                        <div class="pills">
                            <a class="pill" href="https://github.com/corbtastik/yolo">#vacay</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#banff</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#canada</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#goodtimes</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#cobro</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#moraine-lake</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#lake-louise</a>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </div>
            </li>
            <li class="yolo-menu-item">
                <div class="columns">
                    <div class="column">
                        <img src="assets/images/me.png">
                        <span class="yolo-date">2022-11-04</span>
                        <span class="yolo-title">
                            <a href="https://github.com/corbtastik/yolo" title="Mon 10/31 to Fri 11/04">week-44</a>
                        </span>
                        <span class="yolo-description">Mon 10/31 to Fri 11/04</span>
                        <div class="pills">
                            <a class="pill" href="https://github.com/corbtastik/yolo">#weekly-report</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#week-44</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#sprint</a>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </div>
            </li>
            <li class="yolo-menu-item">
                <div class="columns">
                    <div class="column">
                        <img src="assets/images/snippet.jpg">
                        <span class="yolo-date">2022-09-08</span>
                        <span class="yolo-title">
                          <a href="https://github.com/corbtastik/yolo" title="Yummo code highlighting and snippet copy">samples/code-snippets</a>
                        </span>
                        <span class="yolo-description">Yummo code highlighting and snippet copy</span>
                        <div class="pills">
                            <a class="pill" href="https://github.com/corbtastik/yolo">#syntax-highlighting</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#code</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#css</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#snippets</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#bash</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#java</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#javascript</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#json</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#kotlin</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#python</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#c</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#c++</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#html</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#yaml</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#dart</a>
                            <a class="pill" href="https://github.com/corbtastik/yolo">#go</a>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>
