<div class="columns">
    <div class="column">
        <div class="cell neutral-color is-family-monospace">neutral-color</div>
    </div>
    <div class="column">
        <div class="cell on-neutral-color is-family-monospace">on-neutral-color</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="cell error-color is-family-monospace">error-color</div>
    </div>
    <div class="column">
        <div class="cell on-error-color is-family-monospace">on-error-color</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="cell warn-color is-family-monospace">warn-color</div>
    </div>
    <div class="column">
        <div class="cell on-warn-color is-family-monospace">on-warn-color</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="cell info-color is-family-monospace">info-color</div>
    </div>
    <div class="column">
        <div class="cell on-info-color is-family-monospace">on-info-color</div>
    </div>
</div>