<div class="columns">
    <div class="column">
        <div class="cell syntax-container-color">bg</div>
    </div>
    <div class="column">
        <div class="cell syntax-text-color">txt</div>
    </div>
    <div class="column">
        <div class="cell syntax-highlight-line-color">hll</div>
    </div>
    <div class="column">
        <div class="cell syntax-text-color">syntax-text-color</div>
    </div>
    <div class="column">
        <div class="cell syntax-container-color">syntax-container-color</div>
    </div>
    <div class="column">
        <div class="cell syntax-text-color">syntax-text-color</div>
    </div>
    <div class="column">
        <div class="cell syntax-container-color">syntax-container-color</div>
    </div>
</div>