<h4 class="no-toc">Background and Text</h4>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-container-color">container</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-text-color">text</div>
    </div>
</div>
<h4 class="no-toc">Name Tokens</h4>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-color">name (n)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-attribute-color">name-attribute (na)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-builtin-pseudo-color">name-builtin-pseudo (bq)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-builtin-color">name-builtin (nb)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-class-color">name-class (nc)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-constant-color">name-constant (no)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-decorator-color">name-decorator (nd)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-entity-color">name-entity (ni)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-exception-color">name-exception (ne)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-function-magic-color">name-function-magic (fm)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-function-color">name-function (nf)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-label-color">name-label (nl)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-namespace-color">name-namespace (nn)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-other-color">name-other (nx)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-property-color">name-property (py)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-tag-color">name-tag (nt)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-variable-color">name-variable (nv)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-variable-class-color">name-variable-class (vc)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-variable-global-color">name-variable-global (vg)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-variable-instance-color">name-variable-instance (vi)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-name-variable-magic-color">name-variable-magic (vm)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace primary-color">&nbsp;</div>
    </div>
</div>
<h4 class="no-toc">String Tokens</h4>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-string-color">string (s)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-string-single-color">string-single (s1)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-string-double-color">string-double (s2)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-string-affix-color">string-affix (sa)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-string-backtick-color">string-backtick (sb)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-string-char-color">string-char (sc)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-string-doc-color">string-doc (sd)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-string-escape-color">string-escape (se)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-string-heredoc-color">string-heredoc (sh)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-string-interpol-color">string-interpol (si)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-string-regex-color">string-regex (sr)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-string-symbol-color">string-symbol (ss)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-string-other-color">string-other (sx)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace primary-color">&nbsp;</div>
    </div>
</div>
<h4 class="no-toc">Generic Tokens</h4>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-generic-deleted-color">generic-deleted (gd)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-generic-emph-color">generic-emph (ge)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-generic-error-color">generic-error (ge)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-generic-heading-color">generic-heading (gh)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-generic-inserted-color">generic-inserted (gi)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-generic-output-color">generic-output (go)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-generic-prompt-color">generic-prompt (gp)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-generic-strong-color">generic-strong (gs)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-generic-subheading-color">generic-subheading (gu)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-generic-traceback-color">generic-traceback (gt)</div>
    </div>
</div>
<h4 class="no-toc">Comment Tokens</h4>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-comment-color">comment (c)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-comment-hashbang-color">comment-hashbang (ch)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-comment-multiline-color">comment-multiline (cm)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-comment-preproc-color">comment-preproc (cp)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-comment-preprocfile-color">comment-preprocfile (cpf)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-comment-single-color">comment-single (c1)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-comment-special-color">comment-special (cs)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace primary-color">&nbsp;</div>
    </div>
</div>
<h4 class="no-toc">Keyword Tokens</h4>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-keyword-color">keyword (k)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-keyword-constant-color">keyword-constant (kc)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-keyword-declaration-color">keyword-declaration (kd)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-keyword-namespace-color">keyword-namespace (kn)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-keyword-pseudo-color">keyword-pseudo (kp)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-keyword-reserved-color">keyword-reserved (kr)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-keyword-type-color">keyword-type (kt)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace primary-color">&nbsp;</div>
    </div>
</div>
<h4 class="no-toc">Number Tokens</h4>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-number-color">number (m)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-number-bin-color">number-bin (mb)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-number-float-color">number-float (mf)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-number-hex-color">number-hex (mh)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-number-integer-long-color">number-integer-long (il)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-number-integer-color">number-integer (mi)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-number-oct-color">number-oct (mo)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace primary-color">&nbsp;</div>
    </div>
</div>
<h4 class="no-toc">Error and Misc Tokens</h4>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-error-color">error (err)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-punctuation-color">punctuation (p)</div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-text-whitespace-color">whitespace (w)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-highlight-line-color">highlight-line (hll)</div>
    </div>
</div>
<h4 class="no-toc">Literal and Date Tokens</h4>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-literal-color">literal (l)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-literal-date-color">literal-date (ld)</div>
    </div>
</div>
<h4 class="no-toc">Operator Tokens</h4>
<div class="columns">
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-operator-color">operator (o)</div>
    </div>
    <div class="column">
        <div class="yolo-swatch is-family-monospace syntax-operator-word-color">operator-word (ow)</div>
    </div>
</div>