<div class="columns">
	<div class="column">
		<div class="cell primary-color is-family-monospace">primary-color</div>
	</div>
	<div class="column">
		<div class="cell on-primary-color is-family-monospace">on-primary-color</div>
	</div>	
</div>
<div class="columns">
	<div class="column">
		<div class="cell primary-container-color is-family-monospace">primary-container-color</div>
	</div>
	<div class="column">
		<div class="cell on-primary-container-color is-family-monospace">on-primary-container-color</div>
	</div>	
</div>
<div class="columns">
	<div class="column">
		<div class="cell secondary-color is-family-monospace">secondary-color</div>
	</div>
	<div class="column">
		<div class="cell on-secondary-color is-family-monospace">on-secondary-color</div>
	</div>	
</div>
<div class="columns">
	<div class="column">
		<div class="cell secondary-container-color is-family-monospace">secondary-container-color</div>
	</div>
	<div class="column">
		<div class="cell on-secondary-container-color is-family-monospace">on-secondary-container-color</div>
	</div>	
</div>
<div class="columns">
	<div class="column">
		<div class="cell tertiary-color is-family-monospace">tertiary-color</div>
	</div>
	<div class="column">
		<div class="cell on-tertiary-color is-family-monospace">on-tertiary-color</div>
	</div>	
</div>
<div class="columns">
	<div class="column">
		<div class="cell link-color is-family-monospace">link-color</div>
	</div>
</div>