<div class="yolo-typography-swatches">
    <h3 class="no-toc">Three Families</h3>
    <p class="is-family-primary">Primary Font Family: body and most text</p>
    <p class="is-family-secondary">Secondary Font Family: headers and accent text</p>
    <p class="is-family-monospace">Monospaced Font Family: code</p>
    <blockquote>
        <p><strong>Note</strong>: Click each pill to see the font-family and font-size(s).</p>
    </blockquote>
    <div class="yolo-tabs">
        <button class="yolo-tab-button yolo-tab-links" data-open-tab="primaryFamily">Primary</button>
        <button class="yolo-tab-button yolo-tab-links" data-open-tab="secondaryFamily">Secondary</button>
        <button class="yolo-tab-button yolo-tab-links" data-open-tab="monospaceFamily">Monospace</button>
    </div>
    <div id="primaryFamily" class="yolo-tab-content">
        <h4 class="no-toc">Primary Family</h4>
        <div class="columns">
            <div class="column">
                <p class="is-family-primary is-size-7">size-7 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-primary is-size-6">size-6 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-primary is-size-5">size-5 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-primary is-size-4">size-4 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-primary is-size-3">size-3 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-primary is-size-2">size-2 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-primary is-size-1">size-1 text</p>
            </div>
        </div>
    </div>
    <div id="secondaryFamily" class="yolo-tab-content">
        <h4 class="no-toc">Secondary Family</h4>
        <div class="columns">
            <div class="column">
                <p class="is-family-secondary is-size-7">size-7 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-secondary is-size-6">size-6 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-secondary is-size-5">size-5 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-secondary is-size-4">size-4 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-secondary is-size-3">size-3 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-secondary is-size-2">size-2 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-secondary is-size-1">size-1 text</p>
            </div>
        </div>
    </div>
    <div id="monospaceFamily" class="yolo-tab-content">
        <h4 class="no-toc">Monospace Family</h4>
        <div class="columns">
            <div class="column">
                <p class="is-family-monospace is-size-7">size-7 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-monospace is-size-6">size-6 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-monospace is-size-5">size-5 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-monospace is-size-4">size-4 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-monospace is-size-3">size-3 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-monospace is-size-2">size-2 text</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-family-monospace is-size-1">size-1 text</p>
            </div>
        </div>
    </div>
</div>