// ----------------------------------------------------------------------------
// dracula syntax theme
// ----------------------------------------------------------------------------
:root[light] {
  --syntax-text: #f8f8f2;
  --syntax-container-color: #282a36;
  --syntax-highlight-color: #44475a;

  --syntax-error: #f8f8f2;
  --syntax-punctuation: #f8f8f2;
  --syntax-text-whitespace: #f8f8f2;

  --syntax-comment-hashbang: #6272a4;
  --syntax-comment-multiline: #6272a4;
  --syntax-comment-preproc: #ff79c6;
  --syntax-comment-preprocfile: #ff79c6;
  --syntax-comment-single: #6272a4;
  --syntax-comment-special: #6272a4;
  --syntax-comment: #6272a4;

  --syntax-generic-deleted: #8b080b;
  --syntax-generic-emph: #f8f8f2;
  --syntax-generic-error: #f8f8f2;
  --syntax-generic-heading: #f8f8f2;
  --syntax-generic-inserted: #f8f8f2;
  --syntax-generic-output: #44475a;
  --syntax-generic-prompt: #f8f8f2;
  --syntax-generic-strong: #f8f8f2;
  --syntax-generic-subheading: #f8f8f2;
  --syntax-generic-traceback: #f8f8f2;

  --syntax-keyword-constant: #ff79c6;
  --syntax-keyword-declaration: #8be9fd;
  --syntax-keyword-namespace: #ff79c6;
  --syntax-keyword-pseudo: #ff79c6;
  --syntax-keyword-reserved: #ff79c6;
  --syntax-keyword-type: #8be9fd;
  --syntax-keyword: #ff79c6;

  --syntax-literal-date: #f8f8f2;
  --syntax-literal: #f8f8f2;

  --syntax-name-attribute: #50fa7b;
  --syntax-name-builtin-pseudo: #f8f8f2;
  --syntax-name-builtin: #8be9fd;
  --syntax-name-class: #50fa7b;
  --syntax-name-constant: #f8f8f2;
  --syntax-name-decorator: #f8f8f2;
  --syntax-name-entity: #f8f8f2;
  --syntax-name-exception: #f8f8f2;
  --syntax-name-function-magic: #50fa7b;
  --syntax-name-function: #50fa7b;
  --syntax-name-label: #8be9fd;
  --syntax-name-namespace: #f8f8f2;
  --syntax-name-other: #f8f8f2;
  --syntax-name-tag: #ff79c6;
  --syntax-name-variable-class: #8be9fd;
  --syntax-name-variable-global: #8be9fd;
  --syntax-name-variable-instance: #8be9fd;
  --syntax-name-variable: #8be9fd;
  --syntax-name: #f8f8f2;

  --syntax-number-bin: #ffb86c;
  --syntax-number-float: #ffb86c;
  --syntax-number-hex: #ffb86c;
  --syntax-number-integer-long: #ffb86c;
  --syntax-number-integer: #ffb86c;
  --syntax-number-oct: #ffb86c;
  --syntax-number: #ffb86c;

  --syntax-operator-word: #ff79c6;
  --syntax-operator: #ff79c6;

  --syntax-string-affix: #bd93f9;
  --syntax-string-backtick: #bd93f9;
  --syntax-string-char: #bd93f9;
  --syntax-string-delimiter: #bd93f9;
  --syntax-string-doc: #bd93f9;
  --syntax-string-double: #bd93f9;
  --syntax-string-escape: #bd93f9;
  --syntax-string-heredoc: #bd93f9;
  --syntax-string-interpol: #bd93f9;
  --syntax-string-other: #bd93f9;
  --syntax-string-regex: #bd93f9;
  --syntax-string-single: #bd93f9;
  --syntax-string-symbol: #bd93f9;
  --syntax-string: #bd93f9;
}
:root[dark] {
  --syntax-text: #f8f8f2;
  --syntax-container-color: #282a36;
  --syntax-highlight-color: #44475a;

  --syntax-error: #f8f8f2;
  --syntax-punctuation: #f8f8f2;
  --syntax-text-whitespace: #f8f8f2;

  --syntax-comment-hashbang: #6272a4;
  --syntax-comment-multiline: #6272a4;
  --syntax-comment-preproc: #ff79c6;
  --syntax-comment-preprocfile: #ff79c6;
  --syntax-comment-single: #6272a4;
  --syntax-comment-special: #6272a4;
  --syntax-comment: #6272a4;

  --syntax-generic-deleted: #8b080b;
  --syntax-generic-emph: #f8f8f2;
  --syntax-generic-error: #f8f8f2;
  --syntax-generic-heading: #f8f8f2;
  --syntax-generic-inserted: #f8f8f2;
  --syntax-generic-output: #44475a;
  --syntax-generic-prompt: #f8f8f2;
  --syntax-generic-strong: #f8f8f2;
  --syntax-generic-subheading: #f8f8f2;
  --syntax-generic-traceback: #f8f8f2;

  --syntax-keyword-constant: #ff79c6;
  --syntax-keyword-declaration: #8be9fd;
  --syntax-keyword-namespace: #ff79c6;
  --syntax-keyword-pseudo: #ff79c6;
  --syntax-keyword-reserved: #ff79c6;
  --syntax-keyword-type: #8be9fd;
  --syntax-keyword: #ff79c6;

  --syntax-literal-date: #f8f8f2;
  --syntax-literal: #f8f8f2;

  --syntax-name-attribute: #50fa7b;
  --syntax-name-builtin-pseudo: #f8f8f2;
  --syntax-name-builtin: #8be9fd;
  --syntax-name-class: #50fa7b;
  --syntax-name-constant: #f8f8f2;
  --syntax-name-decorator: #f8f8f2;
  --syntax-name-entity: #f8f8f2;
  --syntax-name-exception: #f8f8f2;
  --syntax-name-function-magic: #50fa7b;
  --syntax-name-function: #50fa7b;
  --syntax-name-label: #8be9fd;
  --syntax-name-namespace: #f8f8f2;
  --syntax-name-other: #f8f8f2;
  --syntax-name-tag: #ff79c6;
  --syntax-name-variable-class: #8be9fd;
  --syntax-name-variable-global: #8be9fd;
  --syntax-name-variable-instance: #8be9fd;
  --syntax-name-variable: #8be9fd;
  --syntax-name: #f8f8f2;

  --syntax-number-bin: #ffb86c;
  --syntax-number-float: #ffb86c;
  --syntax-number-hex: #ffb86c;
  --syntax-number-integer-long: #ffb86c;
  --syntax-number-integer: #ffb86c;
  --syntax-number-oct: #ffb86c;
  --syntax-number: #ffb86c;

  --syntax-operator-word: #ff79c6;
  --syntax-operator: #ff79c6;

  --syntax-string-affix: #bd93f9;
  --syntax-string-backtick: #bd93f9;
  --syntax-string-char: #bd93f9;
  --syntax-string-delimiter: #bd93f9;
  --syntax-string-doc: #bd93f9;
  --syntax-string-double: #bd93f9;
  --syntax-string-escape: #bd93f9;
  --syntax-string-heredoc: #bd93f9;
  --syntax-string-interpol: #bd93f9;
  --syntax-string-other: #bd93f9;
  --syntax-string-regex: #bd93f9;
  --syntax-string-single: #bd93f9;
  --syntax-string-symbol: #bd93f9;
  --syntax-string: #bd93f9;
}

