// ----------------------------------------------------------------------------
// dusk syntax theme
// ----------------------------------------------------------------------------
:root[dark] {
  --syntax-text: #380749;
  --syntax-container-color: #fff3eb;

  --syntax-error: #d40278;
  --syntax-punctuation: #380749;
  --syntax-text-whitespace: #380749;

  --syntax-comment-hashbang: #5867b3;
  --syntax-comment-multiline: #5867b3;
  --syntax-comment-preproc: #5867b3;
  --syntax-comment-preprocfile: #5867b3;
  --syntax-comment-single: #5867b3;
  --syntax-comment-special: #5867b3;
  --syntax-comment: #5867b3;

  --syntax-generic-deleted: #d40278;
  --syntax-generic-emph: #380749;
  --syntax-generic-error: #380749;
  --syntax-generic-heading: #380749;
  --syntax-generic-inserted: #380749;
  --syntax-generic-output: #08aeb1;
  --syntax-generic-prompt: #380749;
  --syntax-generic-strong: #380749;
  --syntax-generic-subheading: #380749;
  --syntax-generic-traceback: #380749;

  --syntax-keyword-constant: #de5703;
  --syntax-keyword-declaration: #08aeb1;
  --syntax-keyword-namespace: #de5703;
  --syntax-keyword-pseudo: #de5703;
  --syntax-keyword-reserved: #de5703;
  --syntax-keyword-type: #de5703;
  --syntax-keyword: #de5703;

  --syntax-literal-date: #380749;
  --syntax-literal: #380749;

  --syntax-name-attribute: #00a0ff;
  --syntax-name-builtin-pseudo: #380749;
  --syntax-name-builtin: #08aeb1;
  --syntax-name-class: #00a0ff;
  --syntax-name-constant: #380749;
  --syntax-name-decorator: #380749;
  --syntax-name-entity: #380749;
  --syntax-name-exception: #380749;
  --syntax-name-function-magic: #00a0ff;
  --syntax-name-function: #00a0ff;
  --syntax-name-label: #00a0ff;
  --syntax-name-namespace: #380749;
  --syntax-name-other: #de5703;
  --syntax-name-tag: #de5703;
  --syntax-name-variable-class: #08aeb1;
  --syntax-name-variable-global: #08aeb1;
  --syntax-name-variable-instance: #08aeb1;
  --syntax-name-variable: #08aeb1;
  --syntax-name: #380749;

  --syntax-number-bin: #f549b3;
  --syntax-number-float: #f549b3;
  --syntax-number-hex: #f549b3;
  --syntax-number-integer-long: #f549b3;
  --syntax-number-integer: #f549b3;
  --syntax-number-oct: #f549b3;
  --syntax-number: #f549b3;

  --syntax-operator-word: #de5703;
  --syntax-operator: #de5703;

  --syntax-string-affix: #9d17c9;
  --syntax-string-backtick: #9d17c9;
  --syntax-string-char: #9d17c9;
  --syntax-string-delimiter: #9d17c9;
  --syntax-string-doc: #9d17c9;
  --syntax-string-double: #9d17c9;
  --syntax-string-escape: #9d17c9;
  --syntax-string-heredoc: #9d17c9;
  --syntax-string-interpol: #9d17c9;
  --syntax-string-other: #9d17c9;
  --syntax-string-regex: #9d17c9;
  --syntax-string-single: #9d17c9;
  --syntax-string-symbol: #9d17c9;
  --syntax-string: #9d17c9;
}
:root[light] {
  --syntax-text: #fff3eb;
  --syntax-container-color: #380749;

  --syntax-error: #fd0e95;
  --syntax-punctuation: #fff3eb;
  --syntax-text-whitespace: #fff3eb;

  --syntax-comment-hashbang: #8f99cc;
  --syntax-comment-multiline: #8f99cc;
  --syntax-comment-preproc: #8f99cc;
  --syntax-comment-preprocfile: #8f99cc;
  --syntax-comment-single: #8f99cc;
  --syntax-comment-special: #8f99cc;
  --syntax-comment: #8f99cc;

  --syntax-generic-deleted: #fd0e95;
  --syntax-generic-emph: #fff3eb;
  --syntax-generic-error: #fff3eb;
  --syntax-generic-heading: #fff3eb;
  --syntax-generic-inserted: #fff3eb;
  --syntax-generic-output: #b2feff;
  --syntax-generic-prompt: #fff3eb;
  --syntax-generic-strong: #fff3eb;
  --syntax-generic-subheading: #fff3eb;
  --syntax-generic-traceback: #fff3eb;

  --syntax-keyword-constant: #f45e02;
  --syntax-keyword-declaration: #b2feff;
  --syntax-keyword-namespace: #f45e02;
  --syntax-keyword-pseudo: #f45e02;
  --syntax-keyword-reserved: #f45e02;
  --syntax-keyword-type: #f45e02;
  --syntax-keyword: #f45e02;

  --syntax-literal-date: #fff3eb;
  --syntax-literal: #fff3eb;

  --syntax-name-attribute: #00a0ff;
  --syntax-name-builtin-pseudo: #fff3eb;
  --syntax-name-builtin: #b2feff;
  --syntax-name-class: #00a0ff;
  --syntax-name-constant: #fff3eb;
  --syntax-name-decorator: #fff3eb;
  --syntax-name-entity: #fff3eb;
  --syntax-name-exception: #fff3eb;
  --syntax-name-function-magic: #00a0ff;
  --syntax-name-function: #00a0ff;
  --syntax-name-label: #00a0ff;
  --syntax-name-namespace: #fff3eb;
  --syntax-name-other: #f45e02;
  --syntax-name-tag: #f45e02;
  --syntax-name-variable-class: #b2feff;
  --syntax-name-variable-global: #b2feff;
  --syntax-name-variable-instance: #b2feff;
  --syntax-name-variable: #b2feff;
  --syntax-name: #fff3eb;

  --syntax-number-bin: #f549b3;
  --syntax-number-float: #f549b3;
  --syntax-number-hex: #f549b3;
  --syntax-number-integer-long: #f549b3;
  --syntax-number-integer: #f549b3;
  --syntax-number-oct: #f549b3;
  --syntax-number: #f549b3;

  --syntax-operator-word: #f45e02;
  --syntax-operator: #f45e02;

  --syntax-string-affix: #c85aec;
  --syntax-string-backtick: #c85aec;
  --syntax-string-char: #c85aec;
  --syntax-string-delimiter: #c85aec;
  --syntax-string-doc: #c85aec;
  --syntax-string-double: #c85aec;
  --syntax-string-escape: #c85aec;
  --syntax-string-heredoc: #c85aec;
  --syntax-string-interpol: #c85aec;
  --syntax-string-other: #c85aec;
  --syntax-string-regex: #c85aec;
  --syntax-string-single: #c85aec;
  --syntax-string-symbol: #c85aec;
  --syntax-string: #c85aec;
}

