// ----------------------------------------------------------------------------
// neon syntax theme
// ----------------------------------------------------------------------------
:root[light] {
  --syntax-text: #cacef7;
  --syntax-container-color: #241057;
  --syntax-highlight-color: #44475a;

  --syntax-error: #b71c1c;
  --syntax-punctuation: #4f9dff;
  --syntax-text-whitespace: #cacef7;

  --syntax-comment-hashbang: #b5036a;
  --syntax-comment-multiline: #b5036a;
  --syntax-comment-preproc: #b5036a;
  --syntax-comment-preprocfile: #b5036a;
  --syntax-comment-single: #b5036a;
  --syntax-comment-special: #b5036a;
  --syntax-comment: #b5036a;

  --syntax-generic-deleted: #b71c1c;
  --syntax-generic-emph: #cacef7;
  --syntax-generic-error: #cacef7;
  --syntax-generic-heading: #cacef7;
  --syntax-generic-inserted: #cacef7;
  --syntax-generic-output: #cacef7;
  --syntax-generic-prompt: #f9246c;
  --syntax-generic-strong: #f9246c;
  --syntax-generic-subheading: #cacef7;
  --syntax-generic-traceback: #cacef7;

  --syntax-keyword-constant: #f9246c;
  --syntax-keyword-declaration: #3b6afe;
  --syntax-keyword-namespace: #f9246c;
  --syntax-keyword-pseudo: #f9246c;
  --syntax-keyword-reserved: #f9246c;
  --syntax-keyword-type: #3b6afe;
  --syntax-keyword: #f9246c;

  --syntax-literal-date: #cacef7;
  --syntax-literal: #cacef7;

  --syntax-name-attribute: #50fa7b;
  --syntax-name-builtin-pseudo: #cacef7;
  --syntax-name-builtin: #0ca9f4;
  --syntax-name-class: #50fa7b;
  --syntax-name-constant: #cacef7;
  --syntax-name-decorator: #cacef7;
  --syntax-name-entity: #cacef7;
  --syntax-name-exception: #cacef7;
  --syntax-name-function-magic: #50fa7b;
  --syntax-name-function: #50fa7b;
  --syntax-name-label: #50fa7b;
  --syntax-name-namespace: #cacef7;
  --syntax-name-other: #cacef7;
  --syntax-name-tag: #f9246c;
  --syntax-name-variable-class: #0ca9f4;
  --syntax-name-variable-global: #0ca9f4;
  --syntax-name-variable-instance: #0ca9f4;
  --syntax-name-variable: #0ca9f4;
  --syntax-name: #cacef7;

  --syntax-number-bin: #b5036a;
  --syntax-number-float: #b5036a;
  --syntax-number-hex: #b5036a;
  --syntax-number-integer-long: #b5036a;
  --syntax-number-integer: #b5036a;
  --syntax-number-oct: #b5036a;
  --syntax-number: #b5036a;

  --syntax-operator-word: #50fa7b;
  --syntax-operator: #50fa7b;

  --syntax-string-affix: #bf3efd;
  --syntax-string-backtick: #bf3efd;
  --syntax-string-char: #bf3efd;
  --syntax-string-delimiter: #bf3efd;
  --syntax-string-doc: #bf3efd;
  --syntax-string-double: #4f9dff;
  --syntax-string-escape: #bf3efd;
  --syntax-string-heredoc: #bf3efd;
  --syntax-string-interpol: #bf3efd;
  --syntax-string-other: #4f9dff;
  --syntax-string-regex: #bf3efd;
  --syntax-string-single: #4f9dff;
  --syntax-string-symbol: #bf3efd;
  --syntax-string: #bf3efd;
}
:root[dark] {
  --syntax-text: #cacef7;
  --syntax-container-color: #241057;
  --syntax-highlight-color: #44475a;

  --syntax-error: #b71c1c;
  --syntax-punctuation: #4f9dff;
  --syntax-text-whitespace: #cacef7;

  --syntax-comment-hashbang: #b5036a;
  --syntax-comment-multiline: #b5036a;
  --syntax-comment-preproc: #b5036a;
  --syntax-comment-preprocfile: #b5036a;
  --syntax-comment-single: #b5036a;
  --syntax-comment-special: #b5036a;
  --syntax-comment: #b5036a;

  --syntax-generic-deleted: #b71c1c;
  --syntax-generic-emph: #cacef7;
  --syntax-generic-error: #cacef7;
  --syntax-generic-heading: #cacef7;
  --syntax-generic-inserted: #cacef7;
  --syntax-generic-output: #cacef7;
  --syntax-generic-prompt: #f9246c;
  --syntax-generic-strong: #f9246c;
  --syntax-generic-subheading: #cacef7;
  --syntax-generic-traceback: #cacef7;

  --syntax-keyword-constant: #f9246c;
  --syntax-keyword-declaration: #3b6afe;
  --syntax-keyword-namespace: #f9246c;
  --syntax-keyword-pseudo: #f9246c;
  --syntax-keyword-reserved: #f9246c;
  --syntax-keyword-type: #3b6afe;
  --syntax-keyword: #f9246c;

  --syntax-literal-date: #cacef7;
  --syntax-literal: #cacef7;

  --syntax-name-attribute: #50fa7b;
  --syntax-name-builtin-pseudo: #cacef7;
  --syntax-name-builtin: #0ca9f4;
  --syntax-name-class: #50fa7b;
  --syntax-name-constant: #cacef7;
  --syntax-name-decorator: #cacef7;
  --syntax-name-entity: #cacef7;
  --syntax-name-exception: #cacef7;
  --syntax-name-function-magic: #50fa7b;
  --syntax-name-function: #50fa7b;
  --syntax-name-label: #50fa7b;
  --syntax-name-namespace: #cacef7;
  --syntax-name-other: #cacef7;
  --syntax-name-tag: #f9246c;
  --syntax-name-variable-class: #0ca9f4;
  --syntax-name-variable-global: #0ca9f4;
  --syntax-name-variable-instance: #0ca9f4;
  --syntax-name-variable: #0ca9f4;
  --syntax-name: #cacef7;

  --syntax-number-bin: #b5036a;
  --syntax-number-float: #b5036a;
  --syntax-number-hex: #b5036a;
  --syntax-number-integer-long: #b5036a;
  --syntax-number-integer: #b5036a;
  --syntax-number-oct: #b5036a;
  --syntax-number: #b5036a;

  --syntax-operator-word: #50fa7b;
  --syntax-operator: #50fa7b;

  --syntax-string-affix: #bf3efd;
  --syntax-string-backtick: #bf3efd;
  --syntax-string-char: #bf3efd;
  --syntax-string-delimiter: #bf3efd;
  --syntax-string-doc: #bf3efd;
  --syntax-string-double: #4f9dff;
  --syntax-string-escape: #bf3efd;
  --syntax-string-heredoc: #bf3efd;
  --syntax-string-interpol: #bf3efd;
  --syntax-string-other: #4f9dff;
  --syntax-string-regex: #bf3efd;
  --syntax-string-single: #4f9dff;
  --syntax-string-symbol: #bf3efd;
  --syntax-string: #bf3efd;
}