// ----------------------------------------------------------------------------
// newspaper syntax theme
// ----------------------------------------------------------------------------
:root[light] {
  --syntax-text: default;
  --syntax-container-color: default;
  --syntax-highlight-color: default;

  --syntax-error: default;
  --syntax-punctuation: default;
  --syntax-text-whitespace: default;

  --syntax-comment-hashbang: default;
  --syntax-comment-multiline: default;
  --syntax-comment-preproc: default;
  --syntax-comment-preprocfile: default;
  --syntax-comment-single: default;
  --syntax-comment-special: default;
  --syntax-comment: default;

  --syntax-generic-deleted: default;
  --syntax-generic-emph: default;
  --syntax-generic-error: default;
  --syntax-generic-heading: default;
  --syntax-generic-inserted: default;
  --syntax-generic-output: default;
  --syntax-generic-prompt: default;
  --syntax-generic-strong: default;
  --syntax-generic-subheading: default;
  --syntax-generic-traceback: default;

  --syntax-keyword-constant: default;
  --syntax-keyword-declaration: default;
  --syntax-keyword-namespace: default;
  --syntax-keyword-pseudo: default;
  --syntax-keyword-reserved: default;
  --syntax-keyword-type: default;
  --syntax-keyword: default;

  --syntax-literal-date: default;
  --syntax-literal: default;

  --syntax-name-attribute: default;
  --syntax-name-builtin-pseudo: default;
  --syntax-name-builtin: default;
  --syntax-name-class: default;
  --syntax-name-constant: default;
  --syntax-name-decorator: default;
  --syntax-name-entity: default;
  --syntax-name-exception: default;
  --syntax-name-function-magic: default;
  --syntax-name-function: default;
  --syntax-name-label: default;
  --syntax-name-namespace: default;
  --syntax-name-other: default;
  --syntax-name-tag: default;
  --syntax-name-variable-class: default;
  --syntax-name-variable-global: default;
  --syntax-name-variable-instance: default;
  --syntax-name-variable: default;
  --syntax-name: default;

  --syntax-number-bin: default;
  --syntax-number-float: default;
  --syntax-number-hex: default;
  --syntax-number-integer-long: default;
  --syntax-number-integer: default;
  --syntax-number-oct: default;
  --syntax-number: default;

  --syntax-operator-word: default;
  --syntax-operator: default;

  --syntax-string-affix: default;
  --syntax-string-backtick: default;
  --syntax-string-char: default;
  --syntax-string-delimiter: default;
  --syntax-string-doc: default;
  --syntax-string-double: default;
  --syntax-string-escape: default;
  --syntax-string-heredoc: default;
  --syntax-string-interpol: default;
  --syntax-string-other: default;
  --syntax-string-regex: default;
  --syntax-string-single: default;
  --syntax-string-symbol: default;
  --syntax-string: default;
}
:root[dark] {
  --syntax-text: default;
  --syntax-container-color: default;
  --syntax-highlight-color: default;

  --syntax-error: default;
  --syntax-punctuation: default;
  --syntax-text-whitespace: default;

  --syntax-comment-hashbang: default;
  --syntax-comment-multiline: default;
  --syntax-comment-preproc: default;
  --syntax-comment-preprocfile: default;
  --syntax-comment-single: default;
  --syntax-comment-special: default;
  --syntax-comment: default;

  --syntax-generic-deleted: default;
  --syntax-generic-emph: default;
  --syntax-generic-error: default;
  --syntax-generic-heading: default;
  --syntax-generic-inserted: default;
  --syntax-generic-output: default;
  --syntax-generic-prompt: default;
  --syntax-generic-strong: default;
  --syntax-generic-subheading: default;
  --syntax-generic-traceback: default;

  --syntax-keyword-constant: default;
  --syntax-keyword-declaration: default;
  --syntax-keyword-namespace: default;
  --syntax-keyword-pseudo: default;
  --syntax-keyword-reserved: default;
  --syntax-keyword-type: default;
  --syntax-keyword: default;

  --syntax-literal-date: default;
  --syntax-literal: default;

  --syntax-name-attribute: default;
  --syntax-name-builtin-pseudo: default;
  --syntax-name-builtin: default;
  --syntax-name-class: default;
  --syntax-name-constant: default;
  --syntax-name-decorator: default;
  --syntax-name-entity: default;
  --syntax-name-exception: default;
  --syntax-name-function-magic: default;
  --syntax-name-function: default;
  --syntax-name-label: default;
  --syntax-name-namespace: default;
  --syntax-name-other: default;
  --syntax-name-tag: default;
  --syntax-name-variable-class: default;
  --syntax-name-variable-global: default;
  --syntax-name-variable-instance: default;
  --syntax-name-variable: default;
  --syntax-name: default;

  --syntax-number-bin: default;
  --syntax-number-float: default;
  --syntax-number-hex: default;
  --syntax-number-integer-long: default;
  --syntax-number-integer: default;
  --syntax-number-oct: default;
  --syntax-number: default;

  --syntax-operator-word: default;
  --syntax-operator: default;

  --syntax-string-affix: default;
  --syntax-string-backtick: default;
  --syntax-string-char: default;
  --syntax-string-delimiter: default;
  --syntax-string-doc: default;
  --syntax-string-double: default;
  --syntax-string-escape: default;
  --syntax-string-heredoc: default;
  --syntax-string-interpol: default;
  --syntax-string-other: default;
  --syntax-string-regex: default;
  --syntax-string-single: default;
  --syntax-string-symbol: default;
  --syntax-string: default;
}

