// ----------------------------------------------------------------------------
// yolo syntax theme
// ----------------------------------------------------------------------------
:root[light] {
  --syntax-text: #d2d2f3;
  --syntax-container-color: #040511;
  --syntax-highlight-color: #44475a;

  --syntax-error: #b71c1c;
  --syntax-punctuation: #0ca9f4;
  --syntax-text-whitespace: #d2d2f3;

  --syntax-comment-hashbang: #b5036a;
  --syntax-comment-multiline: #b5036a;
  --syntax-comment-preproc: #b5036a;
  --syntax-comment-preprocfile: #b5036a;
  --syntax-comment-single: #b5036a;
  --syntax-comment-special: #b5036a;
  --syntax-comment: #b5036a;

  --syntax-generic-deleted: #b71c1c;
  --syntax-generic-emph: #ecedff;
  --syntax-generic-error: #ecedff;
  --syntax-generic-heading: #ecedff;
  --syntax-generic-inserted: #ecedff;
  --syntax-generic-output: #ecedff;
  --syntax-generic-prompt: #ffab40;
  --syntax-generic-strong: #ffab40;
  --syntax-generic-subheading: #ecedff;
  --syntax-generic-traceback: #ecedff;

  --syntax-keyword-constant: #fb1d9e;
  --syntax-keyword-declaration: #0ca9f4;
  --syntax-keyword-namespace: #fb1d9e;
  --syntax-keyword-pseudo: #fb1d9e;
  --syntax-keyword-reserved: #fb1d9e;
  --syntax-keyword-type: #0ca9f4;
  --syntax-keyword: #fb1d9e;

  --syntax-literal-date: #ecedff;
  --syntax-literal: #ecedff;

  --syntax-name-attribute: #50fa7b;
  --syntax-name-builtin-pseudo: #d2d2f3;
  --syntax-name-builtin: #0ca9f4;
  --syntax-name-class: #50fa7b;
  --syntax-name-constant: #ecedff;
  --syntax-name-decorator: #ecedff;
  --syntax-name-entity: #ecedff;
  --syntax-name-exception: #ecedff;
  --syntax-name-function-magic: #50fa7b;
  --syntax-name-function: #50fa7b;
  --syntax-name-label: #50fa7b;
  --syntax-name-namespace: #ecedff;
  --syntax-name-other: #ecedff;
  --syntax-name-tag: #fb1d9e;
  --syntax-name-variable-class: #0ca9f4;
  --syntax-name-variable-global: #0ca9f4;
  --syntax-name-variable-instance: #0ca9f4;
  --syntax-name-variable: #0ca9f4;
  --syntax-name: #ecedff;

  --syntax-number-bin: #ffab40;
  --syntax-number-float: #ffab40;
  --syntax-number-hex: #ffab40;
  --syntax-number-integer-long: #ffab40;
  --syntax-number-integer: #ffab40;
  --syntax-number-oct: #ffab40;
  --syntax-number: #ffab40;

  --syntax-operator-word: #50fa7b;
  --syntax-operator: #50fa7b;

  --syntax-string-affix: #7c85fa;
  --syntax-string-backtick: #7c85fa;
  --syntax-string-char: #7c85fa;
  --syntax-string-delimiter: #7c85fa;
  --syntax-string-doc: #7c85fa;
  --syntax-string-double: #65cffc;
  --syntax-string-escape: #7c85fa;
  --syntax-string-heredoc: #7c85fa;
  --syntax-string-interpol: #7c85fa;
  --syntax-string-other: #65cffc;
  --syntax-string-regex: #7c85fa;
  --syntax-string-single: #65cffc;
  --syntax-string-symbol: #7c85fa;
  --syntax-string: #7c85fa;
}
:root[dark] {
  --syntax-text: #d2d2f3;
  --syntax-container-color: #040511;
  --syntax-highlight-color: #44475a;

  --syntax-error: #b71c1c;
  --syntax-punctuation: #0ca9f4;
  --syntax-text-whitespace: #d2d2f3;

  --syntax-comment-hashbang: #b5036a;
  --syntax-comment-multiline: #b5036a;
  --syntax-comment-preproc: #b5036a;
  --syntax-comment-preprocfile: #b5036a;
  --syntax-comment-single: #b5036a;
  --syntax-comment-special: #b5036a;
  --syntax-comment: #b5036a;

  --syntax-generic-deleted: #b71c1c;
  --syntax-generic-emph: #ecedff;
  --syntax-generic-error: #ecedff;
  --syntax-generic-heading: #ecedff;
  --syntax-generic-inserted: #ecedff;
  --syntax-generic-output: #ecedff;
  --syntax-generic-prompt: #ffab40;
  --syntax-generic-strong: #ffab40;
  --syntax-generic-subheading: #ecedff;
  --syntax-generic-traceback: #ecedff;

  --syntax-keyword-constant: #fb1d9e;
  --syntax-keyword-declaration: #0ca9f4;
  --syntax-keyword-namespace: #fb1d9e;
  --syntax-keyword-pseudo: #fb1d9e;
  --syntax-keyword-reserved: #fb1d9e;
  --syntax-keyword-type: #0ca9f4;
  --syntax-keyword: #fb1d9e;

  --syntax-literal-date: #ecedff;
  --syntax-literal: #ecedff;

  --syntax-name-attribute: #50fa7b;
  --syntax-name-builtin-pseudo: #d2d2f3;
  --syntax-name-builtin: #0ca9f4;
  --syntax-name-class: #50fa7b;
  --syntax-name-constant: #ecedff;
  --syntax-name-decorator: #ecedff;
  --syntax-name-entity: #ecedff;
  --syntax-name-exception: #ecedff;
  --syntax-name-function-magic: #50fa7b;
  --syntax-name-function: #50fa7b;
  --syntax-name-label: #50fa7b;
  --syntax-name-namespace: #ecedff;
  --syntax-name-other: #ecedff;
  --syntax-name-tag: #fb1d9e;
  --syntax-name-variable-class: #0ca9f4;
  --syntax-name-variable-global: #0ca9f4;
  --syntax-name-variable-instance: #0ca9f4;
  --syntax-name-variable: #0ca9f4;
  --syntax-name: #ecedff;

  --syntax-number-bin: #ffab40;
  --syntax-number-float: #ffab40;
  --syntax-number-hex: #ffab40;
  --syntax-number-integer-long: #ffab40;
  --syntax-number-integer: #ffab40;
  --syntax-number-oct: #ffab40;
  --syntax-number: #ffab40;

  --syntax-operator-word: #50fa7b;
  --syntax-operator: #50fa7b;

  --syntax-string-affix: #7c85fa;
  --syntax-string-backtick: #7c85fa;
  --syntax-string-char: #7c85fa;
  --syntax-string-delimiter: #7c85fa;
  --syntax-string-doc: #7c85fa;
  --syntax-string-double: #65cffc;
  --syntax-string-escape: #7c85fa;
  --syntax-string-heredoc: #7c85fa;
  --syntax-string-interpol: #7c85fa;
  --syntax-string-other: #65cffc;
  --syntax-string-regex: #7c85fa;
  --syntax-string-single: #65cffc;
  --syntax-string-symbol: #7c85fa;
  --syntax-string: #7c85fa;
}