// ----------------------------------------------------------------------------
// Solo style composition
// ----------------------------------------------------------------------------
@import "solo/variables";
@import "solo/normalize";
@import "solo/themes/soft";
@import "solo/base";
@import "solo/tables";
@import "solo/images";
@import "solo/syntax";

.container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.back-to-top {
  display: block;
  color: $accent-color;
  text-align: right;
  text-decoration: none;
}