// ----------------------------------------------------------------------------
// Base elements stylesheet
// ----------------------------------------------------------------------------
html {
  font: 16px/1.5 $base-font-family, sans-serif;
}

@media (min-width: 30rem) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 2rem 0 5rem;
  color: $text-color;
  background-color: $base-color;
}

@media (min-width: 30rem) {
  body {
    margin-top: 3rem;
  }
}

a {
  color: $accent-color;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $secondary-font-family, sans-serif;
  margin: 0 0 0.5rem -0.1rem /* align left edge */;
  line-height: 1;
  color: $text-color;
  text-rendering: optimizeLegibility;
}

h1 {
  margin-top: 1.5rem;
  font-size: 2.75rem;
  margin-bottom: 1rem;
  color: $header-text-color;
}

h1 a {
  color: inherit;
}

h2 {
  margin-top: 1.5rem;
  font-size: 2rem;
  margin-bottom: 0.75rem;
  color: $header-text-color;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
  color: $header-text-color;
}

h4 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  color: $header-text-color;
}

h5 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  color: $header-text-color;
}

h6 {
  margin-top: 1.5rem;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  color: $header-text-color;
}

p, ul, ol, dl, table, pre, blockquote {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul, ol {
  padding-left: 1.5rem;
}

dd {
  margin-left: 1.5rem;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: .5rem 1rem;
  border-left: .25rem solid $text-color;
  color: $text-color-alt;
}

blockquote p:last-child {
  margin-bottom: 0;
}

hr {
  border: none;
  margin: 1.5rem 0;
  border-bottom: 1px dashed $accent-color;
  position: relative;
  top: -1px;
}