
/*
 * tint color by mixing it with a percentage of white
 */
@function tint($color, $percentage) {
  @return mix(#FFFFFF, $color, $percentage);
}

/*
 * shade color by mixing it with a percentage of black
 */
@function shade($color, $percentage) {
  @return mix(#000000, $color, $percentage);
}

.collapsible {
  font-weight: bold;
  margin-top: 1em;
  padding: 0.25em 0.25em 0.25em .5em;
  vertical-align: middle;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  line-height: 1.5;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  &:after {
    content: '\002B';
    float: right;
    margin-right: 0.5em;
  }
  &.active {
    &:after {
      content: "\2212";
    }
  }
}

.content {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  padding: 0 0.5em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.light-theme {
  .collapsible {
    background-color: $light-secondary-color;
    color: $light-primary-color;
    font-family: $family-monospace;
    &.active {
      background-color: shade($light-secondary-color, 50%);
      color: #FFFFFF;
    }
    &:hover {
      background-color: $light-accent-color;
    }
    &:is(.active, :hover) {
      background-color: shade($light-secondary-color, 50%);
    }
  }
}

.dark-theme {
  .collapsible {
    background-color: $dark-secondary-color;
    color: $dark-primary-color;
    font-family: $family-monospace;
    &.active {
      background-color: shade($dark-secondary-color, 50%);
      color: #FFFFFF;
    }
    &:hover {
      background-color: $dark-accent-color;
    }
    &:is(.active, :hover) {
      background-color: shade($dark-secondary-color, 50%);
    }
  }
}

