// ----------------------------------------------------------------------------
// Light theme colors
// ----------------------------------------------------------------------------
.light-theme {
  color: $light-secondary-color;
  background-color: $light-primary-color;
  font-family: $family-primary;

  a {
    color: $light-link-color;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $light-accent-color;
    font-family: $family-secondary, sans-serif;
  }

  blockquote {
    border-left: .25rem solid $light-accent-color;;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background-color: $light-code-background-color;
  }

  hr {
    border-bottom: 1px dashed $light-accent-color;
  }

  pre, code {
    color: $light-code-color;
  }

  b, strong, em, abbr, cite, del, ins, sup, sub {
    color: lighten($light-secondary-color, 20%)
  }

  /* Code in text */
  p > code,
  blockquote > code,
  h1 > code,
  h2 > code,
  h3 > code,
  h4 > code,
  h5 > code,
  h6 > code,
  li > code,
  dd > code,
  td > code {
    color: $light-code-color;
  }

  ul {
    li {
      color: $light-secondary-color;
    }
    ::marker {
      color: $light-accent-color;
    }
  }

  ol {
    li {
      color: $light-secondary-color;
    }
    ::marker {
      color: $light-accent-color;
    }
  }

  th {
    border-top: 1px solid $light-accent-color;
  }

  th, td {
    border-bottom: 1px solid $light-accent-color;
    border-left: 1px solid $light-accent-color;
    border-right: 1px solid $light-accent-color;
  }

  thead {
    background-color: $light-accent-color;
    color: $light-primary-color;
    font-family: $family-secondary;
  }

  .yolo-header {
    .theme-dot {
      color: $light-secondary-color;
    }
    .tag {
      color: $light-secondary-color;
    }
    .description {
      color: $light-accent-color;
    }
  }

  .yolo-footer {
    color: $light-accent-color;
  }

  .lb-modal {
    background-color: $light-primary-color;
  }

  .lb-close {
    color: $light-accent-color;
  }

  .lb-close:hover,
  .lb-close:focus {
    color: $light-secondary-color;
  }

  .lb-nav {
    &:hover {
      background-color: rgba($light-accent-color, 0.3);
    }
  }

  .lb-prev {
    &:hover {
      color: $light-accent-color;
    }
  }

  .lb-next {
    &:hover {
      color: $light-accent-color;
    }
  }

  .back-to-top {
    color: $light-link-color;
  }

  .code-header {
    background-color: $light-accent-color;
    color: $light-primary-color;
    font-family: $family-secondary;
    &:is(.copied, :hover) {
      background-color: $light-secondary-color;
    }
    &.copied {
      background-color: $light-accent-color;
    }
  }

  .pill {
    background-color: $light-secondary-color;
    color: $light-primary-color;
    font-family: $family-monospace;
  }

  .pill:hover {
    background-color: $light-accent-color;
  }

  .sidebar {
    background-color: $light-sidebar-color;
  }

  .primary-color {
    background-color: $light-primary-color;
    color: $light-secondary-color;
  }
  .secondary-color {
    background-color: $light-secondary-color;
    color: $light-primary-color;
  }
  .accent-color {
    background-color: $light-accent-color;
    color: $light-primary-color;
  }
  .link-color {
    background-color: $light-link-color;
    color: $light-primary-color;
  }
  .code-background-color {
    background-color: $light-code-background-color;
    color: $light-code-color;
  }
  .code-color {
    background-color: $light-code-color;
    color: $light-code-background-color;
  }
  .sidebar-color {
    background-color: $light-sidebar-color;
    color: $light-secondary-color;
  }

  .highlight {
    background: $light-code-background-color;
    color: $light-code-color;
    .c { /* Comment */ @include dynamic-color($light-code-background-color, "syntax01"); }
    .err { /* Error */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .k {  /* Keyword */ @include dynamic-color($light-code-background-color, "syntax10"); }
    .l {  /* Literal */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .n {  /* Name */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .o {  /* Operator */ @include dynamic-color($light-code-background-color, "syntax08"); }
    .p {  /* Punctuation */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .cm {  /* Comment.Multiline */ @include dynamic-color($light-code-background-color, "syntax01"); }
    .cp {  /* Comment.Preproc */ @include dynamic-color($light-code-background-color, "syntax01"); }
    .c1 {  /* Comment.Single */ @include dynamic-color($light-code-background-color, "syntax01"); }
    .cs {  /* Comment.Special */ @include dynamic-color($light-code-background-color, "syntax01"); }
    .gd {  /* Generic.Deleted */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .ge {  /* Generic.Emph */ font-style: italic; }
    .gh {  /* Generic.Heading */ @include dynamic-color($light-code-background-color, "syntax02"); font-weight: bold; }
    .gi {  /* Generic.Inserted */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .gp {  /* Generic.Prompt */ @include dynamic-color($light-code-background-color, "syntax01"); font-weight: bold; }
    .gs {  /* Generic.Strong */ font-weight: bold; }
    .gu {  /* Generic.Subheading */ @include dynamic-color($light-code-background-color, "syntax08"); font-weight: bold; }
    .kc {  /* Keyword.Constant */ @include dynamic-color($light-code-background-color, "syntax10"); }
    .kd {  /* Keyword.Declaration */ @include dynamic-color($light-code-background-color, "syntax10"); }
    .kn {  /* Keyword.Namespace */ @include dynamic-color($light-code-background-color, "syntax08"); }
    .kp {  /* Keyword.Pseudo */ @include dynamic-color($light-code-background-color, "syntax10"); }
    .kr {  /* Keyword.Reserved */ @include dynamic-color($light-code-background-color, "syntax10"); }
    .kt {  /* Keyword.Type */ @include dynamic-color($light-code-background-color, "syntax06"); }
    .ld {  /* Literal.Date */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .m {  /* Literal.Number */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .s {  /* Literal.String */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .na { /* Name.Attribute */ @include dynamic-color($light-code-background-color, "syntax09"); }
    .nb {  /* Name.Builtin */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .nc {  /* Name.Class */ @include dynamic-color($light-code-background-color, "syntax06"); }
    .no {  /* Name.Constant */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .nd {  /* Name.Decorator */ @include dynamic-color($light-code-background-color, "syntax08"); }
    .ni {  /* Name.Entity */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .ne {  /* Name.Exception */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .nf {  /* Name.Function */ @include dynamic-color($light-code-background-color, "syntax09"); }
    .nl {  /* Name.Label */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .nn {  /* Name.Namespace */ @include dynamic-color($light-code-background-color, "syntax06"); }
    .nx {  /* Name.Other */ @include dynamic-color($light-code-background-color, "syntax09"); }
    .py {  /* Name.Property */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .nt {  /* Name.Tag */ @include dynamic-color($light-code-background-color, "syntax08"); }
    .nv {  /* Name.Variable */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .ow {  /* Operator.Word */ @include dynamic-color($light-code-background-color, "syntax08"); }
    .w {   /* Text.Whitespace */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .mf {  /* Literal.Number.Float */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .mh {  /* Literal.Number.Hex */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .mi {  /* Literal.Number.Integer */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .mo {  /* Literal.Number.Oct */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .sb {  /* Literal.String.Backtick */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .sc {  /* Literal.String.Char */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .sd {  /* Literal.String.Doc */ @include dynamic-color($light-code-background-color, "syntax01"); }
    .s2 {  /* Literal.String.Double */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .se {  /* Literal.String.Escape */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .sh {  /* Literal.String.Heredoc */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .si {  /* Literal.String.Interpol */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .sx {  /* Literal.String.Other */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .sr {  /* Literal.String.Regex */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .s1 {  /* Literal.String.Single */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .ss {  /* Literal.String.Symbol */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .bp {  /* Name.Builtin.Pseudo */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .vc {  /* Name.Variable.Class */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .vg {  /* Name.Variable.Global */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .vi {  /* Name.Variable.Instance */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .il {  /* Literal.Number.Integer.Long */ @include dynamic-color($light-code-background-color, "syntax05"); }
  }
}
