// ----------------------------------------------------------------------------
// lists stylesheet
// ----------------------------------------------------------------------------
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1.5rem;

  li {
    color: $yolo-text-light-color;
  }
  ::marker {
    color: $yolo-accent-color;
  }
}

ol {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2.5rem;

  li {
    color: $yolo-text-light-color;
  }
  ::marker {
    color: $yolo-accent-color;
  }
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.is-list {
  // ul resets
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  list-style: none;
  display: block;

  li {
    color: $yolo-text-primary-color;
    position: relative;
    list-style: none;
  }

  li:before {
    color: $yolo-accent-color;
    display: inline-block;
    content: "\2022";
    width: 1rem;
    margin-left: -1rem;
  }

  &.is-sublist {
    margin-bottom: 0;
  }

  &.is-annotated {
    li {
      span:nth-child(1) {
        font-weight: bold;
        color: $yolo-text-secondary-color;
      }
      span:nth-child(2) {
        color: $yolo-text-accent-color;
      }
      span:nth-child(2):before {
        content: '\003A\00A0';
      }
      span:nth-child(3) {
        color: $yolo-text-light-color;
      }
    }
  }

  &.no-bullets {
    li:before {
      content: "";
    }
  }

  &.has-border {
    border-left: 0.3rem solid $yolo-accent-color;
  }

  &.is-dot {
    li:before {
      content: "\2022";
    }
  }

  &.is-circle {
    li:before {
      content: "\25E6";
    }
  }

  &.is-triangle {
    li:before {
      content: "\2023";
    }
  }

  &.is-star {
    li:before {
      content: "\2605";
    }
  }

  &.is-snowflake {
    li:before {
      content: "\2744";
    }
  }

  &.is-plus {
    li:before {
      content: "\002B";
    }
  }

  &.is-dash {
    li:before {
      content: "\002D";
    }
  }

  &.is-dash {
    li:before {
      content: "\002D";
    }
  }

  &.is-asterisk {
    li:before {
      content: "\002A";
    }
  }

  &.is-hash {
    li:before {
      content: "\0023";
    }
  }

  &.is-equalsign {
    li:before {
      content: "\003D";
    }
  }

  &.is-greaterthansign {
    li:before {
      content: "\003E";
    }
  }

  &.is-lessthansign {
    li:before {
      content: "\003C";
    }
  }

  &.is-tilde {
    li:before {
      content: "\007E";
    }
  }

  &.is-test {
    li:before {
      content: "\002B";
    }
  }
}