// ----------------------------------------------------------------------------
// lists stylesheet
// ----------------------------------------------------------------------------
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

ol {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2.5rem;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}