// Toggled by yolo.js
.nav-menu {
  ul {
    line-height: 1;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0.75rem 1rem 0;
    li {
      margin-bottom: 0.75rem;
    }
    li:before {
      content: "- ";
    }
  }
}