// ----------------------------------------------------------------------------
// Responsiveness classes
// ----------------------------------------------------------------------------
@import "variables";

@media (min-width: $tablet) {
  html {
    font-size: $size-5;
  }
}

@mixin rtl {
  @if $rtl {
    @content;
  }
}

@mixin ltr-property($property, $spacing, $right: true) {
  $normal: if($right, "right", "left");
  $opposite: if($right, "left", "right");
  @if $rtl {
    #{$property}-#{$opposite}: $spacing;
  }  @else {
    #{$property}-#{$normal}: $spacing;
  }
}

@mixin from($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}
@mixin until($device) {
  @media screen and (max-width: $device - 1px) {
    @content;
  }
}
@mixin between($from, $until) {
  @media screen and (min-width: $from) and (max-width: $until - 1px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: $tablet), print {
    @content;
  }
}
@mixin tablet-only {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    @content;
  }
}
@mixin touch {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
@mixin desktop-only {
  @if $widescreen-enabled {
    @media screen and (min-width: $desktop) and (max-width: $widescreen - 1px) {
      @content;
    }
  }
}
@mixin until-widescreen {
  @if $widescreen-enabled {
    @media screen and (max-width: $widescreen - 1px) {
      @content;
    }
  }
}
@mixin widescreen {
  @if $widescreen-enabled {
    @media screen and (min-width: $widescreen) {
      @content;
    }
  }
}
@mixin widescreen-only {
  @if $widescreen-enabled and $fullhd-enabled {
    @media screen and (min-width: $widescreen) and (max-width: $fullhd - 1px) {
      @content;
    }
  }
}
@mixin until-fullhd {
  @if $fullhd-enabled {
    @media screen and (max-width: $fullhd - 1px) {
      @content;
    }
  }
}
@mixin fullhd {
  @if $fullhd-enabled {
    @media screen and (min-width: $fullhd) {
      @content;
    }
  }
}
@mixin breakpoint($name) {
  $breakpoint: map-get($breakpoints, $name);
  @if $breakpoint {
    $from: map-get($breakpoint, "from");
    $until: map-get($breakpoint, "until");
    @if $from and $until {
      @include between($from, $until) {
        @content;
      }
    }@else if $from {
      @include from($from) {
        @content;
      }
    }@else if $until {
      @include until($until) {
        @content;
      }
    }
  }
}
@mixin ltr {
  @if not $rtl {
    @content;
  }
}
@mixin rtl {
  @if $rtl {
    @content;
  }
}
@mixin ltr-property($property, $spacing, $right: true) {
  $normal: if($right, "right", "left");
  $opposite: if($right, "left", "right");
  @if $rtl {
    #{$property}-#{$opposite}: $spacing;
  }  @else {
    #{$property}-#{$normal}: $spacing;
  }
}
@mixin ltr-position($spacing, $right: true) {
  $normal: if($right, "right", "left");
  $opposite: if($right, "left", "right");
  @if $rtl {
    #{$opposite}: $spacing;
  }  @else {
    #{$normal}: $spacing;
  }
}