// ----------------------------------------------------------------------------
// Sidebar support
// ----------------------------------------------------------------------------
@import "responsiveness";

.sidebar {
  position: fixed;
  z-index: 50;
  float: left;
  top: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
  border-style: none;
  > .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    &:is(:hover) {
      cursor: pointer;
    }
  }
  > .inner {
    width: auto;
    height: 100%;
    margin: 1.5rem;
    overflow-x: hidden;
    //overflow-y: hidden;
    transition: 0.2s;

    .sidebar-logo {
      padding: 1rem;
    }
  }
}

@include mobile {
  .container {
    max-width: 48rem;
  }
  .sidebar {
    width: 1rem;
  }
}

@include tablet {
  .container {
    max-width: 38rem;
    margin-left: 18rem;
  }
  .sidebar {
    width: 18rem;
  }
}