// ----------------------------------------------------------------------------
// Syntax highlighting
// ----------------------------------------------------------------------------
@import "variables";

.highlighter-rouge, .highlight {
  position: relative;
  border-bottom-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  color: $syntax02;
  font-family: $family-monospace;
  line-height: 1.8;

  > pre,
  pre.highlight {
    margin-left: 1em;
    padding-bottom: .5em;
    padding-top: .5em;
  }
}

.highlight table {
  margin-bottom: 0;
  font-size: 1em;
  border: 0;

  td {
    padding: 0;
    width: calc(100% - 1em);
    border: 0;

    /* line numbers*/
    &.gutter {
      padding-right: 1em;
      width: 1em;
      color: $syntax01;
      border-right: 1px solid $syntax01;
      text-align: right;
    }

    /* code */
    &.code {
      padding-left: 1em;
    }
  }

  pre {
    margin: 0;
  }
}

.highlight .hll {
  background-color: $syntax03;
}
.highlight {
  .c { /* Comment */ color: $syntax01;}
  .err { /* Error */ color: $syntax04; }
  .k {  /* Keyword */ color: $syntax10; }
  .l {  /* Literal */ color: $syntax05; }
  .n {  /* Name */ color: $syntax02; }
  .o {  /* Operator */ color: $syntax08; }
  .p {  /* Punctuation */ color: $syntax02; }
  .cm {  /* Comment.Multiline */ color: $syntax01; }
  .cp {  /* Comment.Preproc */ color: $syntax01; }
  .c1 {  /* Comment.Single */ color: $syntax01; }
  .cs {  /* Comment.Special */ color: $syntax01; }
  .gd {  /* Generic.Deleted */ color: $syntax04; }
  .ge {  /* Generic.Emph */ font-style: italic; }
  .gh {  /* Generic.Heading */ color: $syntax02; font-weight: bold; }
  .gi {  /* Generic.Inserted */ color: $syntax07; }
  .gp {  /* Generic.Prompt */ color: $syntax01; font-weight: bold; }
  .gs {  /* Generic.Strong */ font-weight: bold; }
  .gu {  /* Generic.Subheading */ color: $syntax08; font-weight: bold; }
  .kc {  /* Keyword.Constant */ color: $syntax10; }
  .kd {  /* Keyword.Declaration */ color: $syntax10; }
  .kn {  /* Keyword.Namespace */ color: $syntax08; }
  .kp {  /* Keyword.Pseudo */ color: $syntax10; }
  .kr {  /* Keyword.Reserved */ color: $syntax10; }
  .kt {  /* Keyword.Type */ color: $syntax06; }
  .ld {  /* Literal.Date */ color: $syntax07; }
  .m {  /* Literal.Number */ color: $syntax05; }
  .s {  /* Literal.String */ color: $syntax07; }
  .na { /* Name.Attribute */ color: $syntax09; }
  .nb {  /* Name.Builtin */ color: $syntax02; }
  .nc {  /* Name.Class */ color: $syntax06; }
  .no {  /* Name.Constant */ color: $syntax04; }
  .nd {  /* Name.Decorator */ color: $syntax08; }
  .ni {  /* Name.Entity */ color: $syntax02; }
  .ne {  /* Name.Exception */ color: $syntax04; }
  .nf {  /* Name.Function */ color: $syntax09; }
  .nl {  /* Name.Label */ color: $syntax02; }
  .nn {  /* Name.Namespace */ color: $syntax06; }
  .nx {  /* Name.Other */ color: $syntax09; }
  .py {  /* Name.Property */ color: $syntax02; }
  .nt {  /* Name.Tag */ color: $syntax08; }
  .nv {  /* Name.Variable */ color: $syntax04; }
  .ow {  /* Operator.Word */ color: $syntax08; }
  .w {   /* Text.Whitespace */ color: $syntax02; }
  .mf {  /* Literal.Number.Float */ color: $syntax05; }
  .mh {  /* Literal.Number.Hex */ color: $syntax05; }
  .mi {  /* Literal.Number.Integer */ color: $syntax05; }
  .mo {  /* Literal.Number.Oct */ color: $syntax05;}
  .sb {  /* Literal.String.Backtick */ color: $syntax07; }
  .sc {  /* Literal.String.Char */ color: $syntax02; }
  .sd {  /* Literal.String.Doc */ color: $syntax01; }
  .s2 {  /* Literal.String.Double */ color: $syntax07; }
  .se {  /* Literal.String.Escape */ color: $syntax05; }
  .sh {  /* Literal.String.Heredoc */ color: $syntax07; }
  .si {  /* Literal.String.Interpol */ color: $syntax05; }
  .sx {  /* Literal.String.Other */ color: $syntax07; }
  .sr {  /* Literal.String.Regex */ color: $syntax07; }
  .s1 {  /* Literal.String.Single */ color: $syntax07; }
  .ss {  /* Literal.String.Symbol */ color: $syntax07; }
  .bp {  /* Name.Builtin.Pseudo */ color: $syntax02; }
  .vc {  /* Name.Variable.Class */ color: $syntax04; }
  .vg {  /* Name.Variable.Global */ color: $syntax04; }
  .vi {  /* Name.Variable.Instance */ color: $syntax04; }
  .il {  /* Literal.Number.Integer.Long */ color: $syntax05; }
}