// ----------------------------------------------------------------------------
// tables styling
// ----------------------------------------------------------------------------
table {
  width: 100%;
  border-spacing: 0;
}

th {
  font-weight: bold;
  border-top: 1px solid $yolo-table-border-color;
}

th, td {
  border-bottom: 1px solid $yolo-table-border-color;
  border-left: 1px solid $yolo-table-border-color;
  border-right: 1px solid $yolo-table-border-color;
}

thead {
  background-color: $yolo-table-header-color;
  color: $yolo-table-header-text-color;
  font-family: $family-secondary;
}

thead tr:first-child th:first-child {
  border-radius: 0.3em 0 0 0;
}
thead tr:first-child th:last-child {
  border-radius: 0 0.3em 0 0;
}
tbody tr:last-child td:first-child {
  border-radius: 0 0 0 0;
}
tbody tr:last-child td:last-child {
  border-radius: 0 0 0 0;
}

th,
tr,
td {
  vertical-align: middle;
  text-align: left;
  padding: 0.3em 0.4em 0.3em 0.4em;
}
