// ----------------------------------------------------------------------------
// Table styling
// ----------------------------------------------------------------------------
table {
  width: 100%;
  border: 1px solid $text-color;
  border-collapse: collapse;
}

th {
  padding: 0.3em;
  text-align: left;
  //border: 1px solid $text-color;
}

thead {
  background: $text-color;
  color: $background-color;
}

table th:first-child{
  border-top-left-radius: .2em;
}

table th:last-child{
  border-top-right-radius: .2em;
}

td {
  padding: 0.3em;
  border: 1px solid $text-color;
}

tr,
td,
th {
  vertical-align: middle;
}