// ----------------------------------------------------------------------------
// Theme stylesheet for all elements that get special attention
// ----------------------------------------------------------------------------
// Variables that apply to light mode that are not part of a custom theme
// ----------------------------------------------------------------------------
:root {
  // Syntax Highlighting on light
  --syntax01: #8f8f8f;
  --syntax02: #011842;
  --syntax03: #393939;
  --syntax04: #eb6302;
  --syntax05: #c500e3;
  --syntax06: #01c72b;
  --syntax07: #019e9e;
  --syntax08: #1b3df8;
  --syntax09: #5923ca;
  --syntax10: #db0c4d;
  // Error, Warn and Info colors on light
  --error-color: #b71c1c;
  --on-error-color: #ffcdd2;
  --warn-color: #212121;
  --on-warn-color: #ffee58;
  --info-color: #1565c0;
  --on-info-color: #bbdefb;
  // Neutral colors on light
  --neutral-color: #212121;
  --on-neutral-color: #e0e0e0;
}
// ----------------------------------------------------------------------------
// Variables that apply to light mode that are not part of a custom theme
// ----------------------------------------------------------------------------
:root[dark] {
  // Syntax Highlighting on dark
  --syntax01: #a0a0a0;
  --syntax02: #e4e8eb;
  --syntax03: #dfe2e5;
  --syntax04: #ffab00;
  --syntax05: #e040fb;
  --syntax06: #00e676;
  --syntax07: #4ffbfb;
  --syntax08: #609dfc;
  --syntax09: #bd9ef8;
  --syntax10: #ff4081;
  // Error, Warn and Info colors on dark
  --error-color: #ffcdd2;
  --on-error-color: #b71c1c;
  --warn-color: #ffee58;
  --on-warn-color: #212121;
  --info-color: #bbdefb;
  --on-info-color: #1565c0;
  // Neutral colors on dark
  --neutral-color: #e0e0e0;
  --on-neutral-color: #212121;
}
// ----------------------------------------------------------------------------
// Contains selectors for all themed elements.
// Only colors and fonts should be added here.
// See: _sass/yolo/themes for specific theme colors.
// ----------------------------------------------------------------------------
.yolo-themed {
  color: var(--on-primary-color);
  background-color: var(--primary-color);
  font-family: var(--font-family-primary);

  a {
    color: var(--link-color);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--tertiary-color);
    font-family: var(--font-family-secondary), sans-serif;
  }

  blockquote {
    border-left: .25rem solid var(--accent-color);;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background-color: var(--primary-container-color);
    color: var(--on-primary-container-color);
  }

  hr {
    border-bottom: 1px dashed var(--accent-color);
  }

  pre, code {
    color: var(--on-primary-container-color);
  }

  b, strong, em, abbr, cite, del, ins, sup, sub {
    color: var(--on-primary-color);
  }

  /* Code in text */
  p > code,
  blockquote > code,
  h1 > code,
  h2 > code,
  h3 > code,
  h4 > code,
  h5 > code,
  h6 > code,
  li > code,
  dd > code,
  td > code {
    color: var(--on-primary-container-color);
  }

  ul {
    li {
      color: var(--on-primary-color);
    }
    ::before {
      color: var(--accent-color);
    }
    ::marker {
      color: var(--accent-color);
    }
  }

  ol {
    li {
      color: var(--on-primary-color);
    }
    ::marker {
      color: var(--accent-color);
    }
  }

  th {
    border-top: 1px solid var(--secondary-color);
  }

  th, td {
    border-bottom: 1px solid var(--secondary-color);
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
  }

  thead {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
    font-family: var(--font-family-secondary);
  }

  .yolo-header {
    .tag {
      color: var(--on-primary-color);
    }
    .description {
      color: var(--accent-color);
    }
  }

  .toggle-button {
    color: var(--secondary-color);
    &:hover {
      color: var(--tertiary-color);
    }
  }

  .yolo-footer {
    color: var(--secondary-color);
  }

  .lb-modal {
    background-color: var(--primary-container-color);
  }

  .lb-close {
    color: var(--secondary-color);
  }

  .lb-close:hover,
  .lb-close:focus {
    color: var(--tertiary-color);
  }

  .lb-nav {
    &:hover {
      background-color: rgba(var(--accent-color), 0.3);
    }
  }

  .lb-prev {
    color: var(--secondary-color);
    &:hover {
      color: var(--tertiary-color);
    }
  }

  .lb-next {
    color: var(--secondary-color);
    &:hover {
      color: var(--tertiary-color);
    }
  }

  .back-to-top {
    color: var(--link-color);
  }

  .code-header {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
    font-family: var(--font-family-secondary);
    &:is(.copied, :hover) {
      background-color: var(--tertiary-color);
      color: var(--on-tertiary-color);
    }
    &.copied {
      background-color: var(--secondary-color);
    }
  }

  .pill {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
    font-family: var(--font-family-monospace);
  }

  .pill:hover {
    background-color: var(--tertiary-color);
    color: var(--on-tertiary-color);
  }

  .sidebar {
    background-color: var(--primary-container-color);
    color: var(--on-primary-container-color);
  }


  .primary-color {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
  }
  .on-primary-color {
    background-color: var(--on-primary-color);
    color: var(--primary-color);
  }
  .primary-container-color {
    background-color: var(--primary-container-color);
    color: var(--on-primary-container-color);
  }
  .on-primary-container-color {
    background-color: var(--on-primary-container-color);
    color: var(--primary-container-color);
  }
  .secondary-color {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
  }
  .on-secondary-color {
    background-color: var(--on-secondary-color);
    color: var(--secondary-color);
  }
  .secondary-container-color {
    background-color: var(--secondary-container-color);
    color: var(--on-secondary-container-color);
  }
  .on-secondary-container-color {
    background-color: var(--on-secondary-container-color);
    color: var(--secondary-container-color);
  }
  .tertiary-color {
    background-color: var(--tertiary-color);
    color: var(--on-tertiary-color);
  }
  .on-tertiary-color {
    background-color: var(--on-tertiary-color);
    color: var(--tertiary-color);
  }
  .tertiary-container-color {
    background-color: var(--tertiary-container-color);
    color: var(--on-tertiary-container-color);
  }
  .on-tertiary-container-color {
    background-color: var(--on-tertiary-container-color);
    color: var(--tertiary-container-color);
  }
  .accent-color {
    background-color: var(--accent-color);
    color: var(--on-accent-color);
  }
  .on-accent-color {
    background-color: var(--on-accent-color);
    color: var(--accent-color);
  }
  .neutral-color {
    background-color: var(--neutral-color);
    color: var(--on-neutral-color);
  }
  .on-neutral-color {
    background-color: var(--on-neutral-color);
    color: var(--neutral-color);
  }
  .link-color {
    background-color: var(--link-color);
    color: var(--primary-color);
  }
  .error-color {
    background-color: var(--error-color);
    color: var(--on-error-color);
  }
  .on-error-color {
    background-color: var(--on-error-color);
    color: var(--error-color);
  }
  .warn-color {
    background-color: var(--warn-color);
    color: var(--on-warn-color);
  }
  .on-warn-color {
    background-color: var(--on-warn-color);
    color: var(--warn-color);
  }
  .info-color {
    background-color: var(--info-color);
    color: var(--on-info-color);
  }
  .on-info-color {
    background-color: var(--on-info-color);
    color: var(--info-color);
  }
  .highlight {
    background: var(--primary-container-color);
    color: var(--on-primary-container-color);
    .c { /* Comment */ color: var(--syntax01); }
    .err { /* Error */ color: var(--syntax04); }
    .k {  /* Keyword */ color: var(--syntax10); }
    .l {  /* Literal */ color: var(--syntax05); }
    .n {  /* Name */ color: var(--syntax02); }
    .o {  /* Operator */ color: var(--syntax08); }
    .p {  /* Punctuation */ color: var(--syntax02); }
    .cm {  /* Comment.Multiline */ color: var(--syntax01); }
    .cp {  /* Comment.Preproc */ color: var(--syntax01); }
    .c1 {  /* Comment.Single */ color: var(--syntax01); }
    .cs {  /* Comment.Special */ color: var(--syntax01); }
    .gd {  /* Generic.Deleted */ color: var(--syntax04); }
    .ge {  /* Generic.Emph */ font-style: italic; }
    .gh {  /* Generic.Heading */ color: var(--syntax02); font-weight: bold; }
    .gi {  /* Generic.Inserted */ color: var(--syntax07); }
    .gp {  /* Generic.Prompt */ color: var(--syntax01); font-weight: bold; }
    .gs {  /* Generic.Strong */ font-weight: bold; }
    .gu {  /* Generic.Subheading */ color: var(--syntax08); font-weight: bold; }
    .kc {  /* Keyword.Constant */ color: var(--syntax10); }
    .kd {  /* Keyword.Declaration */ color: var(--syntax10); }
    .kn {  /* Keyword.Namespace */ color: var(--syntax08); }
    .kp {  /* Keyword.Pseudo */ color: var(--syntax10); }
    .kr {  /* Keyword.Reserved */ color: var(--syntax10); }
    .kt {  /* Keyword.Type */ color: var(--syntax06); }
    .ld {  /* Literal.Date */ color: var(--syntax07); }
    .m {  /* Literal.Number */ color: var(--syntax05); }
    .s {  /* Literal.String */ color: var(--syntax07); }
    .na { /* Name.Attribute */ color: var(--syntax09); }
    .nb {  /* Name.Builtin */ color: var(--syntax02); }
    .nc {  /* Name.Class */ color: var(--syntax06); }
    .no {  /* Name.Constant */ color: var(--syntax04); }
    .nd {  /* Name.Decorator */ color: var(--syntax08); }
    .ni {  /* Name.Entity */ color: var(--syntax02); }
    .ne {  /* Name.Exception */ color: var(--syntax04); }
    .nf {  /* Name.Function */ color: var(--syntax09); }
    .nl {  /* Name.Label */ color: var(--syntax02); }
    .nn {  /* Name.Namespace */ color: var(--syntax06); }
    .nx {  /* Name.Other */ color: var(--syntax09); }
    .py {  /* Name.Property */ color: var(--syntax02); }
    .nt {  /* Name.Tag */ color: var(--syntax08); }
    .nv {  /* Name.Variable */ color: var(--syntax04); }
    .ow {  /* Operator.Word */ color: var(--syntax08); }
    .w {   /* Text.Whitespace */ color: var(--syntax02); }
    .mf {  /* Literal.Number.Float */ color: var(--syntax05); }
    .mh {  /* Literal.Number.Hex */ color: var(--syntax05); }
    .mi {  /* Literal.Number.Integer */ color: var(--syntax05); }
    .mo {  /* Literal.Number.Oct */ color: var(--syntax05); }
    .sb {  /* Literal.String.Backtick */ color: var(--syntax07); }
    .sc {  /* Literal.String.Char */ color: var(--syntax02); }
    .sd {  /* Literal.String.Doc */ color: var(--syntax01); }
    .s2 {  /* Literal.String.Double */ color: var(--syntax07); }
    .se {  /* Literal.String.Escape */ color: var(--syntax05); }
    .sh {  /* Literal.String.Heredoc */ color: var(--syntax07); }
    .si {  /* Literal.String.Interpol */ color: var(--syntax05); }
    .sx {  /* Literal.String.Other */ color: var(--syntax07); }
    .sr {  /* Literal.String.Regex */ color: var(--syntax07); }
    .s1 {  /* Literal.String.Single */ color: var(--syntax07); }
    .ss {  /* Literal.String.Symbol */ color: var(--syntax07); }
    .bp {  /* Name.Builtin.Pseudo */ color: var(--syntax02); }
    .vc {  /* Name.Variable.Class */ color: var(--syntax04); }
    .vg {  /* Name.Variable.Global */ color: var(--syntax04); }
    .vi {  /* Name.Variable.Instance */ color: var(--syntax04); }
    .il {  /* Literal.Number.Integer.Long */ color: var(--syntax05); }
  }
}