// ----------------------------------------------------------------------------
// Default theme colors for light and dark modes.
// ----------------------------------------------------------------------------
// light theme colors
$light-primary-color: #fff !default;
$light-secondary-color: #000 !default;
$light-accent-color: #000 !default;
$light-code-background-color: #000 !default;
$light-code-color: #848484 !default;
$light-link-color: #00b0ff !default;
// dark theme colors
$dark-primary-color: #000 !default;
$dark-secondary-color: #fff !default;
$dark-accent-color: #000 !default;
$dark-code-background-color: #000 !default;
$dark-code-color: #848484 !default;
$dark-link-color: #00b0ff !default;
// ----------------------------------------------------------------------------
// Default Typography fonts, sizes and weights
// ----------------------------------------------------------------------------
$family-primary: "Inconsolata", sans-serif !default;
$family-secondary: "Montserrat", sans-serif !default;
$family-monospace: "Source Code Pro", monospace !default;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;
// ----------------------------------------------------------------------------
// Syntax highlighting (material) colors
// ----------------------------------------------------------------------------
$base00: #060E3F !default;
$base01: #393f45 !default;
$base02: #565e65 !default;
$base03: #747c84 !default;
$base04: #adb3ba !default;
$base05: #c7ccd1 !default;
$base06: #dfe2e5 !default;
$base07: #f3f4f5 !default;
$base08: #F2AE56 !default;
$base09: #FCEA60 !default;
$base0a: #6FE182 !default;
$base0b: #7EFCFD !default;
$base0c: #578CF7 !default;
$base0d: #AB8DF8 !default;
$base0e: #EA4BA6 !default;
$base0f: #C1291C !default;
// ----------------------------------------------------------------------------
// Layouts and responsiveness
// ----------------------------------------------------------------------------
$variable-columns: true !default;
$rtl: false !default;
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default;
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default;
$widescreen-enabled: false !default;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default;
$fullhd-enabled: false !default;
$breakpoints: ("mobile": ("until": $tablet),
  "tablet": ("from": $tablet),
  "tablet-only": ("from": $tablet, "until": $desktop),
  "touch": ("from": $desktop),
  "desktop": ("from": $desktop),
  "desktop-only": ("from": $desktop, "until": $widescreen),
  "until-widescreen": ("until": $widescreen),
  "widescreen": ("from": $widescreen),
  "widescreen-only": ("from": $widescreen, "until": $fullhd),
  "until-fullhd": ("until": $fullhd), "fullhd": ("from": $fullhd)) !default;