// ----------------------------------------------------------------------------
// Default Typography fonts, sizes and weights
// ----------------------------------------------------------------------------
$family-primary: "Inconsolata", monospace !default;
$family-secondary: "Montserrat", sans-serif !default;
$family-monospace: "Source Code Pro", monospace !default;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;
// ----------------------------------------------------------------------------
// Layouts and responsiveness
// ----------------------------------------------------------------------------
$variable-columns: true !default;
$rtl: false !default;
$gap: 32px !default;
$tablet: 769px !default;
$desktop: 960px + (2 * $gap) !default;

:root[light] {
  // Error, Warn and Info colors on light
  --error-color: #b71c1c;
  --on-error-color: #ffcdd2;
  --warn-color: #212121;
  --on-warn-color: #ffee58;
  --info-color: #1565c0;
  --on-info-color: #bbdefb;
  // Neutral colors on light
  --neutral-color: #212121;
  --on-neutral-color: #e0e0e0;
}
:root[dark] {
  // Error, Warn and Info colors on dark
  --error-color: #ffcdd2;
  --on-error-color: #b71c1c;
  --warn-color: #ffee58;
  --on-warn-color: #212121;
  --info-color: #bbdefb;
  --on-info-color: #1565c0;
  // Neutral colors on dark
  --neutral-color: #e0e0e0;
  --on-neutral-color: #212121;
}