// ----------------------------------------------------------------------------
// Default Typography fonts, sizes and weights
// ----------------------------------------------------------------------------
$family-primary: "Inconsolata", monospace !default;
$family-secondary: "Montserrat", sans-serif !default;
$family-monospace: "Source Code Pro", monospace !default;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;
// ----------------------------------------------------------------------------
// Layouts and responsiveness
// ----------------------------------------------------------------------------
$variable-columns: true !default;
$rtl: false !default;
$gap: 32px !default;
$tablet: 769px !default;
$desktop: 960px + (2 * $gap) !default;