// ----------------------------------------------------------------------------
// yolo specific classes
// ----------------------------------------------------------------------------
@import "variables";

// Syntax highlighting text color based on background color
@function text-color($bg, $syntax) {
  @if(lightness($bg) > 50) {
    // syntax-on-light
    @return map-get($syntax-on-light, $syntax);
  } @else {
    // syntax-on-dark
    @return map-get($syntax-on-dark, $syntax);
  }
}

@mixin dynamic-color($bg, $syntax) {
  color: text-color($bg, $syntax);
}

#yolo-site {
  opacity: 0;
  transition: opacity 3s;
}

// page header
.yolo-header {
  .logo {
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 128px;
    height: 128px;
    object-fit: cover;
    float: left;
  }
  .theme-dot {
    font-size: $size-3;
    transform: rotate(90deg);
    float: right;
    cursor: pointer;
  }
  .tag {
    clear: both;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  .description {
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.left {
  margin-right: auto;
  margin-left: 0;
}

.center {
  margin: 0 auto;
}

.no-display {
  display: none;
  overflow: auto;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.caption {
  text-align: center;
  padding: 1rem;
}

.back-to-top {
  display: block;
  text-align: right;
  text-decoration: none;
}

// copy code header
.code-header {
  font-weight: bold;
  padding: 0.3em 0.3em 0.3em 0.4em;
  vertical-align: middle;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

// embedded video styling
.video {
  width: 100%;
  iframe {
    width: 300px;
    height: 533px;
    border: none;
    border-radius: 0.5em;
  }
}

// pill styling
.pill {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 0.25rem 1rem;
  font-size: $size-6;
  font-weight: bold;
  border-radius: 3rem;
}

// prezo styling
.prezo-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 0.3em;
  border: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  &.is-16-by-9 {
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    padding-top: 56.25%;
  }
  &.is-4-by-3 {
    /* 4:3 Aspect Ratio */
    padding-top: 75%;
  }
  &.is-1-by-1 {
    /* 1:1 Aspect Ratio */
    padding-top: 100%;
  }
}

/* Style the iframe to fit in the iframe-container div with full height and width */
.prezo-responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

// For image rotation on 404 page
.rotate {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.sidebar {
  position: fixed;
  z-index: 50;
  float: left;
  top: 0;
  left: 0;
  width: 1rem;
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
  border-style: solid;
  border-right-width: .5rem;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  &:is(:hover) {
    cursor: pointer;
  }

  > .inner {
    width: 100%;
    height: 100%;
    padding: 1.5em .5em;
    overflow-x: hidden;

    nav {
      ul {
        line-height: 1;
        list-style-type: none;
        margin-bottom: 1.5rem;
        //padding-bottom: 0.5rem;
        padding: 1rem;
        li {
          margin-bottom: 1rem;
        }
        li:before {
          content: "- ";
        }
      }
    }
  }
}

// light-theme colors
.light-theme {
  color: $light-secondary-color;
  background-color: $light-primary-color;
  font-family: $family-primary;

  a {
    color: $light-link-color;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $light-accent-color;
    font-family: $family-secondary, sans-serif;
  }

  blockquote {
    border-left: .25rem solid $light-accent-color;
  }

  hr {
    border-bottom: 1px dashed $light-accent-color;
  }

  pre, code {
    color: $light-code-color;
  }

  /* Code in text */
  p > code,
  blockquote > code,
  h1 > code,
  h2 > code,
  h3 > code,
  h4 > code,
  h5 > code,
  h6 > code,
  li > code,
  dd > code,
  td > code {
    color: $light-code-color;
  }

  ul {
    li {
      color: $light-secondary-color;
    }
    ::marker {
      color: $light-accent-color;
    }
  }

  ol {
    li {
      color: $light-secondary-color;
    }
    ::marker {
      color: $light-accent-color;
    }
  }

  th {
    border-top: 1px solid $light-secondary-color;
  }

  th, td {
    border-bottom: 1px solid $light-secondary-color;
    border-left: 1px solid $light-secondary-color;
    border-right: 1px solid $light-secondary-color;
  }

  thead {
    background-color: $light-secondary-color;
    color: $light-primary-color;
    font-family: $family-secondary;
  }

  .yolo-header {
    .theme-dot {
      color: $light-secondary-color;
    }
    .tag {
      color: $light-secondary-color;
    }
    .description {
      color: $light-accent-color;
    }
  }

  .lb-modal {
    background-color: $light-primary-color;
  }

  .lb-close {
    color: $light-accent-color;
  }

  .lb-close:hover,
  .lb-close:focus {
    color: $light-secondary-color;
  }

  .lb-nav {
    &:hover {
      background-color: rgba($light-accent-color, 0.3);
    }
  }

  .lb-prev {
    &:hover {
      color: $light-accent-color;
    }
  }

  .lb-next {
    &:hover {
      color: $light-accent-color;
    }
  }

  .back-to-top {
    color: $light-accent-color;
  }

  .code-header {
    background-color: $light-secondary-color;
    color: $light-primary-color;
    font-family: $family-secondary;
    &:is(.copied, :hover) {
      background-color: $light-accent-color;
    }
    &.copied {
      background-color: $light-secondary-color;
    }
  }

  .pill {
    background-color: $light-secondary-color;
    color: $light-primary-color;
    font-family: $family-monospace;
  }

  .pill:hover {
    background-color: $light-accent-color;
  }

  .sidebar {
    background-color: $light-primary-color;
    border-left-color: $light-accent-color;
  }

  .primary-color {
    background-color: $light-primary-color;
    color: $light-secondary-color;
  }
  .secondary-color {
    background-color: $light-secondary-color;
    color: $light-primary-color;
  }
  .accent-color {
    background-color: $light-accent-color;
    color: $light-primary-color;
  }
  .code-background-color {
    background-color: $light-code-background-color;
    color: $light-code-color;
  }
  .code-color {
    background-color: $light-code-color;
    color: $light-code-background-color;
  }
  .link-color {
    background-color: $light-link-color;
    color: $light-primary-color;
  }

  .highlight {
    background: $light-code-background-color;
    color: $light-code-color;
    .c { /* Comment */ @include dynamic-color($light-code-background-color, "syntax01"); }
    .err { /* Error */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .k {  /* Keyword */ @include dynamic-color($light-code-background-color, "syntax10"); }
    .l {  /* Literal */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .n {  /* Name */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .o {  /* Operator */ @include dynamic-color($light-code-background-color, "syntax08"); }
    .p {  /* Punctuation */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .cm {  /* Comment.Multiline */ @include dynamic-color($light-code-background-color, "syntax01"); }
    .cp {  /* Comment.Preproc */ @include dynamic-color($light-code-background-color, "syntax01"); }
    .c1 {  /* Comment.Single */ @include dynamic-color($light-code-background-color, "syntax01"); }
    .cs {  /* Comment.Special */ @include dynamic-color($light-code-background-color, "syntax01"); }
    .gd {  /* Generic.Deleted */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .ge {  /* Generic.Emph */ font-style: italic; }
    .gh {  /* Generic.Heading */ @include dynamic-color($light-code-background-color, "syntax02"); font-weight: bold; }
    .gi {  /* Generic.Inserted */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .gp {  /* Generic.Prompt */ @include dynamic-color($light-code-background-color, "syntax01"); font-weight: bold; }
    .gs {  /* Generic.Strong */ font-weight: bold; }
    .gu {  /* Generic.Subheading */ @include dynamic-color($light-code-background-color, "syntax08"); font-weight: bold; }
    .kc {  /* Keyword.Constant */ @include dynamic-color($light-code-background-color, "syntax10"); }
    .kd {  /* Keyword.Declaration */ @include dynamic-color($light-code-background-color, "syntax10"); }
    .kn {  /* Keyword.Namespace */ @include dynamic-color($light-code-background-color, "syntax08"); }
    .kp {  /* Keyword.Pseudo */ @include dynamic-color($light-code-background-color, "syntax10"); }
    .kr {  /* Keyword.Reserved */ @include dynamic-color($light-code-background-color, "syntax10"); }
    .kt {  /* Keyword.Type */ @include dynamic-color($light-code-background-color, "syntax06"); }
    .ld {  /* Literal.Date */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .m {  /* Literal.Number */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .s {  /* Literal.String */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .na { /* Name.Attribute */ @include dynamic-color($light-code-background-color, "syntax09"); }
    .nb {  /* Name.Builtin */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .nc {  /* Name.Class */ @include dynamic-color($light-code-background-color, "syntax06"); }
    .no {  /* Name.Constant */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .nd {  /* Name.Decorator */ @include dynamic-color($light-code-background-color, "syntax08"); }
    .ni {  /* Name.Entity */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .ne {  /* Name.Exception */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .nf {  /* Name.Function */ @include dynamic-color($light-code-background-color, "syntax09"); }
    .nl {  /* Name.Label */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .nn {  /* Name.Namespace */ @include dynamic-color($light-code-background-color, "syntax06"); }
    .nx {  /* Name.Other */ @include dynamic-color($light-code-background-color, "syntax09"); }
    .py {  /* Name.Property */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .nt {  /* Name.Tag */ @include dynamic-color($light-code-background-color, "syntax08"); }
    .nv {  /* Name.Variable */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .ow {  /* Operator.Word */ @include dynamic-color($light-code-background-color, "syntax08"); }
    .w {   /* Text.Whitespace */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .mf {  /* Literal.Number.Float */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .mh {  /* Literal.Number.Hex */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .mi {  /* Literal.Number.Integer */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .mo {  /* Literal.Number.Oct */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .sb {  /* Literal.String.Backtick */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .sc {  /* Literal.String.Char */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .sd {  /* Literal.String.Doc */ @include dynamic-color($light-code-background-color, "syntax01"); }
    .s2 {  /* Literal.String.Double */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .se {  /* Literal.String.Escape */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .sh {  /* Literal.String.Heredoc */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .si {  /* Literal.String.Interpol */ @include dynamic-color($light-code-background-color, "syntax05"); }
    .sx {  /* Literal.String.Other */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .sr {  /* Literal.String.Regex */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .s1 {  /* Literal.String.Single */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .ss {  /* Literal.String.Symbol */ @include dynamic-color($light-code-background-color, "syntax07"); }
    .bp {  /* Name.Builtin.Pseudo */ @include dynamic-color($light-code-background-color, "syntax02"); }
    .vc {  /* Name.Variable.Class */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .vg {  /* Name.Variable.Global */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .vi {  /* Name.Variable.Instance */ @include dynamic-color($light-code-background-color, "syntax04"); }
    .il {  /* Literal.Number.Integer.Long */ @include dynamic-color($light-code-background-color, "syntax05"); }
  }
}

// dark-theme colors
.dark-theme {
  color: $dark-secondary-color;
  background-color: $dark-primary-color;
  font-family: $family-primary;

  a {
    color: $dark-link-color;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $dark-accent-color;
    font-family: $family-secondary, sans-serif;
  }

  blockquote {
    border-left: .25rem solid $dark-accent-color;
  }

  hr {
    border-bottom: 1px dashed $dark-accent-color;
  }

  pre, code {
    color: $dark-code-color;
  }

  /* Code in text */
  p > code,
  blockquote > code,
  h1 > code,
  h2 > code,
  h3 > code,
  h4 > code,
  h5 > code,
  h6 > code,
  li > code,
  dd > code,
  td > code {
    color: $dark-code-color;
  }

  ul {
    li {
      color: $dark-secondary-color;
    }
    ::marker {
      color: $dark-accent-color;
    }
  }

  ol {
    li {
      color: $dark-secondary-color;
    }
    ::marker {
      color: $dark-accent-color;
    }
  }

  th {
    border-top: 1px solid $dark-secondary-color;
  }

  th, td {
    border-bottom: 1px solid $dark-secondary-color;
    border-left: 1px solid $dark-secondary-color;
    border-right: 1px solid $dark-secondary-color;
  }

  thead {
    background-color: $dark-secondary-color;
    color: $dark-primary-color;
    font-family: $family-secondary;
  }

  .yolo-header {
    .theme-dot {
      color: $dark-secondary-color;
    }
    .tag {
      color: $dark-secondary-color;
    }
    .description {
      color: $dark-accent-color;
    }
  }

  .lb-modal {
    background-color: $dark-primary-color;
  }

  .lb-close {
    color: $dark-accent-color;
  }

  .lb-close:hover,
  .lb-close:focus {
    color: $dark-secondary-color;
  }

  .lb-nav {
    &:hover {
      background-color: rgba($dark-accent-color, 0.3);
    }
  }

  .lb-prev {
    &:hover {
      color: $dark-accent-color;
    }
  }

  .lb-next {
    &:hover {
      color: $dark-accent-color;
    }
  }

  .back-to-top {
    color: $dark-accent-color;
  }

  .code-header {
    background-color: $dark-secondary-color;
    color: $dark-primary-color;
    font-family: $family-secondary;
    &:is(.copied, :hover) {
      background-color: $dark-accent-color;
    }
    &.copied {
      background-color: $dark-secondary-color;
    }
  }

  .pill {
    background-color: $dark-secondary-color;
    color: $dark-primary-color;
    font-family: $family-monospace;
  }

  .pill:hover {
    background-color: $dark-accent-color;
  }

  .sidebar {
    background-color: $dark-primary-color;
    border-right-color: $dark-secondary-color;
  }

  .primary-color {
    background-color: $dark-primary-color;
    color: $dark-secondary-color;
  }
  .secondary-color {
    background-color: $dark-secondary-color;
    color: $dark-primary-color;
  }
  .accent-color {
    background-color: $dark-accent-color;
    color: $dark-primary-color;
  }
  .code-background-color {
    background-color: $dark-code-background-color;
    color: $dark-code-color;
  }
  .code-color {
    background-color: $dark-code-color;
    color: $dark-code-background-color;
  }
  .link-color {
    background-color: $dark-link-color;
    color: $dark-primary-color;
  }

  .highlight {
    background: $dark-code-background-color;
    color: $dark-code-color;
    .c { /* Comment */ @include dynamic-color($dark-code-background-color, "syntax01"); }
    .err { /* Error */ @include dynamic-color($dark-code-background-color, "syntax04"); }
    .k {  /* Keyword */ @include dynamic-color($dark-code-background-color, "syntax10"); }
    .l {  /* Literal */ @include dynamic-color($dark-code-background-color, "syntax05"); }
    .n {  /* Name */ @include dynamic-color($dark-code-background-color, "syntax02"); }
    .o {  /* Operator */ @include dynamic-color($dark-code-background-color, "syntax08"); }
    .p {  /* Punctuation */ @include dynamic-color($dark-code-background-color, "syntax02"); }
    .cm {  /* Comment.Multiline */ @include dynamic-color($dark-code-background-color, "syntax01"); }
    .cp {  /* Comment.Preproc */ @include dynamic-color($dark-code-background-color, "syntax01"); }
    .c1 {  /* Comment.Single */ @include dynamic-color($dark-code-background-color, "syntax01"); }
    .cs {  /* Comment.Special */ @include dynamic-color($dark-code-background-color, "syntax01"); }
    .gd {  /* Generic.Deleted */ @include dynamic-color($dark-code-background-color, "syntax04"); }
    .ge {  /* Generic.Emph */ font-style: italic; }
    .gh {  /* Generic.Heading */ @include dynamic-color($dark-code-background-color, "syntax02"); font-weight: bold; }
    .gi {  /* Generic.Inserted */ @include dynamic-color($dark-code-background-color, "syntax07"); }
    .gp {  /* Generic.Prompt */ @include dynamic-color($dark-code-background-color, "syntax01"); font-weight: bold; }
    .gs {  /* Generic.Strong */ font-weight: bold; }
    .gu {  /* Generic.Subheading */ @include dynamic-color($dark-code-background-color, "syntax08"); font-weight: bold; }
    .kc {  /* Keyword.Constant */ @include dynamic-color($dark-code-background-color, "syntax10"); }
    .kd {  /* Keyword.Declaration */ @include dynamic-color($dark-code-background-color, "syntax10"); }
    .kn {  /* Keyword.Namespace */ @include dynamic-color($dark-code-background-color, "syntax08"); }
    .kp {  /* Keyword.Pseudo */ @include dynamic-color($dark-code-background-color, "syntax10"); }
    .kr {  /* Keyword.Reserved */ @include dynamic-color($dark-code-background-color, "syntax10"); }
    .kt {  /* Keyword.Type */ @include dynamic-color($dark-code-background-color, "syntax06"); }
    .ld {  /* Literal.Date */ @include dynamic-color($dark-code-background-color, "syntax07"); }
    .m {  /* Literal.Number */ @include dynamic-color($dark-code-background-color, "syntax05"); }
    .s {  /* Literal.String */ @include dynamic-color($dark-code-background-color, "syntax07"); }
    .na { /* Name.Attribute */ @include dynamic-color($dark-code-background-color, "syntax09"); }
    .nb {  /* Name.Builtin */ @include dynamic-color($dark-code-background-color, "syntax02"); }
    .nc {  /* Name.Class */ @include dynamic-color($dark-code-background-color, "syntax06"); }
    .no {  /* Name.Constant */ @include dynamic-color($dark-code-background-color, "syntax04"); }
    .nd {  /* Name.Decorator */ @include dynamic-color($dark-code-background-color, "syntax08"); }
    .ni {  /* Name.Entity */ @include dynamic-color($dark-code-background-color, "syntax02"); }
    .ne {  /* Name.Exception */ @include dynamic-color($dark-code-background-color, "syntax04"); }
    .nf {  /* Name.Function */ @include dynamic-color($dark-code-background-color, "syntax09"); }
    .nl {  /* Name.Label */ @include dynamic-color($dark-code-background-color, "syntax02"); }
    .nn {  /* Name.Namespace */ @include dynamic-color($dark-code-background-color, "syntax06"); }
    .nx {  /* Name.Other */ @include dynamic-color($dark-code-background-color, "syntax09"); }
    .py {  /* Name.Property */ @include dynamic-color($dark-code-background-color, "syntax02"); }
    .nt {  /* Name.Tag */ @include dynamic-color($dark-code-background-color, "syntax08"); }
    .nv {  /* Name.Variable */ @include dynamic-color($dark-code-background-color, "syntax04"); }
    .ow {  /* Operator.Word */ @include dynamic-color($dark-code-background-color, "syntax08"); }
    .w {   /* Text.Whitespace */ @include dynamic-color($dark-code-background-color, "syntax02"); }
    .mf {  /* Literal.Number.Float */ @include dynamic-color($dark-code-background-color, "syntax05"); }
    .mh {  /* Literal.Number.Hex */ @include dynamic-color($dark-code-background-color, "syntax05"); }
    .mi {  /* Literal.Number.Integer */ @include dynamic-color($dark-code-background-color, "syntax05"); }
    .mo {  /* Literal.Number.Oct */ @include dynamic-color($dark-code-background-color, "syntax05"); }
    .sb {  /* Literal.String.Backtick */ @include dynamic-color($dark-code-background-color, "syntax07"); }
    .sc {  /* Literal.String.Char */ @include dynamic-color($dark-code-background-color, "syntax02"); }
    .sd {  /* Literal.String.Doc */ @include dynamic-color($dark-code-background-color, "syntax01"); }
    .s2 {  /* Literal.String.Double */ @include dynamic-color($dark-code-background-color, "syntax07"); }
    .se {  /* Literal.String.Escape */ @include dynamic-color($dark-code-background-color, "syntax05"); }
    .sh {  /* Literal.String.Heredoc */ @include dynamic-color($dark-code-background-color, "syntax07"); }
    .si {  /* Literal.String.Interpol */ @include dynamic-color($dark-code-background-color, "syntax05"); }
    .sx {  /* Literal.String.Other */ @include dynamic-color($dark-code-background-color, "syntax07"); }
    .sr {  /* Literal.String.Regex */ @include dynamic-color($dark-code-background-color, "syntax07"); }
    .s1 {  /* Literal.String.Single */ @include dynamic-color($dark-code-background-color, "syntax07"); }
    .ss {  /* Literal.String.Symbol */ @include dynamic-color($dark-code-background-color, "syntax07"); }
    .bp {  /* Name.Builtin.Pseudo */ @include dynamic-color($dark-code-background-color, "syntax02"); }
    .vc {  /* Name.Variable.Class */ @include dynamic-color($dark-code-background-color, "syntax04"); }
    .vg {  /* Name.Variable.Global */ @include dynamic-color($dark-code-background-color, "syntax04"); }
    .vi {  /* Name.Variable.Instance */ @include dynamic-color($dark-code-background-color, "syntax04"); }
    .il {  /* Literal.Number.Integer.Long */ @include dynamic-color($dark-code-background-color, "syntax05"); }
  }
}