// ----------------------------------------------------------------------------
// yolo specific classes
// ----------------------------------------------------------------------------
@import "variables";

// Yolo page header
.yolo-header {
  .logo {
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 128px;
    height: 128px;
    object-fit: cover;
    float: left;
  }
  .theme-dot {
    font-family: monospace;
    font-size: $size-3;
    transform: rotate(90deg);
    float: right;
    cursor: pointer;
  }
  .tag {
    clear: both;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  .description {
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.yolo-footer {
  text-align: right;
}

// Left align content, right margin auto, left margin 0
.left {
  margin-right: auto;
  margin-left: 0;
}

// Center content, left/right auto, top/bottom 0 margin
.center {
  margin: 0 auto;
}

// No display
.no-display {
  display: none;
  overflow: auto;
}

// No bullets on lists
.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// captioned elements
.caption {
  text-align: center;
  padding: 1rem;
}

// back to top link
.back-to-top {
  display: block;
  text-align: right;
  text-decoration: none;
}

// copy code header
.code-header {
  font-weight: bold;
  padding: 0.3em 0.3em 0.3em 0.4em;
  vertical-align: middle;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

// embedded video styling
.video {
  width: 100%;
  iframe {
    width: 300px;
    height: 533px;
    border: none;
    border-radius: 0.5em;
  }
}

// pill styling
.pill {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem 1rem;
  font-size: $size-6;
  font-weight: bold;
  border-radius: 3rem;
}

// prezo styling
.prezo-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 0.3em;
  border: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  &.is-16-by-9 {
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    padding-top: 56.25%;
  }
  &.is-4-by-3 {
    /* 4:3 Aspect Ratio */
    padding-top: 75%;
  }
  &.is-1-by-1 {
    /* 1:1 Aspect Ratio */
    padding-top: 100%;
  }
}

// Style the iframe to fit in the iframe-container div with full height and width
.prezo-responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

// Syntax highlighting text color based on background color
@function text-color($bg, $syntax) {
  @if(lightness($bg) > 50) {
    // syntax-on-light
    @return map-get($syntax-on-light, $syntax);
  } @else {
    // syntax-on-dark
    @return map-get($syntax-on-dark, $syntax);
  }
}

@mixin dynamic-color($bg, $syntax) {
  color: text-color($bg, $syntax);
}