<div class="columns">
    <div class="column">
        <img src="assets/images/general/dairy-palace.png"
             onclick="openModal();currentSlide(1)"
             class="lb-square center lb-hover-shadow">
    </div>
    <div class="column">
        <img src="assets/images/general/nacho.png"
             onclick="openModal();currentSlide(2)"
             class="lb-square center lb-hover-shadow">
    </div>
    <div class="column">
        <img src="assets/images/general/macpro.png"
             onclick="openModal();currentSlide(3)"
             class="lb-square center lb-hover-shadow">
    </div>
    <div class="column">
        <img src="assets/images/general/porky.png"
             onclick="openModal();currentSlide(4)"
             class="lb-square center lb-hover-shadow">
    </div>
</div>

<!-- The lb-modal/Lightbox -->
<div id="lb-myModal" class="lb-modal">
    <span class="lb-close cursor" onclick="closeModal()">&times;</span>
    <div class="lb-modal-content">
        <div class="lb-mySlides">
            <img src="assets/images/general/dairy-palace.png" class="is-512 center">
        </div>
        <div class="lb-mySlides">
            <img src="assets/images/general/nacho.png" class="is-512 center">
        </div>
        <div class="lb-mySlides">
            <img src="assets/images/general/macpro.png" class="is-512 center">
        </div>
        <div class="lb-mySlides">
            <img src="assets/images/general/porky.png" class="is-512 center">
        </div>

        <!-- Next/previous controls -->
        <a class="lb-prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="lb-next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Caption text -->
        <div class="lb-caption-container">
            <p id="lb-caption"></p>
        </div>

        <!-- Thumbnail image controls -->
        <div class="columns">
            <div class="column">
                <img class="lb-square center lb-demo" src="assets/images/general/dairy-palace.png"
                     onclick="currentSlide(1)" alt="Dairy Palace, Canton Texas">
            </div>
            <div class="column">
                <img class="lb-square center lb-demo" src="assets/images/general/nacho.png"
                     onclick="currentSlide(2)" alt="Nachooooooo!!!">
            </div>
            <div class="column">
                <img class="lb-square center lb-demo" src="assets/images/general/macpro.png"
                     onclick="currentSlide(3)" alt="Apple got me again...">
            </div>
            <div class="column">
                <img class="lb-square center lb-demo" src="assets/images/general/porky.png"
                     onclick="currentSlide(4)" alt="Porky makes some gooood BBQ!">
            </div>
        </div>
    </div>
</div>