<div class="columns">
    <div class="column">
        <img src="assets/images/general/dairy-palace.png"
             onclick="openModal();currentSlide(1)"
             class="lb-square center lb-hover-shadow">
    </div>
    <div class="column">
        <img src="assets/images/general/nacho.png"
             onclick="openModal();currentSlide(2)"
             class="lb-square center lb-hover-shadow">
    </div>
    <div class="column">
        <img src="assets/images/general/macpro.png"
             onclick="openModal();currentSlide(3)"
             class="lb-square center lb-hover-shadow">
    </div>
    <div class="column">
        <img src="assets/images/general/porky.png"
             onclick="openModal();currentSlide(4)"
             class="lb-square center lb-hover-shadow">
    </div>
    <div class="column">
        <img src="assets/images/general/guadalupe-mountains.png"
             onclick="openModal();currentSlide(5)"
             class="lb-square center lb-hover-shadow">
    </div>
    <div class="column">
        <img src="assets/images/general/best-painting-ever.png"
             onclick="openModal();currentSlide(6)"
             class="lb-square center lb-hover-shadow">
    </div>
    <div class="column">
        <img src="assets/images/general/devils-tower.png"
             onclick="openModal();currentSlide(7)"
             class="lb-square center lb-hover-shadow">
    </div>
    <div class="column">
        <img src="assets/images/general/big-sky.png"
             onclick="openModal();currentSlide(8)"
             class="lb-square center lb-hover-shadow">
    </div>
</div>

<!-- The lb-modal/Lightbox -->
<div id="lb-modal" class="lb-modal">
    <span class="lb-close cursor" onclick="closeModal()">&times;</span>
    <div class="lb-modal-content">
        <div class="lb-slides">
            <img class="lb-item center"
                src="assets/images/general/dairy-palace.png"
                alt="Dairy Palace, Canton Texas.">
        </div>
        <div class="lb-slides">
            <img class="lb-item center"
                 src="assets/images/general/nacho.png"
                alt="Nachooooooo!!!">
        </div>
        <div class="lb-slides">
            <img class="lb-item center"
                src="assets/images/general/macpro.png"
                alt="My new toy.">
        </div>
        <div class="lb-slides">
            <img class="lb-item center"
                src="assets/images/general/porky.png"
                alt="Porky makes some good BBQ!">
        </div>
        <div class="lb-slides">
            <img class="lb-item center"
                src="assets/images/general/guadalupe-mountains.png"
                alt="Guadalupe Mountains, Texas.">
        </div>
        <div class="lb-slides">
            <img class="lb-item center"
                src="assets/images/general/best-painting-ever.png"
                alt="Best painting ever.">
        </div>
        <div class="lb-slides">
            <img class="lb-item center"
                src="assets/images/general/devils-tower.png"
                alt="Devils Tower, Wyoming.">
        </div>
        <div class="lb-slides">
            <img class="lb-item center"
                src="assets/images/general/big-sky.png"
                alt="Big Sky over Texas.">
        </div>
        <!-- Next/previous controls -->
        <a class="lb-nav lb-prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="lb-nav lb-next" onclick="plusSlides(1)">&#10095;</a>
        <!-- Caption text -->
        <div class="lb-caption-container">
            <p id="lb-caption"></p>
        </div>
    </div>
</div>