{% assign numImages = site.data.images.size %}
{% assign imagesPerColumn = numImages | divided_by: 4 | minus: 1 %}
{% assign imagesRemainder = numImages | modulo: 4 %}
<div class="columns">
    {% for i in (0..3) %}
    <div class="column">
        {% for j in (0..imagesPerColumn) %}
        {% assign offset = i | times: imagesPerColumn %}
        {% assign idx = i | plus: j | plus: offset %}
        <img class="lb-square lb-hover-shadow"
             onclick="openModal();currentSlide({{ idx | plus: 1}});"
             alt="{{ site.data.images[idx].description }}"
             src="{{ site.data.images[idx].src }}">
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% assign numSlides = site.data.images.size | minus 1 %}
<!-- The lb-modal/Lightbox -->
<div id="lb-modal" class="lb-modal">
    <span class="lb-close cursor" onclick="closeModal()">&times;</span>
    <div class="lb-modal-content">
        {% for i in (0..numSlides) %}
        <div class="lb-slides">
            <img class="lb-item center"
                 alt="{{ site.data.images[i].description }}"
                 src="{{ site.data.images[i].src }}">
        </div>
        {% endfor %}
        <!-- Next/previous controls -->
        <a class="lb-nav lb-prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="lb-nav lb-next" onclick="plusSlides(1)">&#10095;</a>
        <!-- Caption text -->
        <div class="lb-caption-container">
            <p id="lb-caption"></p>
        </div>
    </div>
</div>