// Toggled by yolo.js
.nav-menu {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  ul {
    line-height: 1.7;
    list-style-type: none;
    margin: 0;
    padding-left: 1rem;
    li {
      margin: 0;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        &:focus {
          text-decoration: underline;
        }
      }
    }
    li:before {
      content: "+ ";
    }
  }
}