// ----------------------------------------------------------------------------
// other/misc classes
// ----------------------------------------------------------------------------
@import "../base/variables";

.yolo-caption {
  text-align: center;
  padding: 1rem;
}

// Color swatch
.yolo-swatch {
  background-color: inherit;
  color: inherit;
  border-radius: 0.20rem;
  padding: .25rem .5rem;
  position: relative;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

// Yolo page header
.yolo-header {
  .logo {
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 128px;
    height: 128px;
    object-fit: cover;
    float: left;
  }
  .tag {
    clear: both;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  .description {
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.yolo-footer {
  text-align: right;
}

.yolo-toggle-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: $size-3;
  font-size: $size-3;

  .toggle-button {
    position: absolute;
    transition: color .25s ease;
    user-select: none;
    cursor: pointer;
  }
}

// back to top link
.yolo-to-top {
  display: block;
  text-align: right;
  text-decoration: none;
}

// copy code header
.yolo-code-header {
  padding: 0.3em 0.3em 0.3em 0.4em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  vertical-align: middle;
  .code-label {
    font-weight: bold;
  }
  .copy-icon {
    padding-top: .125em;
    float: right;
  }
  &:is(:hover) {
    cursor: pointer;
  }
}

// embedded video styling
.yolo-video {
  width: 100%;
  iframe {
    width: 300px;
    height: 533px;
    border: none;
    border-radius: 0.5em;
  }
}

// pill styling
.yolo-pill {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem 1rem;
  font-size: $size-6;
  font-weight: bold;
  border-radius: 3rem;
}

// tab styling
//.yolo-tab {
//  overflow: hidden;
//  border: 1px solid #ccc;
//  background-color: #f1f1f1;
//}

///* Style the buttons that are used to open the tab content */
//.yolo-tab button {
//  background-color: inherit;
//  float: left;
//  border: none;
//  outline: none;
//  cursor: pointer;
//  padding: 14px 16px;
//  transition: 0.3s;
//}
//
///* Change background color of buttons on hover */
//.yolo-tab button:hover {
//  background-color: #ddd;
//}
//
///* Create an active/current tablink class */
//.yolo-tab button.active {
//  background-color: #ccc;
//}
//
///* Style the tab content */
//.yolo-tabcontent {
//  display: none;
//  padding: 6px 12px;
//  border: 1px solid #ccc;
//  border-top: none;
//}

.yolo-tab {
  overflow: hidden;
  button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
}
.yolo-tab-content {
  display: none;
  padding: 6px 12px;
  border-top: none;
}


// prezo styling
.yolo-prezo-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 0.3em;
  border: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  &.is-16-by-9 {
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    padding-top: 56.25%;
  }
  &.is-4-by-3 {
    /* 4:3 Aspect Ratio */
    padding-top: 75%;
  }
  &.is-1-by-1 {
    /* 1:1 Aspect Ratio */
    padding-top: 100%;
  }
}

// Style the iframe to fit in the iframe-container div with full height and width
.yolo-prezo-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}