// ----------------------------------------------------------------------------
// bluebonnet light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-container-color: #051c69;
$light-syntax-text: #edebff;
$light-syntax-comment-hashbang: #96a7dc;
$light-syntax-comment-multiline: #96a7dc;
$light-syntax-comment-preproc: #96a7dc;
$light-syntax-comment-preprocfile: #96a7dc;
$light-syntax-comment-single: #96a7dc;
$light-syntax-comment-special: #96a7dc;
$light-syntax-comment: #96a7dc;
$light-syntax-error: #9e035c;
$light-syntax-generic-deleted: #9e035c;
$light-syntax-generic-emph: #edebff;
$light-syntax-generic-error: #edebff;
$light-syntax-generic-heading: #edebff;
$light-syntax-generic-inserted: #edebff;
$light-syntax-generic-output: #44475a;
$light-syntax-generic-prompt: #edebff;
$light-syntax-generic-strong: #edebff;
$light-syntax-generic-subheading: #edebff;
$light-syntax-generic-traceback: #edebff;
$light-syntax-highlight-line: #44475a;
$light-syntax-keyword-constant: #b7ffd5;
$light-syntax-keyword-declaration: #21bced;
$light-syntax-keyword-namespace: #b7ffd5;
$light-syntax-keyword-pseudo: #b7ffd5;
$light-syntax-keyword-reserved: #b7ffd5;
$light-syntax-keyword-type: #21bced;
$light-syntax-keyword: #b7ffd5;
$light-syntax-literal-date: #edebff;
$light-syntax-literal: #edebff;
$light-syntax-name-attribute: #00d257;
$light-syntax-name-builtin-pseudo: #edebff;
$light-syntax-name-builtin: #21bced;
$light-syntax-name-class: #00d257;
$light-syntax-name-constant: #edebff;
$light-syntax-name-decorator: #edebff;
$light-syntax-name-entity: #edebff;
$light-syntax-name-exception: #edebff;
$light-syntax-name-function-magic: #00d257;
$light-syntax-name-function: #00d257;
$light-syntax-name-label: #21bced;
$light-syntax-name-namespace: #edebff;
$light-syntax-name-other: #edebff;
$light-syntax-name-property: #00d257;
$light-syntax-name-tag: #b7ffd5;
$light-syntax-name-variable-class: #21bced;
$light-syntax-name-variable-global: #21bced;
$light-syntax-name-variable-instance: #21bced;
$light-syntax-name-variable-magic: #21bced;
$light-syntax-name-variable: #21bced;
$light-syntax-name: #edebff;
$light-syntax-number-bin: #00d257;
$light-syntax-number-float: #00d257;
$light-syntax-number-hex: #00d257;
$light-syntax-number-integer-long: #00d257;
$light-syntax-number-integer: #00d257;
$light-syntax-number-oct: #00d257;
$light-syntax-number: #00d257;
$light-syntax-operator-word: #f72685;
$light-syntax-operator: #f72685;
$light-syntax-punctuation: #edebff;
$light-syntax-string-affix: #9a5dff;
$light-syntax-string-backtick: #9a5dff;
$light-syntax-string-char: #9a5dff;
$light-syntax-string-delimiter: #9a5dff;
$light-syntax-string-doc: #9a5dff;
$light-syntax-string-double: #9a5dff;
$light-syntax-string-escape: #9a5dff;
$light-syntax-string-heredoc: #9a5dff;
$light-syntax-string-interpol: #9a5dff;
$light-syntax-string-other: #9a5dff;
$light-syntax-string-regex: #9a5dff;
$light-syntax-string-single: #9a5dff;
$light-syntax-string-symbol: #9a5dff;
$light-syntax-string: #9a5dff;
$light-syntax-text-whitespace: #edebff;
// ----------------------------------------------------------------------------
// bluebonnet dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-container-color: #edebff;
$dark-syntax-text: #110b53;
$dark-syntax-comment-hashbang: #232b43;
$dark-syntax-comment-multiline: #232b43;
$dark-syntax-comment-preproc: #232b43;
$dark-syntax-comment-preprocfile: #232b43;
$dark-syntax-comment-single: #232b43;
$dark-syntax-comment-special: #232b43;
$dark-syntax-comment: #232b43;
$dark-syntax-error: #9e035c;
$dark-syntax-generic-deleted: #9e035c;
$dark-syntax-generic-emph: #110b53;
$dark-syntax-generic-error: #110b53;
$dark-syntax-generic-heading: #110b53;
$dark-syntax-generic-inserted: #110b53;
$dark-syntax-generic-output: #44475a;
$dark-syntax-generic-prompt: #110b53;
$dark-syntax-generic-strong: #110b53;
$dark-syntax-generic-subheading: #110b53;
$dark-syntax-generic-traceback: #110b53;
$dark-syntax-highlight-line: #44475a;
$dark-syntax-keyword-constant: #00461d;
$dark-syntax-keyword-declaration: #03a7db;
$dark-syntax-keyword-namespace: #00461d;
$dark-syntax-keyword-pseudo: #00461d;
$dark-syntax-keyword-reserved: #00461d;
$dark-syntax-keyword-type: #03a7db;
$dark-syntax-keyword: #00461d;
$dark-syntax-literal-date: #110b53;
$dark-syntax-literal: #110b53;
$dark-syntax-name-attribute: #00a344;
$dark-syntax-name-builtin-pseudo: #110b53;
$dark-syntax-name-builtin: #03a7db;
$dark-syntax-name-class: #00a344;
$dark-syntax-name-constant: #110b53;
$dark-syntax-name-decorator: #110b53;
$dark-syntax-name-entity: #110b53;
$dark-syntax-name-exception: #110b53;
$dark-syntax-name-function-magic: #00a344;
$dark-syntax-name-function: #00a344;
$dark-syntax-name-label: #03a7db;
$dark-syntax-name-namespace: #110b53;
$dark-syntax-name-other: #110b53;
$dark-syntax-name-property: #00a344;
$dark-syntax-name-tag: #00461d;
$dark-syntax-name-variable-class: #03a7db;
$dark-syntax-name-variable-global: #03a7db;
$dark-syntax-name-variable-instance: #03a7db;
$dark-syntax-name-variable-magic: #03a7db;
$dark-syntax-name-variable: #03a7db;
$dark-syntax-name: #110b53;
$dark-syntax-number-bin: #00a344;
$dark-syntax-number-float: #00a344;
$dark-syntax-number-hex: #00a344;
$dark-syntax-number-integer-long: #00a344;
$dark-syntax-number-integer: #00a344;
$dark-syntax-number-oct: #00a344;
$dark-syntax-number: #00a344;
$dark-syntax-operator-word: #f72685;
$dark-syntax-operator: #f72685;
$dark-syntax-punctuation: #110b53;
$dark-syntax-string-affix: #9505f2;
$dark-syntax-string-backtick: #9505f2;
$dark-syntax-string-char: #9505f2;
$dark-syntax-string-delimiter: #9505f2;
$dark-syntax-string-doc: #9505f2;
$dark-syntax-string-double: #9505f2;
$dark-syntax-string-escape: #9505f2;
$dark-syntax-string-heredoc: #9505f2;
$dark-syntax-string-interpol: #9505f2;
$dark-syntax-string-other: #9505f2;
$dark-syntax-string-regex: #9505f2;
$dark-syntax-string-single: #9505f2;
$dark-syntax-string-symbol: #9505f2;
$dark-syntax-string: #9505f2;
$dark-syntax-text-whitespace: #110b53;