// ----------------------------------------------------------------------------
// cooleo light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-text: #f72685;
$light-syntax-container-color: #21065f;
$light-syntax-highlight-line: #f72685;
$light-syntax-error: #f72685;
$light-syntax-punctuation: #f72685;
$light-syntax-text-whitespace: #f72685;
$light-syntax-comment-hashbang: #f72685;
$light-syntax-comment-multiline: #f72685;
$light-syntax-comment-preproc: #f72685;
$light-syntax-comment-preprocfile: #f72685;
$light-syntax-comment-single: #f72685;
$light-syntax-comment-special: #f72685;
$light-syntax-comment: #f72685;
$light-syntax-generic-deleted: #f72685;
$light-syntax-generic-emph: #f72685;
$light-syntax-generic-error: #f72685;
$light-syntax-generic-heading: #f72685;
$light-syntax-generic-inserted: #f72685;
$light-syntax-generic-output: #f72685;
$light-syntax-generic-prompt: #f72685;
$light-syntax-generic-strong: #f72685;
$light-syntax-generic-subheading: #f72685;
$light-syntax-generic-traceback: #f72685;
$light-syntax-keyword-constant: #f72685;
$light-syntax-keyword-declaration: #f72685;
$light-syntax-keyword-namespace: #f72685;
$light-syntax-keyword-pseudo: #f72685;
$light-syntax-keyword-reserved: #f72685;
$light-syntax-keyword-type: #f72685;
$light-syntax-keyword: #f72685;
$light-syntax-literal-date: #f72685;
$light-syntax-literal: #f72685;
$light-syntax-name-attribute: #f72685;
$light-syntax-name-builtin-pseudo: #f72685;
$light-syntax-name-builtin: #f72685;
$light-syntax-name-class: #f72685;
$light-syntax-name-constant: #f72685;
$light-syntax-name-decorator: #f72685;
$light-syntax-name-entity: #f72685;
$light-syntax-name-exception: #f72685;
$light-syntax-name-function-magic: #f72685;
$light-syntax-name-function: #f72685;
$light-syntax-name-label: #f72685;
$light-syntax-name-namespace: #f72685;
$light-syntax-name-other: #f72685;
$light-syntax-name-property: #f72685;
$light-syntax-name-tag: #f72685;
$light-syntax-name-variable-class: #f72685;
$light-syntax-name-variable-global: #f72685;
$light-syntax-name-variable-instance: #f72685;
$light-syntax-name-variable-magic: #f72685;
$light-syntax-name-variable: #f72685;
$light-syntax-name: #f72685;
$light-syntax-number-bin: #f72685;
$light-syntax-number-float: #f72685;
$light-syntax-number-hex: #f72685;
$light-syntax-number-integer-long: #f72685;
$light-syntax-number-integer: #f72685;
$light-syntax-number-oct: #f72685;
$light-syntax-number: #f72685;
$light-syntax-operator-word: #f72685;
$light-syntax-operator: #f72685;
$light-syntax-string-affix: #f72685;
$light-syntax-string-backtick: #f72685;
$light-syntax-string-char: #f72685;
$light-syntax-string-delimiter: #f72685;
$light-syntax-string-doc: #f72685;
$light-syntax-string-double: #f72685;
$light-syntax-string-escape: #f72685;
$light-syntax-string-heredoc: #f72685;
$light-syntax-string-interpol: #f72685;
$light-syntax-string-other: #f72685;
$light-syntax-string-regex: #f72685;
$light-syntax-string-single: #f72685;
$light-syntax-string-symbol: #f72685;
$light-syntax-string: #f72685;
// ----------------------------------------------------------------------------
// cooleo dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-text: #21065f;
$dark-syntax-container-color: #f72685;
$dark-syntax-highlight-line: #21065f;
$dark-syntax-error: #21065f;
$dark-syntax-punctuation: #21065f;
$dark-syntax-text-whitespace: #21065f;
$dark-syntax-comment-hashbang: #21065f;
$dark-syntax-comment-multiline: #21065f;
$dark-syntax-comment-preproc: #21065f;
$dark-syntax-comment-preprocfile: #21065f;
$dark-syntax-comment-single: #21065f;
$dark-syntax-comment-special: #21065f;
$dark-syntax-comment: #21065f;
$dark-syntax-generic-deleted: #21065f;
$dark-syntax-generic-emph: #21065f;
$dark-syntax-generic-error: #21065f;
$dark-syntax-generic-heading: #21065f;
$dark-syntax-generic-inserted: #21065f;
$dark-syntax-generic-output: #21065f;
$dark-syntax-generic-prompt: #21065f;
$dark-syntax-generic-strong: #21065f;
$dark-syntax-generic-subheading: #21065f;
$dark-syntax-generic-traceback: #21065f;
$dark-syntax-keyword-constant: #21065f;
$dark-syntax-keyword-declaration: #21065f;
$dark-syntax-keyword-namespace: #21065f;
$dark-syntax-keyword-pseudo: #21065f;
$dark-syntax-keyword-reserved: #21065f;
$dark-syntax-keyword-type: #21065f;
$dark-syntax-keyword: #21065f;
$dark-syntax-literal-date: #21065f;
$dark-syntax-literal: #21065f;
$dark-syntax-name-attribute: #21065f;
$dark-syntax-name-builtin-pseudo: #21065f;
$dark-syntax-name-builtin: #21065f;
$dark-syntax-name-class: #21065f;
$dark-syntax-name-constant: #21065f;
$dark-syntax-name-decorator: #21065f;
$dark-syntax-name-entity: #21065f;
$dark-syntax-name-exception: #21065f;
$dark-syntax-name-function-magic: #21065f;
$dark-syntax-name-function: #21065f;
$dark-syntax-name-label: #21065f;
$dark-syntax-name-namespace: #21065f;
$dark-syntax-name-other: #21065f;
$dark-syntax-name-property: #21065f;
$dark-syntax-name-tag: #21065f;
$dark-syntax-name-variable-class: #21065f;
$dark-syntax-name-variable-global: #21065f;
$dark-syntax-name-variable-instance: #21065f;
$dark-syntax-name-variable-magic: #21065f;
$dark-syntax-name-variable: #21065f;
$dark-syntax-name: #21065f;
$dark-syntax-number-bin: #21065f;
$dark-syntax-number-float: #21065f;
$dark-syntax-number-hex: #21065f;
$dark-syntax-number-integer-long: #21065f;
$dark-syntax-number-integer: #21065f;
$dark-syntax-number-oct: #21065f;
$dark-syntax-number: #21065f;
$dark-syntax-operator-word: #21065f;
$dark-syntax-operator: #21065f;
$dark-syntax-string-affix: #21065f;
$dark-syntax-string-backtick: #21065f;
$dark-syntax-string-char: #21065f;
$dark-syntax-string-delimiter: #21065f;
$dark-syntax-string-doc: #21065f;
$dark-syntax-string-double: #21065f;
$dark-syntax-string-escape: #21065f;
$dark-syntax-string-heredoc: #21065f;
$dark-syntax-string-interpol: #21065f;
$dark-syntax-string-other: #21065f;
$dark-syntax-string-regex: #21065f;
$dark-syntax-string-single: #21065f;
$dark-syntax-string-symbol: #21065f;
$dark-syntax-string: #21065f;