// ----------------------------------------------------------------------------
// corbs light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-text: #ecefff;
$light-syntax-container-color: #280873;
$light-syntax-highlight-line: #f72685;
$light-syntax-error: #b71c1c;
$light-syntax-punctuation: #32cdff;
$light-syntax-text-whitespace: #ecefff;
$light-syntax-comment-hashbang: #8b59ff;
$light-syntax-comment-multiline: #8b59ff;
$light-syntax-comment-preproc: #8b59ff;
$light-syntax-comment-preprocfile: #8b59ff;
$light-syntax-comment-single: #8b59ff;
$light-syntax-comment-special: #8b59ff;
$light-syntax-comment: #8b59ff;
$light-syntax-generic-deleted: #b71c1c;
$light-syntax-generic-emph: #ecefff;
$light-syntax-generic-error: #ecefff;
$light-syntax-generic-heading: #ecefff;
$light-syntax-generic-inserted: #ecefff;
$light-syntax-generic-output: #ecefff;
$light-syntax-generic-prompt: #f72685;
$light-syntax-generic-strong: #f72685;
$light-syntax-generic-subheading: #ecefff;
$light-syntax-generic-traceback: #ecefff;
$light-syntax-keyword-constant: #f72685;
$light-syntax-keyword-declaration: #668efb;
$light-syntax-keyword-namespace: #f72685;
$light-syntax-keyword-pseudo: #f72685;
$light-syntax-keyword-reserved: #f72685;
$light-syntax-keyword-type: #668efb;
$light-syntax-keyword: #f72685;
$light-syntax-literal-date: #ecefff;
$light-syntax-literal: #ecefff;
$light-syntax-name-attribute: #50fa7b;
$light-syntax-name-builtin-pseudo: #ecefff;
$light-syntax-name-builtin: #0ca9f4;
$light-syntax-name-class: #50fa7b;
$light-syntax-name-constant: #ecefff;
$light-syntax-name-decorator: #ecefff;
$light-syntax-name-entity: #ecefff;
$light-syntax-name-exception: #ecefff;
$light-syntax-name-function-magic: #50fa7b;
$light-syntax-name-function: #50fa7b;
$light-syntax-name-label: #50fa7b;
$light-syntax-name-namespace: #ecefff;
$light-syntax-name-other: #ecefff;
$light-syntax-name-property: #50fa7b;
$light-syntax-name-tag: #f72685;
$light-syntax-name-variable-class: #0ca9f4;
$light-syntax-name-variable-global: #0ca9f4;
$light-syntax-name-variable-instance: #0ca9f4;
$light-syntax-name-variable-magic: #0ca9f4;
$light-syntax-name-variable: #0ca9f4;
$light-syntax-name: #ecefff;
$light-syntax-number-bin: #8b59ff;
$light-syntax-number-float: #8b59ff;
$light-syntax-number-hex: #8b59ff;
$light-syntax-number-integer-long: #8b59ff;
$light-syntax-number-integer: #8b59ff;
$light-syntax-number-oct: #8b59ff;
$light-syntax-number: #8b59ff;
$light-syntax-operator-word: #50fa7b;
$light-syntax-operator: #50fa7b;
$light-syntax-string-affix: #c566fa;
$light-syntax-string-backtick: #c566fa;
$light-syntax-string-char: #c566fa;
$light-syntax-string-delimiter: #c566fa;
$light-syntax-string-doc: #c566fa;
$light-syntax-string-double: #32cdff;
$light-syntax-string-escape: #c566fa;
$light-syntax-string-heredoc: #c566fa;
$light-syntax-string-interpol: #c566fa;
$light-syntax-string-other: #32cdff;
$light-syntax-string-regex: #c566fa;
$light-syntax-string-single: #32cdff;
$light-syntax-string-symbol: #c566fa;
$light-syntax-string: #c566fa;
// ----------------------------------------------------------------------------
// corbs dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-text: #ecefff;
$dark-syntax-container-color: #280873;
$dark-syntax-highlight-line: #f72685;
$dark-syntax-error: #b71c1c;
$dark-syntax-punctuation: #32cdff;
$dark-syntax-text-whitespace: #ecefff;
$dark-syntax-comment-hashbang: #8b59ff;
$dark-syntax-comment-multiline: #8b59ff;
$dark-syntax-comment-preproc: #8b59ff;
$dark-syntax-comment-preprocfile: #8b59ff;
$dark-syntax-comment-single: #8b59ff;
$dark-syntax-comment-special: #8b59ff;
$dark-syntax-comment: #8b59ff;
$dark-syntax-generic-deleted: #b71c1c;
$dark-syntax-generic-emph: #ecefff;
$dark-syntax-generic-error: #ecefff;
$dark-syntax-generic-heading: #ecefff;
$dark-syntax-generic-inserted: #ecefff;
$dark-syntax-generic-output: #ecefff;
$dark-syntax-generic-prompt: #f72685;
$dark-syntax-generic-strong: #f72685;
$dark-syntax-generic-subheading: #ecefff;
$dark-syntax-generic-traceback: #ecefff;
$dark-syntax-keyword-constant: #f72685;
$dark-syntax-keyword-declaration: #668efb;
$dark-syntax-keyword-namespace: #f72685;
$dark-syntax-keyword-pseudo: #f72685;
$dark-syntax-keyword-reserved: #f72685;
$dark-syntax-keyword-type: #668efb;
$dark-syntax-keyword: #f72685;
$dark-syntax-literal-date: #ecefff;
$dark-syntax-literal: #ecefff;
$dark-syntax-name-attribute: #50fa7b;
$dark-syntax-name-builtin-pseudo: #ecefff;
$dark-syntax-name-builtin: #0ca9f4;
$dark-syntax-name-class: #50fa7b;
$dark-syntax-name-constant: #ecefff;
$dark-syntax-name-decorator: #ecefff;
$dark-syntax-name-entity: #ecefff;
$dark-syntax-name-exception: #ecefff;
$dark-syntax-name-function-magic: #50fa7b;
$dark-syntax-name-function: #50fa7b;
$dark-syntax-name-label: #50fa7b;
$dark-syntax-name-namespace: #ecefff;
$dark-syntax-name-other: #ecefff;
$dark-syntax-name-property: #50fa7b;
$dark-syntax-name-tag: #f72685;
$dark-syntax-name-variable-class: #0ca9f4;
$dark-syntax-name-variable-global: #0ca9f4;
$dark-syntax-name-variable-instance: #0ca9f4;
$dark-syntax-name-variable-magic: #0ca9f4;
$dark-syntax-name-variable: #0ca9f4;
$dark-syntax-name: #ecefff;
$dark-syntax-number-bin: #8b59ff;
$dark-syntax-number-float: #8b59ff;
$dark-syntax-number-hex: #8b59ff;
$dark-syntax-number-integer-long: #8b59ff;
$dark-syntax-number-integer: #8b59ff;
$dark-syntax-number-oct: #8b59ff;
$dark-syntax-number: #8b59ff;
$dark-syntax-operator-word: #50fa7b;
$dark-syntax-operator: #50fa7b;
$dark-syntax-string-affix: #c566fa;
$dark-syntax-string-backtick: #c566fa;
$dark-syntax-string-char: #c566fa;
$dark-syntax-string-delimiter: #c566fa;
$dark-syntax-string-doc: #c566fa;
$dark-syntax-string-double: #32cdff;
$dark-syntax-string-escape: #c566fa;
$dark-syntax-string-heredoc: #c566fa;
$dark-syntax-string-interpol: #c566fa;
$dark-syntax-string-other: #32cdff;
$dark-syntax-string-regex: #c566fa;
$dark-syntax-string-single: #32cdff;
$dark-syntax-string-symbol: #c566fa;
$dark-syntax-string: #c566fa;