// ----------------------------------------------------------------------------
// dusk dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-comment-hashbang: #5867b3;
$dark-syntax-comment-multiline: #5867b3;
$dark-syntax-comment-preproc: #5867b3;
$dark-syntax-comment-preprocfile: #5867b3;
$dark-syntax-comment-single: #5867b3;
$dark-syntax-comment-special: #5867b3;
$dark-syntax-comment: #5867b3;
$dark-syntax-container-color: #fff3eb;
$dark-syntax-error: #d40278;
$dark-syntax-generic-deleted: #d40278;
$dark-syntax-generic-emph: #380749;
$dark-syntax-generic-error: #380749;
$dark-syntax-generic-heading: #380749;
$dark-syntax-generic-inserted: #380749;
$dark-syntax-generic-output: #08aeb1;
$dark-syntax-generic-prompt: #380749;
$dark-syntax-generic-strong: #380749;
$dark-syntax-generic-subheading: #380749;
$dark-syntax-generic-traceback: #380749;
$dark-syntax-highlight-line: #08aeb1;
$dark-syntax-keyword-constant: #de5703;
$dark-syntax-keyword-declaration: #08aeb1;
$dark-syntax-keyword-namespace: #de5703;
$dark-syntax-keyword-pseudo: #de5703;
$dark-syntax-keyword-reserved: #de5703;
$dark-syntax-keyword-type: #de5703;
$dark-syntax-keyword: #de5703;
$dark-syntax-literal-date: #380749;
$dark-syntax-literal: #380749;
$dark-syntax-name-attribute: #00a0ff;
$dark-syntax-name-builtin-pseudo: #380749;
$dark-syntax-name-builtin: #08aeb1;
$dark-syntax-name-class: #00a0ff;
$dark-syntax-name-constant: #380749;
$dark-syntax-name-decorator: #380749;
$dark-syntax-name-entity: #380749;
$dark-syntax-name-exception: #380749;
$dark-syntax-name-function-magic: #00a0ff;
$dark-syntax-name-function: #00a0ff;
$dark-syntax-name-label: #00a0ff;
$dark-syntax-name-namespace: #380749;
$dark-syntax-name-other: #de5703;
$dark-syntax-name-property: #00a0ff;
$dark-syntax-name-tag: #de5703;
$dark-syntax-name-variable-class: #08aeb1;
$dark-syntax-name-variable-global: #08aeb1;
$dark-syntax-name-variable-instance: #08aeb1;
$dark-syntax-name-variable-magic: #08aeb1;
$dark-syntax-name-variable: #08aeb1;
$dark-syntax-name: #380749;
$dark-syntax-number-bin: #f549b3;
$dark-syntax-number-float: #f549b3;
$dark-syntax-number-hex: #f549b3;
$dark-syntax-number-integer-long: #f549b3;
$dark-syntax-number-integer: #f549b3;
$dark-syntax-number-oct: #f549b3;
$dark-syntax-number: #f549b3;
$dark-syntax-operator-word: #de5703;
$dark-syntax-operator: #de5703;
$dark-syntax-punctuation: #380749;
$dark-syntax-string-affix: #9d17c9;
$dark-syntax-string-backtick: #9d17c9;
$dark-syntax-string-char: #9d17c9;
$dark-syntax-string-delimiter: #9d17c9;
$dark-syntax-string-doc: #9d17c9;
$dark-syntax-string-double: #9d17c9;
$dark-syntax-string-escape: #9d17c9;
$dark-syntax-string-heredoc: #9d17c9;
$dark-syntax-string-interpol: #9d17c9;
$dark-syntax-string-other: #9d17c9;
$dark-syntax-string-regex: #9d17c9;
$dark-syntax-string-single: #9d17c9;
$dark-syntax-string-symbol: #9d17c9;
$dark-syntax-string: #9d17c9;
$dark-syntax-text-whitespace: #380749;
$dark-syntax-text: #380749;
// ----------------------------------------------------------------------------
// dusk light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-comment-hashbang: #8f99cc;
$light-syntax-comment-multiline: #8f99cc;
$light-syntax-comment-preproc: #8f99cc;
$light-syntax-comment-preprocfile: #8f99cc;
$light-syntax-comment-single: #8f99cc;
$light-syntax-comment-special: #8f99cc;
$light-syntax-comment: #8f99cc;
$light-syntax-container-color: #380749;
$light-syntax-error: #fd0e95;
$light-syntax-generic-deleted: #fd0e95;
$light-syntax-generic-emph: #fff3eb;
$light-syntax-generic-error: #fff3eb;
$light-syntax-generic-heading: #fff3eb;
$light-syntax-generic-inserted: #fff3eb;
$light-syntax-generic-output: #b2feff;
$light-syntax-generic-prompt: #fff3eb;
$light-syntax-generic-strong: #fff3eb;
$light-syntax-generic-subheading: #fff3eb;
$light-syntax-generic-traceback: #fff3eb;
$light-syntax-highlight-line: #08aeb1;
$light-syntax-keyword-constant: #f45e02;
$light-syntax-keyword-declaration: #b2feff;
$light-syntax-keyword-namespace: #f45e02;
$light-syntax-keyword-pseudo: #f45e02;
$light-syntax-keyword-reserved: #f45e02;
$light-syntax-keyword-type: #f45e02;
$light-syntax-keyword: #f45e02;
$light-syntax-literal-date: #fff3eb;
$light-syntax-literal: #fff3eb;
$light-syntax-name-attribute: #00a0ff;
$light-syntax-name-builtin-pseudo: #fff3eb;
$light-syntax-name-builtin: #b2feff;
$light-syntax-name-class: #00a0ff;
$light-syntax-name-constant: #fff3eb;
$light-syntax-name-decorator: #fff3eb;
$light-syntax-name-entity: #fff3eb;
$light-syntax-name-exception: #fff3eb;
$light-syntax-name-function-magic: #00a0ff;
$light-syntax-name-function: #00a0ff;
$light-syntax-name-label: #00a0ff;
$light-syntax-name-namespace: #fff3eb;
$light-syntax-name-other: #f45e02;
$light-syntax-name-property: #00a0ff;
$light-syntax-name-tag: #f45e02;
$light-syntax-name-variable-class: #b2feff;
$light-syntax-name-variable-global: #b2feff;
$light-syntax-name-variable-instance: #b2feff;
$light-syntax-name-variable-magic: #b2feff;
$light-syntax-name-variable: #b2feff;
$light-syntax-name: #fff3eb;
$light-syntax-number-bin: #f549b3;
$light-syntax-number-float: #f549b3;
$light-syntax-number-hex: #f549b3;
$light-syntax-number-integer-long: #f549b3;
$light-syntax-number-integer: #f549b3;
$light-syntax-number-oct: #f549b3;
$light-syntax-number: #f549b3;
$light-syntax-operator-word: #f45e02;
$light-syntax-operator: #f45e02;
$light-syntax-punctuation: #fff3eb;
$light-syntax-string-affix: #c85aec;
$light-syntax-string-backtick: #c85aec;
$light-syntax-string-char: #c85aec;
$light-syntax-string-delimiter: #c85aec;
$light-syntax-string-doc: #c85aec;
$light-syntax-string-double: #c85aec;
$light-syntax-string-escape: #c85aec;
$light-syntax-string-heredoc: #c85aec;
$light-syntax-string-interpol: #c85aec;
$light-syntax-string-other: #c85aec;
$light-syntax-string-regex: #c85aec;
$light-syntax-string-single: #c85aec;
$light-syntax-string-symbol: #c85aec;
$light-syntax-string: #c85aec;
$light-syntax-text-whitespace: #fff3eb;
$light-syntax-text: #fff3eb;