// ----------------------------------------------------------------------------
// cooleo light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-text: #ff6a1e;
$light-syntax-container-color: #1f0053;
$light-syntax-highlight-line: #ff6a1e;
$light-syntax-error: #ff6a1e;
$light-syntax-punctuation: #ffe4d6;
$light-syntax-text-whitespace: #ff6a1e;
$light-syntax-comment-hashbang: #ffe4d6;
$light-syntax-comment-multiline: #ffe4d6;
$light-syntax-comment-preproc: #ffe4d6;
$light-syntax-comment-preprocfile: #ffe4d6;
$light-syntax-comment-single: #ffe4d6;
$light-syntax-comment-special: #ffe4d6;
$light-syntax-comment: #ffe4d6;
$light-syntax-generic-deleted: #ff6a1e;
$light-syntax-generic-emph: #ff6a1e;
$light-syntax-generic-error: #ff6a1e;
$light-syntax-generic-heading: #ff6a1e;
$light-syntax-generic-inserted: #ff6a1e;
$light-syntax-generic-output: #ff6a1e;
$light-syntax-generic-prompt: #ff6a1e;
$light-syntax-generic-strong: #ff6a1e;
$light-syntax-generic-subheading: #ff6a1e;
$light-syntax-generic-traceback: #ff6a1e;
$light-syntax-keyword-constant: #ffe4d6;
$light-syntax-keyword-declaration: #ffe4d6;
$light-syntax-keyword-namespace: #ffe4d6;
$light-syntax-keyword-pseudo: #ffe4d6;
$light-syntax-keyword-reserved: #ffe4d6;
$light-syntax-keyword-type: #ffe4d6;
$light-syntax-keyword: #ffe4d6;
$light-syntax-literal-date: #ff6a1e;
$light-syntax-literal: #ff6a1e;
$light-syntax-name-attribute: #ff6a1e;
$light-syntax-name-builtin-pseudo: #ff6a1e;
$light-syntax-name-builtin: #ff6a1e;
$light-syntax-name-class: #ff6a1e;
$light-syntax-name-constant: #ff6a1e;
$light-syntax-name-decorator: #ff6a1e;
$light-syntax-name-entity: #ff6a1e;
$light-syntax-name-exception: #ff6a1e;
$light-syntax-name-function-magic: #ff6a1e;
$light-syntax-name-function: #ff6a1e;
$light-syntax-name-label: #ff6a1e;
$light-syntax-name-namespace: #ff6a1e;
$light-syntax-name-other: #ff6a1e;
$light-syntax-name-property: #ff6a1e;
$light-syntax-name-tag: #ff6a1e;
$light-syntax-name-variable-class: #ff6a1e;
$light-syntax-name-variable-global: #ff6a1e;
$light-syntax-name-variable-instance: #ff6a1e;
$light-syntax-name-variable-magic: #ff6a1e;
$light-syntax-name-variable: #ff6a1e;
$light-syntax-name: #ff6a1e;
$light-syntax-number-bin: #ffe4d6;
$light-syntax-number-float: #ffe4d6;
$light-syntax-number-hex: #ffe4d6;
$light-syntax-number-integer-long: #ffe4d6;
$light-syntax-number-integer: #ffe4d6;
$light-syntax-number-oct: #ffe4d6;
$light-syntax-number: #ffe4d6;
$light-syntax-operator-word: #ff6a1e;
$light-syntax-operator: #ff6a1e;
$light-syntax-string-affix: #ff6a1e;
$light-syntax-string-backtick: #ff6a1e;
$light-syntax-string-char: #ff6a1e;
$light-syntax-string-delimiter: #ff6a1e;
$light-syntax-string-doc: #ff6a1e;
$light-syntax-string-double: #ff6a1e;
$light-syntax-string-escape: #ff6a1e;
$light-syntax-string-heredoc: #ff6a1e;
$light-syntax-string-interpol: #ff6a1e;
$light-syntax-string-other: #ff6a1e;
$light-syntax-string-regex: #ff6a1e;
$light-syntax-string-single: #ff6a1e;
$light-syntax-string-symbol: #ff6a1e;
$light-syntax-string: #ff6a1e;
// ----------------------------------------------------------------------------
// cooleo dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-text: #1f0053;
$dark-syntax-container-color: #ff6a1e;
$dark-syntax-highlight-line: #1f0053;
$dark-syntax-error: #1f0053;
$dark-syntax-punctuation: #ffe4d6;
$dark-syntax-text-whitespace: #1f0053;
$dark-syntax-comment-hashbang: #ffe4d6;
$dark-syntax-comment-multiline: #ffe4d6;
$dark-syntax-comment-preproc: #ffe4d6;
$dark-syntax-comment-preprocfile: #ffe4d6;
$dark-syntax-comment-single: #ffe4d6;
$dark-syntax-comment-special: #ffe4d6;
$dark-syntax-comment: #ffe4d6;
$dark-syntax-generic-deleted: #1f0053;
$dark-syntax-generic-emph: #1f0053;
$dark-syntax-generic-error: #1f0053;
$dark-syntax-generic-heading: #1f0053;
$dark-syntax-generic-inserted: #1f0053;
$dark-syntax-generic-output: #1f0053;
$dark-syntax-generic-prompt: #1f0053;
$dark-syntax-generic-strong: #1f0053;
$dark-syntax-generic-subheading: #1f0053;
$dark-syntax-generic-traceback: #1f0053;
$dark-syntax-keyword-constant: #ffe4d6;
$dark-syntax-keyword-declaration: #ffe4d6;
$dark-syntax-keyword-namespace: #ffe4d6;
$dark-syntax-keyword-pseudo: #ffe4d6;
$dark-syntax-keyword-reserved: #ffe4d6;
$dark-syntax-keyword-type: #ffe4d6;
$dark-syntax-keyword: #ffe4d6;
$dark-syntax-literal-date: #1f0053;
$dark-syntax-literal: #1f0053;
$dark-syntax-name-attribute: #1f0053;
$dark-syntax-name-builtin-pseudo: #1f0053;
$dark-syntax-name-builtin: #1f0053;
$dark-syntax-name-class: #1f0053;
$dark-syntax-name-constant: #1f0053;
$dark-syntax-name-decorator: #1f0053;
$dark-syntax-name-entity: #1f0053;
$dark-syntax-name-exception: #1f0053;
$dark-syntax-name-function-magic: #1f0053;
$dark-syntax-name-function: #1f0053;
$dark-syntax-name-label: #1f0053;
$dark-syntax-name-namespace: #1f0053;
$dark-syntax-name-other: #1f0053;
$dark-syntax-name-property: #1f0053;
$dark-syntax-name-tag: #1f0053;
$dark-syntax-name-variable-class: #1f0053;
$dark-syntax-name-variable-global: #1f0053;
$dark-syntax-name-variable-instance: #1f0053;
$dark-syntax-name-variable-magic: #1f0053;
$dark-syntax-name-variable: #1f0053;
$dark-syntax-name: #1f0053;
$dark-syntax-number-bin: #ffe4d6;
$dark-syntax-number-float: #ffe4d6;
$dark-syntax-number-hex: #ffe4d6;
$dark-syntax-number-integer-long: #ffe4d6;
$dark-syntax-number-integer: #ffe4d6;
$dark-syntax-number-oct: #ffe4d6;
$dark-syntax-number: #ffe4d6;
$dark-syntax-operator-word: #1f0053;
$dark-syntax-operator: #1f0053;
$dark-syntax-string-affix: #1f0053;
$dark-syntax-string-backtick: #1f0053;
$dark-syntax-string-char: #1f0053;
$dark-syntax-string-delimiter: #1f0053;
$dark-syntax-string-doc: #1f0053;
$dark-syntax-string-double: #1f0053;
$dark-syntax-string-escape: #1f0053;
$dark-syntax-string-heredoc: #1f0053;
$dark-syntax-string-interpol: #1f0053;
$dark-syntax-string-other: #1f0053;
$dark-syntax-string-regex: #1f0053;
$dark-syntax-string-single: #1f0053;
$dark-syntax-string-symbol: #1f0053;
$dark-syntax-string: #1f0053;