// ----------------------------------------------------------------------------
// grape light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-container-color: #2f0b5b;
$light-syntax-text: #f3e6f5;
$light-syntax-comment-hashbang: #8f99cc;
$light-syntax-comment-multiline: #8f99cc;
$light-syntax-comment-preproc: #8f99cc;
$light-syntax-comment-preprocfile: #8f99cc;
$light-syntax-comment-single: #8f99cc;
$light-syntax-comment-special: #8f99cc;
$light-syntax-comment: #8f99cc;
$light-syntax-error: #fd0e95;
$light-syntax-generic-deleted: #fd0e95;
$light-syntax-generic-emph: #f3e6f5;
$light-syntax-generic-error: #f3e6f5;
$light-syntax-generic-heading: #f3e6f5;
$light-syntax-generic-inserted: #f3e6f5;
$light-syntax-generic-output: #b2feff;
$light-syntax-generic-prompt: #f3e6f5;
$light-syntax-generic-strong: #f3e6f5;
$light-syntax-generic-subheading: #f3e6f5;
$light-syntax-generic-traceback: #f3e6f5;
$light-syntax-highlight-line: #08aeb1;
$light-syntax-keyword-constant: #c349ff;
$light-syntax-keyword-declaration: #b2feff;
$light-syntax-keyword-namespace: #c349ff;
$light-syntax-keyword-pseudo: #c349ff;
$light-syntax-keyword-reserved: #c349ff;
$light-syntax-keyword-type: #c349ff;
$light-syntax-keyword: #c349ff;
$light-syntax-literal-date: #f3e6f5;
$light-syntax-literal: #f3e6f5;
$light-syntax-name-attribute: #00a0ff;
$light-syntax-name-builtin-pseudo: #f3e6f5;
$light-syntax-name-builtin: #b2feff;
$light-syntax-name-class: #00a0ff;
$light-syntax-name-constant: #f3e6f5;
$light-syntax-name-decorator: #f3e6f5;
$light-syntax-name-entity: #f3e6f5;
$light-syntax-name-exception: #f3e6f5;
$light-syntax-name-function-magic: #00a0ff;
$light-syntax-name-function: #00a0ff;
$light-syntax-name-label: #00a0ff;
$light-syntax-name-namespace: #f3e6f5;
$light-syntax-name-other: #c349ff;
$light-syntax-name-property: #00a0ff;
$light-syntax-name-tag: #c349ff;
$light-syntax-name-variable-class: #b2feff;
$light-syntax-name-variable-global: #b2feff;
$light-syntax-name-variable-instance: #b2feff;
$light-syntax-name-variable-magic: #b2feff;
$light-syntax-name-variable: #b2feff;
$light-syntax-name: #f3e6f5;
$light-syntax-number-bin: #f549b3;
$light-syntax-number-float: #f549b3;
$light-syntax-number-hex: #f549b3;
$light-syntax-number-integer-long: #f549b3;
$light-syntax-number-integer: #f549b3;
$light-syntax-number-oct: #f549b3;
$light-syntax-number: #f549b3;
$light-syntax-operator-word: #c349ff;
$light-syntax-operator: #c349ff;
$light-syntax-punctuation: #f3e6f5;
$light-syntax-string-affix: #c349ff;
$light-syntax-string-backtick: #c349ff;
$light-syntax-string-char: #c349ff;
$light-syntax-string-delimiter: #c349ff;
$light-syntax-string-doc: #c349ff;
$light-syntax-string-double: #c349ff;
$light-syntax-string-escape: #c349ff;
$light-syntax-string-heredoc: #c349ff;
$light-syntax-string-interpol: #c349ff;
$light-syntax-string-other: #c349ff;
$light-syntax-string-regex: #c349ff;
$light-syntax-string-single: #c349ff;
$light-syntax-string-symbol: #c349ff;
$light-syntax-string: #c349ff;
$light-syntax-text-whitespace: #f3e6f5;
// ----------------------------------------------------------------------------
// grape dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-container-color: #2f0b5b;
$dark-syntax-text: #f3e6f5;
$dark-syntax-comment-hashbang: #8f99cc;
$dark-syntax-comment-multiline: #8f99cc;
$dark-syntax-comment-preproc: #8f99cc;
$dark-syntax-comment-preprocfile: #8f99cc;
$dark-syntax-comment-single: #8f99cc;
$dark-syntax-comment-special: #8f99cc;
$dark-syntax-comment: #8f99cc;
$dark-syntax-error: #fd0e95;
$dark-syntax-generic-deleted: #fd0e95;
$dark-syntax-generic-emph: #f3e6f5;
$dark-syntax-generic-error: #f3e6f5;
$dark-syntax-generic-heading: #f3e6f5;
$dark-syntax-generic-inserted: #f3e6f5;
$dark-syntax-generic-output: #b2feff;
$dark-syntax-generic-prompt: #f3e6f5;
$dark-syntax-generic-strong: #f3e6f5;
$dark-syntax-generic-subheading: #f3e6f5;
$dark-syntax-generic-traceback: #f3e6f5;
$dark-syntax-highlight-line: #08aeb1;
$dark-syntax-keyword-constant: #c349ff;
$dark-syntax-keyword-declaration: #b2feff;
$dark-syntax-keyword-namespace: #c349ff;
$dark-syntax-keyword-pseudo: #c349ff;
$dark-syntax-keyword-reserved: #c349ff;
$dark-syntax-keyword-type: #c349ff;
$dark-syntax-keyword: #c349ff;
$dark-syntax-literal-date: #f3e6f5;
$dark-syntax-literal: #f3e6f5;
$dark-syntax-name-attribute: #00a0ff;
$dark-syntax-name-builtin-pseudo: #f3e6f5;
$dark-syntax-name-builtin: #b2feff;
$dark-syntax-name-class: #00a0ff;
$dark-syntax-name-constant: #f3e6f5;
$dark-syntax-name-decorator: #f3e6f5;
$dark-syntax-name-entity: #f3e6f5;
$dark-syntax-name-exception: #f3e6f5;
$dark-syntax-name-function-magic: #00a0ff;
$dark-syntax-name-function: #00a0ff;
$dark-syntax-name-label: #00a0ff;
$dark-syntax-name-namespace: #f3e6f5;
$dark-syntax-name-other: #c349ff;
$dark-syntax-name-property: #00a0ff;
$dark-syntax-name-tag: #c349ff;
$dark-syntax-name-variable-class: #b2feff;
$dark-syntax-name-variable-global: #b2feff;
$dark-syntax-name-variable-instance: #b2feff;
$dark-syntax-name-variable-magic: #b2feff;
$dark-syntax-name-variable: #b2feff;
$dark-syntax-name: #f3e6f5;
$dark-syntax-number-bin: #f549b3;
$dark-syntax-number-float: #f549b3;
$dark-syntax-number-hex: #f549b3;
$dark-syntax-number-integer-long: #f549b3;
$dark-syntax-number-integer: #f549b3;
$dark-syntax-number-oct: #f549b3;
$dark-syntax-number: #f549b3;
$dark-syntax-operator-word: #c349ff;
$dark-syntax-operator: #c349ff;
$dark-syntax-punctuation: #f3e6f5;
$dark-syntax-string-affix: #c349ff;
$dark-syntax-string-backtick: #c349ff;
$dark-syntax-string-char: #c349ff;
$dark-syntax-string-delimiter: #c349ff;
$dark-syntax-string-doc: #c349ff;
$dark-syntax-string-double: #c349ff;
$dark-syntax-string-escape: #c349ff;
$dark-syntax-string-heredoc: #c349ff;
$dark-syntax-string-interpol: #c349ff;
$dark-syntax-string-other: #c349ff;
$dark-syntax-string-regex: #c349ff;
$dark-syntax-string-single: #c349ff;
$dark-syntax-string-symbol: #c349ff;
$dark-syntax-string: #c349ff;
$dark-syntax-text-whitespace: #f3e6f5;