// ----------------------------------------------------------------------------
// mint light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-container-color: #007a34;
$light-syntax-text: #f4fff4;
$light-syntax-comment-hashbang: #adffd0;
$light-syntax-comment-multiline: #adffd0;
$light-syntax-comment-preproc: #adffd0;
$light-syntax-comment-preprocfile: #adffd0;
$light-syntax-comment-single: #adffd0;
$light-syntax-comment-special: #adffd0;
$light-syntax-comment: #adffd0;
$light-syntax-error: #ff5db8;
$light-syntax-generic-deleted: #ff5db8;
$light-syntax-generic-emph: #f4fff4;
$light-syntax-generic-error: #f4fff4;
$light-syntax-generic-heading: #f4fff4;
$light-syntax-generic-inserted: #f4fff4;
$light-syntax-generic-output: #b2feff;
$light-syntax-generic-prompt: #f4fff4;
$light-syntax-generic-strong: #f4fff4;
$light-syntax-generic-subheading: #f4fff4;
$light-syntax-generic-traceback: #f4fff4;
$light-syntax-highlight-line: #55ffa8;
$light-syntax-keyword-constant: #55ffa8;
$light-syntax-keyword-declaration: #b2feff;
$light-syntax-keyword-namespace: #55ffa8;
$light-syntax-keyword-pseudo: #55ffa8;
$light-syntax-keyword-reserved: #55ffa8;
$light-syntax-keyword-type: #55ffa8;
$light-syntax-keyword: #55ffa8;
$light-syntax-literal-date: #f4fff4;
$light-syntax-literal: #f4fff4;
$light-syntax-name-attribute: #fff;
$light-syntax-name-builtin-pseudo: #f4fff4;
$light-syntax-name-builtin: #b2feff;
$light-syntax-name-class: #fff;
$light-syntax-name-constant: #f4fff4;
$light-syntax-name-decorator: #f4fff4;
$light-syntax-name-entity: #f4fff4;
$light-syntax-name-exception: #f4fff4;
$light-syntax-name-function-magic: #fff;
$light-syntax-name-function: #fff;
$light-syntax-name-label: #fff;
$light-syntax-name-namespace: #f4fff4;
$light-syntax-name-other: #55ffa8;
$light-syntax-name-property: #fff;
$light-syntax-name-tag: #55ffa8;
$light-syntax-name-variable-class: #b2feff;
$light-syntax-name-variable-global: #b2feff;
$light-syntax-name-variable-instance: #b2feff;
$light-syntax-name-variable-magic: #b2feff;
$light-syntax-name-variable: #b2feff;
$light-syntax-name: #f4fff4;
$light-syntax-number-bin: #fff;
$light-syntax-number-float: #fff;
$light-syntax-number-hex: #fff;
$light-syntax-number-integer-long: #fff;
$light-syntax-number-integer: #fff;
$light-syntax-number-oct: #fff;
$light-syntax-number: #fff;
$light-syntax-operator-word: #55ffa8;
$light-syntax-operator: #55ffa8;
$light-syntax-punctuation: #f4fff4;
$light-syntax-string-affix: #55ffa8;
$light-syntax-string-backtick: #55ffa8;
$light-syntax-string-char: #55ffa8;
$light-syntax-string-delimiter: #55ffa8;
$light-syntax-string-doc: #55ffa8;
$light-syntax-string-double: #55ffa8;
$light-syntax-string-escape: #55ffa8;
$light-syntax-string-heredoc: #55ffa8;
$light-syntax-string-interpol: #55ffa8;
$light-syntax-string-other: #55ffa8;
$light-syntax-string-regex: #55ffa8;
$light-syntax-string-single: #55ffa8;
$light-syntax-string-symbol: #55ffa8;
$light-syntax-string: #55ffa8;
$light-syntax-text-whitespace: #f4fff4;
// ----------------------------------------------------------------------------
// mint dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-container-color: #007a34;
$dark-syntax-text: #f4fff4;
$dark-syntax-comment-hashbang: #adffd0;
$dark-syntax-comment-multiline: #adffd0;
$dark-syntax-comment-preproc: #adffd0;
$dark-syntax-comment-preprocfile: #adffd0;
$dark-syntax-comment-single: #adffd0;
$dark-syntax-comment-special: #adffd0;
$dark-syntax-comment: #adffd0;
$dark-syntax-error: #ff5db8;
$dark-syntax-generic-deleted: #ff5db8;
$dark-syntax-generic-emph: #f4fff4;
$dark-syntax-generic-error: #f4fff4;
$dark-syntax-generic-heading: #f4fff4;
$dark-syntax-generic-inserted: #f4fff4;
$dark-syntax-generic-output: #b2feff;
$dark-syntax-generic-prompt: #f4fff4;
$dark-syntax-generic-strong: #f4fff4;
$dark-syntax-generic-subheading: #f4fff4;
$dark-syntax-generic-traceback: #f4fff4;
$dark-syntax-highlight-line: #08aeb1;
$dark-syntax-keyword-constant: #55ffa8;
$dark-syntax-keyword-declaration: #b2feff;
$dark-syntax-keyword-namespace: #55ffa8;
$dark-syntax-keyword-pseudo: #55ffa8;
$dark-syntax-keyword-reserved: #55ffa8;
$dark-syntax-keyword-type: #55ffa8;
$dark-syntax-keyword: #55ffa8;
$dark-syntax-literal-date: #f4fff4;
$dark-syntax-literal: #f4fff4;
$dark-syntax-name-attribute: #fff;
$dark-syntax-name-builtin-pseudo: #f4fff4;
$dark-syntax-name-builtin: #b2feff;
$dark-syntax-name-class: #fff;
$dark-syntax-name-constant: #f4fff4;
$dark-syntax-name-decorator: #f4fff4;
$dark-syntax-name-entity: #f4fff4;
$dark-syntax-name-exception: #f4fff4;
$dark-syntax-name-function-magic: #fff;
$dark-syntax-name-function: #fff;
$dark-syntax-name-label: #fff;
$dark-syntax-name-namespace: #f4fff4;
$dark-syntax-name-other: #55ffa8;
$dark-syntax-name-property: #fff;
$dark-syntax-name-tag: #55ffa8;
$dark-syntax-name-variable-class: #b2feff;
$dark-syntax-name-variable-global: #b2feff;
$dark-syntax-name-variable-instance: #b2feff;
$dark-syntax-name-variable-magic: #b2feff;
$dark-syntax-name-variable: #b2feff;
$dark-syntax-name: #f4fff4;
$dark-syntax-number-bin: #fff;
$dark-syntax-number-float: #fff;
$dark-syntax-number-hex: #fff;
$dark-syntax-number-integer-long: #fff;
$dark-syntax-number-integer: #fff;
$dark-syntax-number-oct: #fff;
$dark-syntax-number: #fff;
$dark-syntax-operator-word: #55ffa8;
$dark-syntax-operator: #55ffa8;
$dark-syntax-punctuation: #f4fff4;
$dark-syntax-string-affix: #55ffa8;
$dark-syntax-string-backtick: #55ffa8;
$dark-syntax-string-char: #55ffa8;
$dark-syntax-string-delimiter: #55ffa8;
$dark-syntax-string-doc: #55ffa8;
$dark-syntax-string-double: #55ffa8;
$dark-syntax-string-escape: #55ffa8;
$dark-syntax-string-heredoc: #55ffa8;
$dark-syntax-string-interpol: #55ffa8;
$dark-syntax-string-other: #55ffa8;
$dark-syntax-string-regex: #55ffa8;
$dark-syntax-string-single: #55ffa8;
$dark-syntax-string-symbol: #55ffa8;
$dark-syntax-string: #55ffa8;
$dark-syntax-text-whitespace: #f4fff4;