// ----------------------------------------------------------------------------
// mini light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-comment-hashbang: #fff;
$light-syntax-comment-multiline: #fff;
$light-syntax-comment-preproc: #fff;
$light-syntax-comment-preprocfile: #fff;
$light-syntax-comment-single: #fff;
$light-syntax-comment-special: #fff;
$light-syntax-comment: #fff;
$light-syntax-container-color: #000;
$light-syntax-error: #fff;
$light-syntax-generic-deleted: #fff;
$light-syntax-generic-emph: #fff;
$light-syntax-generic-error: #fff;
$light-syntax-generic-heading: #fff;
$light-syntax-generic-inserted: #fff;
$light-syntax-generic-output: #fff;
$light-syntax-generic-prompt: #fff;
$light-syntax-generic-strong: #fff;
$light-syntax-generic-subheading: #fff;
$light-syntax-generic-traceback: #fff;
$light-syntax-highlight-line: #000;
$light-syntax-keyword-constant: #fff;
$light-syntax-keyword-declaration: #fff;
$light-syntax-keyword-namespace: #fff;
$light-syntax-keyword-pseudo: #fff;
$light-syntax-keyword-reserved: #fff;
$light-syntax-keyword-type: #fff;
$light-syntax-keyword: #fff;
$light-syntax-literal-date: #fff;
$light-syntax-literal: #fff;
$light-syntax-name-attribute: #fff;
$light-syntax-name-builtin-pseudo: #fff;
$light-syntax-name-builtin: #fff;
$light-syntax-name-class: #fff;
$light-syntax-name-constant: #fff;
$light-syntax-name-decorator: #fff;
$light-syntax-name-entity: #fff;
$light-syntax-name-exception: #fff;
$light-syntax-name-function-magic: #fff;
$light-syntax-name-function: #fff;
$light-syntax-name-label: #fff;
$light-syntax-name-namespace: #fff;
$light-syntax-name-other: #fff;
$light-syntax-name-property: #fff;
$light-syntax-name-tag: #fff;
$light-syntax-name-variable-class: #fff;
$light-syntax-name-variable-global: #fff;
$light-syntax-name-variable-instance: #fff;
$light-syntax-name-variable-magic: #fff;
$light-syntax-name-variable: #fff;
$light-syntax-name: #fff;
$light-syntax-number-bin: #fff;
$light-syntax-number-float: #fff;
$light-syntax-number-hex: #fff;
$light-syntax-number-integer-long: #fff;
$light-syntax-number-integer: #fff;
$light-syntax-number-oct: #fff;
$light-syntax-number: #fff;
$light-syntax-operator-word: #fff;
$light-syntax-operator: #fff;
$light-syntax-punctuation: #fff;
$light-syntax-string-affix: #fff;
$light-syntax-string-backtick: #fff;
$light-syntax-string-char: #fff;
$light-syntax-string-delimiter: #fff;
$light-syntax-string-doc: #fff;
$light-syntax-string-double: #fff;
$light-syntax-string-escape: #fff;
$light-syntax-string-heredoc: #fff;
$light-syntax-string-interpol: #fff;
$light-syntax-string-other: #fff;
$light-syntax-string-regex: #fff;
$light-syntax-string-single: #fff;
$light-syntax-string-symbol: #fff;
$light-syntax-string: #fff;
$light-syntax-text-whitespace: #fff;
$light-syntax-text: #fff;
// ----------------------------------------------------------------------------
// mini dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-comment-hashbang: #000;
$dark-syntax-comment-multiline: #000;
$dark-syntax-comment-preproc: #000;
$dark-syntax-comment-preprocfile: #000;
$dark-syntax-comment-single: #000;
$dark-syntax-comment-special: #000;
$dark-syntax-comment: #000;
$dark-syntax-container-color: #fff;
$dark-syntax-error: #000;
$dark-syntax-generic-deleted: #000;
$dark-syntax-generic-emph: #000;
$dark-syntax-generic-error: #000;
$dark-syntax-generic-heading: #000;
$dark-syntax-generic-inserted: #000;
$dark-syntax-generic-output: #000;
$dark-syntax-generic-prompt: #000;
$dark-syntax-generic-strong: #000;
$dark-syntax-generic-subheading: #000;
$dark-syntax-generic-traceback: #000;
$dark-syntax-highlight-line: #fff;
$dark-syntax-keyword-constant: #000;
$dark-syntax-keyword-declaration: #000;
$dark-syntax-keyword-namespace: #000;
$dark-syntax-keyword-pseudo: #000;
$dark-syntax-keyword-reserved: #000;
$dark-syntax-keyword-type: #000;
$dark-syntax-keyword: #000;
$dark-syntax-literal-date: #000;
$dark-syntax-literal: #000;
$dark-syntax-name-attribute: #000;
$dark-syntax-name-builtin-pseudo: #000;
$dark-syntax-name-builtin: #000;
$dark-syntax-name-class: #000;
$dark-syntax-name-constant: #000;
$dark-syntax-name-decorator: #000;
$dark-syntax-name-entity: #000;
$dark-syntax-name-exception: #000;
$dark-syntax-name-function-magic: #000;
$dark-syntax-name-function: #000;
$dark-syntax-name-label: #000;
$dark-syntax-name-namespace: #000;
$dark-syntax-name-other: #000;
$dark-syntax-name-property: #000;
$dark-syntax-name-tag: #000;
$dark-syntax-name-variable-class: #000;
$dark-syntax-name-variable-global: #000;
$dark-syntax-name-variable-instance: #000;
$dark-syntax-name-variable-magic: #000;
$dark-syntax-name-variable: #000;
$dark-syntax-name: #000;
$dark-syntax-number-bin: #000;
$dark-syntax-number-float: #000;
$dark-syntax-number-hex: #000;
$dark-syntax-number-integer-long: #000;
$dark-syntax-number-integer: #000;
$dark-syntax-number-oct: #000;
$dark-syntax-number: #000;
$dark-syntax-operator-word: #000;
$dark-syntax-operator: #000;
$dark-syntax-punctuation: #000;
$dark-syntax-string-affix: #000;
$dark-syntax-string-backtick: #000;
$dark-syntax-string-char: #000;
$dark-syntax-string-delimiter: #000;
$dark-syntax-string-doc: #000;
$dark-syntax-string-double: #000;
$dark-syntax-string-escape: #000;
$dark-syntax-string-heredoc: #000;
$dark-syntax-string-interpol: #000;
$dark-syntax-string-other: #000;
$dark-syntax-string-regex: #000;
$dark-syntax-string-single: #000;
$dark-syntax-string-symbol: #000;
$dark-syntax-string: #000;
$dark-syntax-text-whitespace: #000;
$dark-syntax-text: #000;