// ----------------------------------------------------------------------------
// neon light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-text: #fafafa;
$light-syntax-container-color: #141414;
$light-syntax-highlight-line: #fffe07;
$light-syntax-error: #ff0602;
$light-syntax-punctuation: #4f9dff;
$light-syntax-text-whitespace: #fafafa;
$light-syntax-comment-hashbang: #ff9601;
$light-syntax-comment-multiline: #ff9601;
$light-syntax-comment-preproc: #ff9601;
$light-syntax-comment-preprocfile: #ff9601;
$light-syntax-comment-single: #ff9601;
$light-syntax-comment-special: #ff9601;
$light-syntax-comment: #ff9601;
$light-syntax-generic-deleted: #ff0602;
$light-syntax-generic-emph: #fafafa;
$light-syntax-generic-error: #fafafa;
$light-syntax-generic-heading: #fafafa;
$light-syntax-generic-inserted: #fafafa;
$light-syntax-generic-output: #fafafa;
$light-syntax-generic-prompt: #ff1573;
$light-syntax-generic-strong: #ff1573;
$light-syntax-generic-subheading: #fafafa;
$light-syntax-generic-traceback: #fafafa;
$light-syntax-keyword-constant: #ff1573;
$light-syntax-keyword-declaration: #1bffff;
$light-syntax-keyword-namespace: #ff1573;
$light-syntax-keyword-pseudo: #ff1573;
$light-syntax-keyword-reserved: #ff1573;
$light-syntax-keyword-type: #1bffff;
$light-syntax-keyword: #ff1573;
$light-syntax-literal-date: #fafafa;
$light-syntax-literal: #fafafa;
$light-syntax-name-attribute: #32ff03;
$light-syntax-name-builtin-pseudo: #fafafa;
$light-syntax-name-builtin: #09b0ff;
$light-syntax-name-class: #1bffff;
$light-syntax-name-constant: #fafafa;
$light-syntax-name-decorator: #fafafa;
$light-syntax-name-entity: #fafafa;
$light-syntax-name-exception: #fafafa;
$light-syntax-name-function-magic: #32ff03;
$light-syntax-name-function: #32ff03;
$light-syntax-name-label: #32ff03;
$light-syntax-name-namespace: #fafafa;
$light-syntax-name-other: #fafafa;
$light-syntax-name-property: #32ff03;
$light-syntax-name-tag: #ff1573;
$light-syntax-name-variable-class: #09b0ff;
$light-syntax-name-variable-global: #09b0ff;
$light-syntax-name-variable-instance: #09b0ff;
$light-syntax-name-variable-magic: #09b0ff;
$light-syntax-name-variable: #09b0ff;
$light-syntax-name: #fafafa;
$light-syntax-number-bin: #ab00ff;
$light-syntax-number-float: #ab00ff;
$light-syntax-number-hex: #ab00ff;
$light-syntax-number-integer-long: #ab00ff;
$light-syntax-number-integer: #ab00ff;
$light-syntax-number-oct: #ab00ff;
$light-syntax-number: #ab00ff;
$light-syntax-operator-word: #32ff03;
$light-syntax-operator: #32ff03;
$light-syntax-string-affix: #09b0ff;
$light-syntax-string-backtick: #09b0ff;
$light-syntax-string-char: #09b0ff;
$light-syntax-string-delimiter: #09b0ff;
$light-syntax-string-doc: #09b0ff;
$light-syntax-string-double: #1bffff;
$light-syntax-string-escape: #09b0ff;
$light-syntax-string-heredoc: #09b0ff;
$light-syntax-string-interpol: #09b0ff;
$light-syntax-string-other: #1bffff;
$light-syntax-string-regex: #09b0ff;
$light-syntax-string-single: #1bffff;
$light-syntax-string-symbol: #09b0ff;
$light-syntax-string: #09b0ff;
// ----------------------------------------------------------------------------
// neon dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-text: #141414;
$dark-syntax-container-color: #fafafa;
$dark-syntax-highlight-line: #d1d001;
$dark-syntax-error: #ff0602;
$dark-syntax-punctuation: #4f9dff;
$dark-syntax-text-whitespace: #141414;
$dark-syntax-comment-hashbang: #ff5941;
$dark-syntax-comment-multiline: #ff5941;
$dark-syntax-comment-preproc: #ff5941;
$dark-syntax-comment-preprocfile: #ff5941;
$dark-syntax-comment-single: #ff5941;
$dark-syntax-comment-special: #ff5941;
$dark-syntax-comment: #ff5941;
$dark-syntax-generic-deleted: #ff0602;
$dark-syntax-generic-emph: #141414;
$dark-syntax-generic-error: #141414;
$dark-syntax-generic-heading: #141414;
$dark-syntax-generic-inserted: #141414;
$dark-syntax-generic-output: #141414;
$dark-syntax-generic-prompt: #ff1573;
$dark-syntax-generic-strong: #ff1573;
$dark-syntax-generic-subheading: #141414;
$dark-syntax-generic-traceback: #141414;
$dark-syntax-keyword-constant: #ff1573;
$dark-syntax-keyword-declaration: #cc21ea;
$dark-syntax-keyword-namespace: #ff1573;
$dark-syntax-keyword-pseudo: #ff1573;
$dark-syntax-keyword-reserved: #ff1573;
$dark-syntax-keyword-type: #cc21ea;
$dark-syntax-keyword: #ff1573;
$dark-syntax-literal-date: #141414;
$dark-syntax-literal: #141414;
$dark-syntax-name-attribute: #2ab300;
$dark-syntax-name-builtin-pseudo: #141414;
$dark-syntax-name-builtin: #09b0ff;
$dark-syntax-name-class: #cc21ea;
$dark-syntax-name-constant: #141414;
$dark-syntax-name-decorator: #141414;
$dark-syntax-name-entity: #141414;
$dark-syntax-name-exception: #141414;
$dark-syntax-name-function-magic: #2ab300;
$dark-syntax-name-function: #2ab300;
$dark-syntax-name-label: #2ab300;
$dark-syntax-name-namespace: #141414;
$dark-syntax-name-other: #141414;
$dark-syntax-name-property: #2ab300;
$dark-syntax-name-tag: #ff1573;
$dark-syntax-name-variable-class: #09b0ff;
$dark-syntax-name-variable-global: #09b0ff;
$dark-syntax-name-variable-instance: #09b0ff;
$dark-syntax-name-variable-magic: #09b0ff;
$dark-syntax-name-variable: #09b0ff;
$dark-syntax-name: #141414;
$dark-syntax-number-bin: #6a21eb;
$dark-syntax-number-float: #6a21eb;
$dark-syntax-number-hex: #6a21eb;
$dark-syntax-number-integer-long: #6a21eb;
$dark-syntax-number-integer: #6a21eb;
$dark-syntax-number-oct: #6a21eb;
$dark-syntax-number: #6a21eb;
$dark-syntax-operator-word: #2ab300;
$dark-syntax-operator: #2ab300;
$dark-syntax-string-affix: #324eff;
$dark-syntax-string-backtick: #324eff;
$dark-syntax-string-char: #324eff;
$dark-syntax-string-delimiter: #324eff;
$dark-syntax-string-doc: #324eff;
$dark-syntax-string-double: #cc21ea;
$dark-syntax-string-escape: #324eff;
$dark-syntax-string-heredoc: #324eff;
$dark-syntax-string-interpol: #324eff;
$dark-syntax-string-other: #cc21ea;
$dark-syntax-string-regex: #324eff;
$dark-syntax-string-single: #cc21ea;
$dark-syntax-string-symbol: #324eff;
$dark-syntax-string: #324eff;