// ----------------------------------------------------------------------------
// pentax light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-container-color: #dee2e6;
$light-syntax-text: #212529;
$light-syntax-comment-hashbang: #5d666f;
$light-syntax-comment-multiline: #5d666f;
$light-syntax-comment-preproc: #5d666f;
$light-syntax-comment-preprocfile: #5d666f;
$light-syntax-comment-single: #5d666f;
$light-syntax-comment-special: #5d666f;
$light-syntax-comment: #5d666f;
$light-syntax-error: #707070;
$light-syntax-generic-deleted: #adadad;
$light-syntax-generic-emph: #adadad;
$light-syntax-generic-error: #707070;
$light-syntax-generic-heading: #3d3d3d;
$light-syntax-generic-inserted: #8f8f8f;
$light-syntax-generic-output: #5d666f;
$light-syntax-generic-prompt: #212121;
$light-syntax-generic-strong: #3d3d3d;
$light-syntax-generic-subheading: #525252;
$light-syntax-generic-traceback: #8f8f8f;
$light-syntax-highlight-line: #212121;
$light-syntax-keyword-constant: #1f1f1f;
$light-syntax-keyword-declaration: #1f1f1f;
$light-syntax-keyword-namespace: #1f1f1f;
$light-syntax-keyword-pseudo: #1f1f1f;
$light-syntax-keyword-reserved: #1f1f1f;
$light-syntax-keyword-type: #525252;
$light-syntax-keyword: #1f1f1f;
$light-syntax-literal-date: #212121;
$light-syntax-literal: #212121;
$light-syntax-name-attribute: #707070;
$light-syntax-name-builtin-pseudo: #1f1f1f;
$light-syntax-name-builtin: #1f1f1f;
$light-syntax-name-class: #212121;
$light-syntax-name-constant: #000000;
$light-syntax-name-decorator: #000000;
$light-syntax-name-entity: #525252;
$light-syntax-name-exception: #1f1f1f;
$light-syntax-name-function-magic: #1f1f1f;
$light-syntax-name-function: #1f1f1f;
$light-syntax-name-label: #b5189f;
$light-syntax-name-namespace: #212121;
$light-syntax-name-other: #707070;
$light-syntax-name-property: #1f1f1f;
$light-syntax-name-tag: #4493ef;
$light-syntax-name-variable-class: #4493ef;
$light-syntax-name-variable-global: #4493ef;
$light-syntax-name-variable-instance: #4493ef;
$light-syntax-name-variable-magic: #4493ef;
$light-syntax-name-variable: #4493ef;
$light-syntax-name: #b5189f;
$light-syntax-number-bin: #666666;
$light-syntax-number-float: #666666;
$light-syntax-number-hex: #666666;
$light-syntax-number-integer-long: #666666;
$light-syntax-number-integer: #666666;
$light-syntax-number-oct: #666666;
$light-syntax-number: #666666;
$light-syntax-operator-word: #4493ef;
$light-syntax-operator: #4493ef;
$light-syntax-punctuation: #212121;
$light-syntax-string-affix: #b5189f;
$light-syntax-string-backtick: #b5189f;
$light-syntax-string-char: #b5189f;
$light-syntax-string-delimiter: #b5189f;
$light-syntax-string-doc: #b5189f;
$light-syntax-string-double: #b5189f;
$light-syntax-string-escape: #b5189f;
$light-syntax-string-heredoc: #b5189f;
$light-syntax-string-interpol: #b5189f;
$light-syntax-string-other: #b5189f;
$light-syntax-string-regex: #b5189f;
$light-syntax-string-single: #b5189f;
$light-syntax-string-symbol: #b5189f;
$light-syntax-string: #b5189f;
$light-syntax-text-whitespace: #212121;
// ----------------------------------------------------------------------------
// pentax dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-container-color: #2e3339;
$dark-syntax-text: #eaecef;
$dark-syntax-comment-hashbang: #8f8f8f;
$dark-syntax-comment-multiline: #8f8f8f;
$dark-syntax-comment-preproc: #8f8f8f;
$dark-syntax-comment-preprocfile: #8f8f8f;
$dark-syntax-comment-single: #8f8f8f;
$dark-syntax-comment-special: #8f8f8f;
$dark-syntax-comment: #8f8f8f;
$dark-syntax-error: #999999;
$dark-syntax-generic-deleted: #5c5c5c;
$dark-syntax-generic-emph: #5c5c5c;
$dark-syntax-generic-error: #999999;
$dark-syntax-generic-heading: #cccccc;
$dark-syntax-generic-inserted: #5d666f;
$dark-syntax-generic-output: #858585;
$dark-syntax-generic-prompt: #e0e0e0;
$dark-syntax-generic-strong: #cccccc;
$dark-syntax-generic-subheading: #525252;
$dark-syntax-generic-traceback: #5d666f;
$dark-syntax-highlight-line: #e0e0e0;
$dark-syntax-keyword-constant: #ebebeb;
$dark-syntax-keyword-declaration: #ebebeb;
$dark-syntax-keyword-namespace: #ebebeb;
$dark-syntax-keyword-pseudo: #ebebeb;
$dark-syntax-keyword-reserved: #ebebeb;
$dark-syntax-keyword-type: #b8b8b8;
$dark-syntax-keyword: #ebebeb;
$dark-syntax-literal-date: #e0e0e0;
$dark-syntax-literal: #e0e0e0;
$dark-syntax-name-attribute: #a3a3a3;
$dark-syntax-name-builtin-pseudo: #ebebeb;
$dark-syntax-name-builtin: #ebebeb;
$dark-syntax-name-class: #e0e0e0;
$dark-syntax-name-constant: #adadad;
$dark-syntax-name-decorator: #f5f5f5;
$dark-syntax-name-entity: #858585;
$dark-syntax-name-exception: #ebebeb;
$dark-syntax-name-function-magic: #ebebeb;
$dark-syntax-name-function: #ebebeb;
$dark-syntax-name-label: #d409b7;
$dark-syntax-name-namespace: #e0e0e0;
$dark-syntax-name-other: #a3a3a3;
$dark-syntax-name-property: #ebebeb;
$dark-syntax-name-tag: #4493ef;
$dark-syntax-name-variable-class: #4493ef;
$dark-syntax-name-variable-global: #4493ef;
$dark-syntax-name-variable-instance: #4493ef;
$dark-syntax-name-variable-magic: #4493ef;
$dark-syntax-name-variable: #4493ef;
$dark-syntax-name: #d409b7;
$dark-syntax-number-bin: #858585;
$dark-syntax-number-float: #858585;
$dark-syntax-number-hex: #858585;
$dark-syntax-number-integer-long: #858585;
$dark-syntax-number-integer: #858585;
$dark-syntax-number-oct: #858585;
$dark-syntax-number: #858585;
$dark-syntax-operator-word: #4493ef;
$dark-syntax-operator: #4493ef;
$dark-syntax-punctuation: #e0e0e0;
$dark-syntax-string-affix: #d409b7;
$dark-syntax-string-backtick: #d409b7;
$dark-syntax-string-char: #d409b7;
$dark-syntax-string-delimiter: #d409b7;
$dark-syntax-string-doc: #d409b7;
$dark-syntax-string-double: #d409b7;
$dark-syntax-string-escape: #d409b7;
$dark-syntax-string-heredoc: #d409b7;
$dark-syntax-string-interpol: #d409b7;
$dark-syntax-string-other: #d409b7;
$dark-syntax-string-regex: #d409b7;
$dark-syntax-string-single: #d409b7;
$dark-syntax-string-symbol: #d409b7;
$dark-syntax-string: #d409b7;
$dark-syntax-text-whitespace: #e0e0e0;