// ----------------------------------------------------------------------------
// seaside light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-container-color: #003552;
$light-syntax-text: #fefcfb;
$light-syntax-comment-hashbang: #abe8ff;
$light-syntax-comment-multiline: #abe8ff;
$light-syntax-comment-preproc: #abe8ff;
$light-syntax-comment-preprocfile: #abe8ff;
$light-syntax-comment-single: #abe8ff;
$light-syntax-comment-special: #abe8ff;
$light-syntax-comment: #abe8ff;
$light-syntax-error: #fa0606;
$light-syntax-generic-deleted: #fa0606;
$light-syntax-generic-emph: #fefcfb;
$light-syntax-generic-error: #fefcfb;
$light-syntax-generic-heading: #fefcfb;
$light-syntax-generic-inserted: #fefcfb;
$light-syntax-generic-output: #fefcfb;
$light-syntax-generic-prompt: #fefcfb;
$light-syntax-generic-strong: #fefcfb;
$light-syntax-generic-subheading: #fefcfb;
$light-syntax-generic-traceback: #fefcfb;
$light-syntax-highlight-line: #fefcfb;
$light-syntax-keyword-constant: #0bb4d8;
$light-syntax-keyword-declaration: #0bb4d8;
$light-syntax-keyword-namespace: #0bb4d8;
$light-syntax-keyword-pseudo: #0bb4d8;
$light-syntax-keyword-reserved: #0bb4d8;
$light-syntax-keyword-type: #0bb4d8;
$light-syntax-keyword: #0bb4d8;
$light-syntax-literal-date: #fefcfb;
$light-syntax-literal: #fefcfb;
$light-syntax-name-attribute: #01e676;
$light-syntax-name-builtin-pseudo: #fefcfb;
$light-syntax-name-builtin: #0bb4d8;
$light-syntax-name-class: #01e676;
$light-syntax-name-constant: #0bb4d8;
$light-syntax-name-decorator: #fefcfb;
$light-syntax-name-entity: #fefcfb;
$light-syntax-name-exception: #fefcfb;
$light-syntax-name-function-magic: #01e676;
$light-syntax-name-function: #01e676;
$light-syntax-name-label: #1cbad9;
$light-syntax-name-namespace: #fefcfb;
$light-syntax-name-other: #fefcfb;
$light-syntax-name-property: #01e676;
$light-syntax-name-tag: #1cbad9;
$light-syntax-name-variable-class: #0bb4d8;
$light-syntax-name-variable-global: #0bb4d8;
$light-syntax-name-variable-instance: #0bb4d8;
$light-syntax-name-variable-magic: #0bb4d8;
$light-syntax-name-variable: #0bb4d8;
$light-syntax-name: #fefcfb;
$light-syntax-number-bin: #90e0ef;
$light-syntax-number-float: #90e0ef;
$light-syntax-number-hex: #90e0ef;
$light-syntax-number-integer-long: #90e0ef;
$light-syntax-number-integer: #90e0ef;
$light-syntax-number-oct: #90e0ef;
$light-syntax-number: #90e0ef;
$light-syntax-operator-word: #0bb4d8;
$light-syntax-operator: #0bb4d8;
$light-syntax-punctuation: #fefcfb;
$light-syntax-string-affix: #1cbad9;
$light-syntax-string-backtick: #1cbad9;
$light-syntax-string-char: #1cbad9;
$light-syntax-string-delimiter: #1cbad9;
$light-syntax-string-doc: #1cbad9;
$light-syntax-string-double: #1cbad9;
$light-syntax-string-escape: #1cbad9;
$light-syntax-string-heredoc: #1cbad9;
$light-syntax-string-interpol: #1cbad9;
$light-syntax-string-other: #1cbad9;
$light-syntax-string-regex: #1cbad9;
$light-syntax-string-single: #1cbad9;
$light-syntax-string-symbol: #1cbad9;
$light-syntax-string: #1cbad9;
$light-syntax-text-whitespace: #fefcfb;
// ----------------------------------------------------------------------------
// seaside dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-container-color: #003552;
$dark-syntax-text: #fefcfb;
$dark-syntax-comment-hashbang: #abe8ff;
$dark-syntax-comment-multiline: #abe8ff;
$dark-syntax-comment-preproc: #abe8ff;
$dark-syntax-comment-preprocfile: #abe8ff;
$dark-syntax-comment-single: #abe8ff;
$dark-syntax-comment-special: #abe8ff;
$dark-syntax-comment: #abe8ff;
$dark-syntax-error: #fa0606;
$dark-syntax-generic-deleted: #fa0606;
$dark-syntax-generic-emph: #fefcfb;
$dark-syntax-generic-error: #fefcfb;
$dark-syntax-generic-heading: #fefcfb;
$dark-syntax-generic-inserted: #fefcfb;
$dark-syntax-generic-output: #fefcfb;
$dark-syntax-generic-prompt: #fefcfb;
$dark-syntax-generic-strong: #fefcfb;
$dark-syntax-generic-subheading: #fefcfb;
$dark-syntax-generic-traceback: #fefcfb;
$dark-syntax-highlight-line: #fefcfb;
$dark-syntax-keyword-constant: #0bb4d8;
$dark-syntax-keyword-declaration: #0bb4d8;
$dark-syntax-keyword-namespace: #0bb4d8;
$dark-syntax-keyword-pseudo: #0bb4d8;
$dark-syntax-keyword-reserved: #0bb4d8;
$dark-syntax-keyword-type: #0bb4d8;
$dark-syntax-keyword: #0bb4d8;
$dark-syntax-literal-date: #fefcfb;
$dark-syntax-literal: #fefcfb;
$dark-syntax-name-attribute: #01e676;
$dark-syntax-name-builtin-pseudo: #fefcfb;
$dark-syntax-name-builtin: #0bb4d8;
$dark-syntax-name-class: #01e676;
$dark-syntax-name-constant: #0bb4d8;
$dark-syntax-name-decorator: #fefcfb;
$dark-syntax-name-entity: #fefcfb;
$dark-syntax-name-exception: #fefcfb;
$dark-syntax-name-function-magic: #01e676;
$dark-syntax-name-function: #01e676;
$dark-syntax-name-label: #1cbad9;
$dark-syntax-name-namespace: #fefcfb;
$dark-syntax-name-other: #fefcfb;
$dark-syntax-name-property: #01e676;
$dark-syntax-name-tag: #1cbad9;
$dark-syntax-name-variable-class: #0bb4d8;
$dark-syntax-name-variable-global: #0bb4d8;
$dark-syntax-name-variable-instance: #0bb4d8;
$dark-syntax-name-variable-magic: #0bb4d8;
$dark-syntax-name-variable: #0bb4d8;
$dark-syntax-name: #fefcfb;
$dark-syntax-number-bin: #90e0ef;
$dark-syntax-number-float: #90e0ef;
$dark-syntax-number-hex: #90e0ef;
$dark-syntax-number-integer-long: #90e0ef;
$dark-syntax-number-integer: #90e0ef;
$dark-syntax-number-oct: #90e0ef;
$dark-syntax-number: #90e0ef;
$dark-syntax-operator-word: #0bb4d8;
$dark-syntax-operator: #0bb4d8;
$dark-syntax-punctuation: #fefcfb;
$dark-syntax-string-affix: #1cbad9;
$dark-syntax-string-backtick: #1cbad9;
$dark-syntax-string-char: #1cbad9;
$dark-syntax-string-delimiter: #1cbad9;
$dark-syntax-string-doc: #1cbad9;
$dark-syntax-string-double: #1cbad9;
$dark-syntax-string-escape: #1cbad9;
$dark-syntax-string-heredoc: #1cbad9;
$dark-syntax-string-interpol: #1cbad9;
$dark-syntax-string-other: #1cbad9;
$dark-syntax-string-regex: #1cbad9;
$dark-syntax-string-single: #1cbad9;
$dark-syntax-string-symbol: #1cbad9;
$dark-syntax-string: #1cbad9;
$dark-syntax-text-whitespace: #fefcfb;