// ----------------------------------------------------------------------------
// sprinkles light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-comment-hashbang: #9e9e9e;
$light-syntax-comment-multiline: #9e9e9e;
$light-syntax-comment-preproc: #ec417a;
$light-syntax-comment-preprocfile: #9e9e9e;
$light-syntax-comment-single: #9e9e9e;
$light-syntax-comment-special: #9e9e9e;
$light-syntax-comment: #9e9e9e;
$light-syntax-container-color: #000000;
$light-syntax-error: #d50201;
$light-syntax-generic-deleted: #d50201;
$light-syntax-generic-emph: #e0e0e0;
$light-syntax-generic-error: #d50201;
$light-syntax-generic-heading: #e0e0e0;
$light-syntax-generic-inserted: #01e676;
$light-syntax-generic-output: #e0e0e0;
$light-syntax-generic-prompt: #0de5ff;
$light-syntax-generic-strong: #e0e0e0;
$light-syntax-generic-subheading: #e0e0e0;
$light-syntax-generic-traceback: #0de5ff;
$light-syntax-highlight-color: #ffff8d;
$light-syntax-keyword-constant: #7d4cff;
$light-syntax-keyword-declaration: #7d4cff;
$light-syntax-keyword-namespace: #ffab40;
$light-syntax-keyword-pseudo: #01e676;
$light-syntax-keyword-reserved: #01e676;
$light-syntax-keyword-type: #ffab40;
$light-syntax-keyword: #01e676;
$light-syntax-literal-date: #eeeeee;
$light-syntax-literal: #eeeeee;
$light-syntax-name-attribute: #bdbdbd;
$light-syntax-name-builtin-pseudo: #42c5ff;
$light-syntax-name-builtin: #42c5ff;
$light-syntax-name-class: #42c5ff;
$light-syntax-name-constant: #e03ffb;
$light-syntax-name-decorator: #42c5ff;
$light-syntax-name-entity: #42c5ff;
$light-syntax-name-exception: #e03ffb;
$light-syntax-name-function-magic: #b488ff;
$light-syntax-name-function: #b488ff;
$light-syntax-name-label: #f4ff81;
$light-syntax-name-namespace: #42c5ff;
$light-syntax-name-other: #bdbdbd;
$light-syntax-name-property: #b488ff;
$light-syntax-name-tag: #42c5ff;
$light-syntax-name-variable-class: #ff4082;
$light-syntax-name-variable-global: #ff4082;
$light-syntax-name-variable-instance: #ff4082;
$light-syntax-name-variable-magic: #ff4082;
$light-syntax-name-variable: #ff4082;
$light-syntax-name: #bdbdbd;
$light-syntax-number-bin: #01e676;
$light-syntax-number-float: #01e676;
$light-syntax-number-hex: #01e676;
$light-syntax-number-integer-long: #01e676;
$light-syntax-number-integer: #01e676;
$light-syntax-number-oct: #01e676;
$light-syntax-number: #01e676;
$light-syntax-operator-word: #b2ff59;
$light-syntax-operator: #bdbdbd;
$light-syntax-punctuation: #f5f5f5;
$light-syntax-string-affix: #ffa726;
$light-syntax-string-backtick: #ffa726;
$light-syntax-string-char: #ff7143;
$light-syntax-string-delimiter: #ff7143;
$light-syntax-string-doc: #ffe0b3;
$light-syntax-string-double: #ffa726;
$light-syntax-string-escape: #ffa726;
$light-syntax-string-heredoc: #ffa726;
$light-syntax-string-interpol: #ffa726;
$light-syntax-string-other: #ffb74d;
$light-syntax-string-regex: #e64b19;
$light-syntax-string-single: #ffa726;
$light-syntax-string-symbol: #e64b19;
$light-syntax-string: #ffa726;
$light-syntax-text-whitespace: #f5f5f5;
$light-syntax-text: #fafafa;
// ----------------------------------------------------------------------------
// sprinkles dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-comment-hashbang: #9e9e9e;
$dark-syntax-comment-multiline: #9e9e9e;
$dark-syntax-comment-preproc: #ec417a;
$dark-syntax-comment-preprocfile: #9e9e9e;
$dark-syntax-comment-single: #9e9e9e;
$dark-syntax-comment-special: #9e9e9e;
$dark-syntax-comment: #9e9e9e;
$dark-syntax-container-color: #ffffff;
$dark-syntax-error: #d50201;
$dark-syntax-generic-deleted: #d50201;
$dark-syntax-generic-emph: #000000;
$dark-syntax-generic-error: #d50201;
$dark-syntax-generic-heading: #000000;
$dark-syntax-generic-inserted: #01e676;
$dark-syntax-generic-output: #000000;
$dark-syntax-generic-prompt: #0de5ff;
$dark-syntax-generic-strong: #000000;
$dark-syntax-generic-subheading: #000000;
$dark-syntax-generic-traceback: #0de5ff;
$dark-syntax-highlight-color: #ffff8d;
$dark-syntax-keyword-constant: #7d4cff;
$dark-syntax-keyword-declaration: #7d4cff;
$dark-syntax-keyword-namespace: #ffab40;
$dark-syntax-keyword-pseudo: #01e676;
$dark-syntax-keyword-reserved: #01e676;
$dark-syntax-keyword-type: #ffab40;
$dark-syntax-keyword: #01e676;
$dark-syntax-literal-date: #000000;
$dark-syntax-literal: #000000;
$dark-syntax-name-attribute: #000000;
$dark-syntax-name-builtin-pseudo: #2c79ff;
$dark-syntax-name-builtin: #2c79ff;
$dark-syntax-name-class: #2c79ff;
$dark-syntax-name-constant: #5f35b1;
$dark-syntax-name-decorator: #2c79ff;
$dark-syntax-name-entity: #2c79ff;
$dark-syntax-name-exception: #5f35b1;
$dark-syntax-name-function-magic: #7d4cff;
$dark-syntax-name-function: #7d4cff;
$dark-syntax-name-label: #303f9f;
$dark-syntax-name-namespace: #2c79ff;
$dark-syntax-name-other: #757575;
$dark-syntax-name-property: #7d4cff;
$dark-syntax-name-tag: #2c79ff;
$dark-syntax-name-variable-class: #ff4082;
$dark-syntax-name-variable-global: #ff4082;
$dark-syntax-name-variable-instance: #ff4082;
$dark-syntax-name-variable-magic: #ff4082;
$dark-syntax-name-variable: #ff4082;
$dark-syntax-name: #000000;
$dark-syntax-number-bin: #01e676;
$dark-syntax-number-float: #01e676;
$dark-syntax-number-hex: #01e676;
$dark-syntax-number-integer-long: #01e676;
$dark-syntax-number-integer: #01e676;
$dark-syntax-number-oct: #01e676;
$dark-syntax-number: #01e676;
$dark-syntax-operator-word: #64de17;
$dark-syntax-operator: #000000;
$dark-syntax-punctuation: #000000;
$dark-syntax-string-affix: #ff7143;
$dark-syntax-string-backtick: #ff7143;
$dark-syntax-string-char: #e64b19;
$dark-syntax-string-delimiter: #e64b19;
$dark-syntax-string-doc: #ffa726;
$dark-syntax-string-double: #e64b19;
$dark-syntax-string-escape: #e64b19;
$dark-syntax-string-heredoc: #e64b19;
$dark-syntax-string-interpol: #e64b19;
$dark-syntax-string-other: #e64b19;
$dark-syntax-string-regex: #e64b19;
$dark-syntax-string-single: #e64b19;
$dark-syntax-string-symbol: #ffa726;
$dark-syntax-string: #e64b19;
$dark-syntax-text-whitespace: #000000;
$dark-syntax-text: #000000;