// ----------------------------------------------------------------------------
// summer light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-text: #095c71;
$light-syntax-container-color: #daf6fc;
$light-syntax-comment-hashbang: #04045e;
$light-syntax-comment-multiline: #04045e;
$light-syntax-comment-preproc: #04045e;
$light-syntax-comment-preprocfile: #04045e;
$light-syntax-comment-single: #04045e;
$light-syntax-comment-special: #04045e;
$light-syntax-comment: #04045e;
$light-syntax-error: #f61249;
$light-syntax-generic-deleted: #f61249;
$light-syntax-generic-emph: #ff9f00;
$light-syntax-generic-error: #ff9f00;
$light-syntax-generic-heading: #ff9f00;
$light-syntax-generic-inserted: #ff9f00;
$light-syntax-generic-output: #ff9f00;
$light-syntax-generic-prompt: #ff9f00;
$light-syntax-generic-strong: #ff9f00;
$light-syntax-generic-subheading: #ff9f00;
$light-syntax-generic-traceback: #ff9f00;
$light-syntax-highlight-line: #ff6d00;
$light-syntax-keyword-constant: #1592e1;
$light-syntax-keyword-declaration: #1592e1;
$light-syntax-keyword-namespace: #ff9201;
$light-syntax-keyword-pseudo: #1592e1;
$light-syntax-keyword-reserved: #1592e1;
$light-syntax-keyword-type: #1592e1;
$light-syntax-keyword: #1592e1;
$light-syntax-literal-date: #ff6d00;
$light-syntax-literal: #ff6d00;
$light-syntax-name-attribute: #0577b6;
$light-syntax-name-builtin-pseudo: #02033b;
$light-syntax-name-builtin: #02033b;
$light-syntax-name-class: #0577b6;
$light-syntax-name-constant: #0bb4d8;
$light-syntax-name-decorator: #0577b6;
$light-syntax-name-entity: #02033b;
$light-syntax-name-exception: #0577b6;
$light-syntax-name-function-magic: #0577b6;
$light-syntax-name-function: #0577b6;
$light-syntax-name-label: #7206b7;
$light-syntax-name-namespace: #02033b;
$light-syntax-name-other: #0577b6;
$light-syntax-name-property: #0577b6;
$light-syntax-name-tag: #7206b7;
$light-syntax-name-variable-class: #02033b;
$light-syntax-name-variable-global: #02033b;
$light-syntax-name-variable-instance: #02033b;
$light-syntax-name-variable-magic: #02033b;
$light-syntax-name-variable: #02033b;
$light-syntax-name: #02033b;
$light-syntax-number-bin: #7206b7;
$light-syntax-number-float: #7206b7;
$light-syntax-number-hex: #7206b7;
$light-syntax-number-integer-long: #7206b7;
$light-syntax-number-integer: #7206b7;
$light-syntax-number-oct: #7206b7;
$light-syntax-number: #7206b7;
$light-syntax-operator-word: #ff9201;
$light-syntax-operator: #ff9201;
$light-syntax-punctuation: #7206b7;
$light-syntax-string-affix: #ff5500;
$light-syntax-string-backtick: #ff5500;
$light-syntax-string-char: #ff5500;
$light-syntax-string-delimiter: #ff5500;
$light-syntax-string-doc: #ff5500;
$light-syntax-string-double: #ff5500;
$light-syntax-string-escape: #0577b6;
$light-syntax-string-heredoc: #ff5500;
$light-syntax-string-interpol: #ff5500;
$light-syntax-string-other: #ff5500;
$light-syntax-string-regex: #ff5500;
$light-syntax-string-single: #ff5500;
$light-syntax-string-symbol: #ff5500;
$light-syntax-string: #ff5500;
$light-syntax-text-whitespace: #02033b;
// ----------------------------------------------------------------------------
// summer dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-text: #cc5801;
$dark-syntax-container-color: #fff6eb;
$dark-syntax-comment-hashbang: #04045e;
$dark-syntax-comment-multiline: #04045e;
$dark-syntax-comment-preproc: #04045e;
$dark-syntax-comment-preprocfile: #04045e;
$dark-syntax-comment-single: #04045e;
$dark-syntax-comment-special: #04045e;
$dark-syntax-comment: #04045e;
$dark-syntax-error: #f61249;
$dark-syntax-generic-deleted: #f61249;
$dark-syntax-generic-emph: #ff9f00;
$dark-syntax-generic-error: #ff9f00;
$dark-syntax-generic-heading: #ff9f00;
$dark-syntax-generic-inserted: #ff9f00;
$dark-syntax-generic-output: #ff9f00;
$dark-syntax-generic-prompt: #ff9f00;
$dark-syntax-generic-strong: #ff9f00;
$dark-syntax-generic-subheading: #ff9f00;
$dark-syntax-generic-traceback: #ff9f00;
$dark-syntax-highlight-line: #ff6d00;
$dark-syntax-keyword-constant: #1592e1;
$dark-syntax-keyword-declaration: #1592e1;
$dark-syntax-keyword-namespace: #ff9201;
$dark-syntax-keyword-pseudo: #1592e1;
$dark-syntax-keyword-reserved: #1592e1;
$dark-syntax-keyword-type: #1592e1;
$dark-syntax-keyword: #1592e1;
$dark-syntax-literal-date: #ff6d00;
$dark-syntax-literal: #ff6d00;
$dark-syntax-name-attribute: #0577b6;
$dark-syntax-name-builtin-pseudo: #02033b;
$dark-syntax-name-builtin: #02033b;
$dark-syntax-name-class: #0577b6;
$dark-syntax-name-constant: #0bb4d8;
$dark-syntax-name-decorator: #0577b6;
$dark-syntax-name-entity: #02033b;
$dark-syntax-name-exception: #0577b6;
$dark-syntax-name-function-magic: #0577b6;
$dark-syntax-name-function: #0577b6;
$dark-syntax-name-label: #7206b7;
$dark-syntax-name-namespace: #02033b;
$dark-syntax-name-other: #0577b6;
$dark-syntax-name-property: #0577b6;
$dark-syntax-name-tag: #7206b7;
$dark-syntax-name-variable-class: #02033b;
$dark-syntax-name-variable-global: #02033b;
$dark-syntax-name-variable-instance: #02033b;
$dark-syntax-name-variable-magic: #02033b;
$dark-syntax-name-variable: #02033b;
$dark-syntax-name: #02033b;
$dark-syntax-number-bin: #7206b7;
$dark-syntax-number-float: #7206b7;
$dark-syntax-number-hex: #7206b7;
$dark-syntax-number-integer-long: #7206b7;
$dark-syntax-number-integer: #7206b7;
$dark-syntax-number-oct: #7206b7;
$dark-syntax-number: #7206b7;
$dark-syntax-operator-word: #ff9201;
$dark-syntax-operator: #ff9201;
$dark-syntax-punctuation: #7206b7;
$dark-syntax-string-affix: #ff5500;
$dark-syntax-string-backtick: #ff5500;
$dark-syntax-string-char: #ff5500;
$dark-syntax-string-delimiter: #ff5500;
$dark-syntax-string-doc: #ff5500;
$dark-syntax-string-double: #ff5500;
$dark-syntax-string-escape: #0577b6;
$dark-syntax-string-heredoc: #ff5500;
$dark-syntax-string-interpol: #ff5500;
$dark-syntax-string-other: #ff5500;
$dark-syntax-string-regex: #ff5500;
$dark-syntax-string-single: #ff5500;
$dark-syntax-string-symbol: #ff5500;
$dark-syntax-string: #ff5500;
$dark-syntax-text-whitespace: #02033b;