// ----------------------------------------------------------------------------
// term light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-text: #2afe13;
$light-syntax-container-color: #020202;
$light-syntax-highlight-line: #fffe07;
$light-syntax-error: #e60101;
$light-syntax-punctuation: #4f9dff;
$light-syntax-text-whitespace: #2afe13;
$light-syntax-comment-hashbang: #ff9601;
$light-syntax-comment-multiline: #ff9601;
$light-syntax-comment-preproc: #ff9601;
$light-syntax-comment-preprocfile: #ff9601;
$light-syntax-comment-single: #ff9601;
$light-syntax-comment-special: #ff9601;
$light-syntax-comment: #ff9601;
$light-syntax-generic-deleted: #e60101;
$light-syntax-generic-emph: #2afe13;
$light-syntax-generic-error: #2afe13;
$light-syntax-generic-heading: #2afe13;
$light-syntax-generic-inserted: #2afe13;
$light-syntax-generic-output: #2afe13;
$light-syntax-generic-prompt: #e502e6;
$light-syntax-generic-strong: #e502e6;
$light-syntax-generic-subheading: #2afe13;
$light-syntax-generic-traceback: #2afe13;
$light-syntax-keyword-constant: #e502e6;
$light-syntax-keyword-declaration: #1bffff;
$light-syntax-keyword-namespace: #e502e6;
$light-syntax-keyword-pseudo: #e502e6;
$light-syntax-keyword-reserved: #e502e6;
$light-syntax-keyword-type: #1bffff;
$light-syntax-keyword: #e502e6;
$light-syntax-literal-date: #2afe13;
$light-syntax-literal: #2afe13;
$light-syntax-name-attribute: #e6e500;
$light-syntax-name-builtin-pseudo: #fff;
$light-syntax-name-builtin: #09b0ff;
$light-syntax-name-class: #1bffff;
$light-syntax-name-constant: #2afe13;
$light-syntax-name-decorator: #2afe13;
$light-syntax-name-entity: #2afe13;
$light-syntax-name-exception: #2afe13;
$light-syntax-name-function-magic: #e6e500;
$light-syntax-name-function: #e6e500;
$light-syntax-name-label: #e6e500;
$light-syntax-name-namespace: #2afe13;
$light-syntax-name-other: #2afe13;
$light-syntax-name-property: #e6e500;
$light-syntax-name-tag: #e502e6;
$light-syntax-name-variable-class: #09b0ff;
$light-syntax-name-variable-global: #09b0ff;
$light-syntax-name-variable-instance: #09b0ff;
$light-syntax-name-variable-magic: #09b0ff;
$light-syntax-name-variable: #09b0ff;
$light-syntax-name: #2afe13;
$light-syntax-number-bin: #ab00ff;
$light-syntax-number-float: #ab00ff;
$light-syntax-number-hex: #ab00ff;
$light-syntax-number-integer-long: #ab00ff;
$light-syntax-number-integer: #ab00ff;
$light-syntax-number-oct: #ab00ff;
$light-syntax-number: #ab00ff;
$light-syntax-operator-word: #e6e500;
$light-syntax-operator: #e6e500;
$light-syntax-string-affix: #00a5b2;
$light-syntax-string-backtick: #00a5b2;
$light-syntax-string-char: #00a5b2;
$light-syntax-string-delimiter: #00a5b2;
$light-syntax-string-doc: #00a5b2;
$light-syntax-string-double: #1bffff;
$light-syntax-string-escape: #00a5b2;
$light-syntax-string-heredoc: #00a5b2;
$light-syntax-string-interpol: #00a5b2;
$light-syntax-string-other: #1bffff;
$light-syntax-string-regex: #00a5b2;
$light-syntax-string-single: #1bffff;
$light-syntax-string-symbol: #00a5b2;
$light-syntax-string: #00a5b2;
// ----------------------------------------------------------------------------
// term dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-text: #2afe13;
$dark-syntax-container-color: #020202;
$dark-syntax-highlight-line: #fffe07;
$dark-syntax-error: #e60101;
$dark-syntax-punctuation: #4f9dff;
$dark-syntax-text-whitespace: #2afe13;
$dark-syntax-comment-hashbang: #ff9601;
$dark-syntax-comment-multiline: #ff9601;
$dark-syntax-comment-preproc: #ff9601;
$dark-syntax-comment-preprocfile: #ff9601;
$dark-syntax-comment-single: #ff9601;
$dark-syntax-comment-special: #ff9601;
$dark-syntax-comment: #ff9601;
$dark-syntax-generic-deleted: #e60101;
$dark-syntax-generic-emph: #2afe13;
$dark-syntax-generic-error: #2afe13;
$dark-syntax-generic-heading: #2afe13;
$dark-syntax-generic-inserted: #2afe13;
$dark-syntax-generic-output: #2afe13;
$dark-syntax-generic-prompt: #e502e6;
$dark-syntax-generic-strong: #e502e6;
$dark-syntax-generic-subheading: #2afe13;
$dark-syntax-generic-traceback: #2afe13;
$dark-syntax-keyword-constant: #e502e6;
$dark-syntax-keyword-declaration: #1bffff;
$dark-syntax-keyword-namespace: #e502e6;
$dark-syntax-keyword-pseudo: #e502e6;
$dark-syntax-keyword-reserved: #e502e6;
$dark-syntax-keyword-type: #1bffff;
$dark-syntax-keyword: #e502e6;
$dark-syntax-literal-date: #2afe13;
$dark-syntax-literal: #2afe13;
$dark-syntax-name-attribute: #e6e500;
$dark-syntax-name-builtin-pseudo: #fff;
$dark-syntax-name-builtin: #09b0ff;
$dark-syntax-name-class: #1bffff;
$dark-syntax-name-constant: #2afe13;
$dark-syntax-name-decorator: #2afe13;
$dark-syntax-name-entity: #2afe13;
$dark-syntax-name-exception: #2afe13;
$dark-syntax-name-function-magic: #e6e500;
$dark-syntax-name-function: #e6e500;
$dark-syntax-name-label: #e6e500;
$dark-syntax-name-namespace: #2afe13;
$dark-syntax-name-other: #2afe13;
$dark-syntax-name-property: #e6e500;
$dark-syntax-name-tag: #e502e6;
$dark-syntax-name-variable-class: #09b0ff;
$dark-syntax-name-variable-global: #09b0ff;
$dark-syntax-name-variable-instance: #09b0ff;
$dark-syntax-name-variable-magic: #09b0ff;
$dark-syntax-name-variable: #09b0ff;
$dark-syntax-name: #2afe13;
$dark-syntax-number-bin: #ab00ff;
$dark-syntax-number-float: #ab00ff;
$dark-syntax-number-hex: #ab00ff;
$dark-syntax-number-integer-long: #ab00ff;
$dark-syntax-number-integer: #ab00ff;
$dark-syntax-number-oct: #ab00ff;
$dark-syntax-number: #ab00ff;
$dark-syntax-operator-word: #e6e500;
$dark-syntax-operator: #e6e500;
$dark-syntax-string-affix: #00a5b2;
$dark-syntax-string-backtick: #00a5b2;
$dark-syntax-string-char: #00a5b2;
$dark-syntax-string-delimiter: #00a5b2;
$dark-syntax-string-doc: #00a5b2;
$dark-syntax-string-double: #1bffff;
$dark-syntax-string-escape: #00a5b2;
$dark-syntax-string-heredoc: #00a5b2;
$dark-syntax-string-interpol: #00a5b2;
$dark-syntax-string-other: #1bffff;
$dark-syntax-string-regex: #00a5b2;
$dark-syntax-string-single: #1bffff;
$dark-syntax-string-symbol: #00a5b2;
$dark-syntax-string: #00a5b2;