// ----------------------------------------------------------------------------
// yolo light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-text: #cacef7;
$light-syntax-container-color: #241057;
$light-syntax-highlight-line: #f9246c;
$light-syntax-error: #b71c1c;
$light-syntax-punctuation: #4f9dff;
$light-syntax-text-whitespace: #cacef7;
$light-syntax-comment-hashbang: #b5036a;
$light-syntax-comment-multiline: #b5036a;
$light-syntax-comment-preproc: #b5036a;
$light-syntax-comment-preprocfile: #b5036a;
$light-syntax-comment-single: #b5036a;
$light-syntax-comment-special: #b5036a;
$light-syntax-comment: #b5036a;
$light-syntax-generic-deleted: #b71c1c;
$light-syntax-generic-emph: #cacef7;
$light-syntax-generic-error: #cacef7;
$light-syntax-generic-heading: #cacef7;
$light-syntax-generic-inserted: #cacef7;
$light-syntax-generic-output: #cacef7;
$light-syntax-generic-prompt: #f9246c;
$light-syntax-generic-strong: #f9246c;
$light-syntax-generic-subheading: #cacef7;
$light-syntax-generic-traceback: #cacef7;
$light-syntax-keyword-constant: #f9246c;
$light-syntax-keyword-declaration: #3b6afe;
$light-syntax-keyword-namespace: #f9246c;
$light-syntax-keyword-pseudo: #f9246c;
$light-syntax-keyword-reserved: #f9246c;
$light-syntax-keyword-type: #3b6afe;
$light-syntax-keyword: #f9246c;
$light-syntax-literal-date: #cacef7;
$light-syntax-literal: #cacef7;
$light-syntax-name-attribute: #50fa7b;
$light-syntax-name-builtin-pseudo: #cacef7;
$light-syntax-name-builtin: #0ca9f4;
$light-syntax-name-class: #50fa7b;
$light-syntax-name-constant: #cacef7;
$light-syntax-name-decorator: #cacef7;
$light-syntax-name-entity: #cacef7;
$light-syntax-name-exception: #cacef7;
$light-syntax-name-function-magic: #50fa7b;
$light-syntax-name-function: #50fa7b;
$light-syntax-name-label: #50fa7b;
$light-syntax-name-namespace: #cacef7;
$light-syntax-name-other: #cacef7;
$light-syntax-name-property: #50fa7b;
$light-syntax-name-tag: #f9246c;
$light-syntax-name-variable-class: #0ca9f4;
$light-syntax-name-variable-global: #0ca9f4;
$light-syntax-name-variable-instance: #0ca9f4;
$light-syntax-name-variable-magic: #0ca9f4;
$light-syntax-name-variable: #0ca9f4;
$light-syntax-name: #cacef7;
$light-syntax-number-bin: #b5036a;
$light-syntax-number-float: #b5036a;
$light-syntax-number-hex: #b5036a;
$light-syntax-number-integer-long: #b5036a;
$light-syntax-number-integer: #b5036a;
$light-syntax-number-oct: #b5036a;
$light-syntax-number: #b5036a;
$light-syntax-operator-word: #50fa7b;
$light-syntax-operator: #50fa7b;
$light-syntax-string-affix: #bf3efd;
$light-syntax-string-backtick: #bf3efd;
$light-syntax-string-char: #bf3efd;
$light-syntax-string-delimiter: #bf3efd;
$light-syntax-string-doc: #bf3efd;
$light-syntax-string-double: #4f9dff;
$light-syntax-string-escape: #bf3efd;
$light-syntax-string-heredoc: #bf3efd;
$light-syntax-string-interpol: #bf3efd;
$light-syntax-string-other: #4f9dff;
$light-syntax-string-regex: #bf3efd;
$light-syntax-string-single: #4f9dff;
$light-syntax-string-symbol: #bf3efd;
$light-syntax-string: #bf3efd;
// ----------------------------------------------------------------------------
// yolo dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-text: #cacef7;
$dark-syntax-container-color: #241057;
$dark-syntax-highlight-line: #f9246c;
$dark-syntax-error: #b71c1c;
$dark-syntax-punctuation: #4f9dff;
$dark-syntax-text-whitespace: #cacef7;
$dark-syntax-comment-hashbang: #b5036a;
$dark-syntax-comment-multiline: #b5036a;
$dark-syntax-comment-preproc: #b5036a;
$dark-syntax-comment-preprocfile: #b5036a;
$dark-syntax-comment-single: #b5036a;
$dark-syntax-comment-special: #b5036a;
$dark-syntax-comment: #b5036a;
$dark-syntax-generic-deleted: #b71c1c;
$dark-syntax-generic-emph: #cacef7;
$dark-syntax-generic-error: #cacef7;
$dark-syntax-generic-heading: #cacef7;
$dark-syntax-generic-inserted: #cacef7;
$dark-syntax-generic-output: #cacef7;
$dark-syntax-generic-prompt: #f9246c;
$dark-syntax-generic-strong: #f9246c;
$dark-syntax-generic-subheading: #cacef7;
$dark-syntax-generic-traceback: #cacef7;
$dark-syntax-keyword-constant: #f9246c;
$dark-syntax-keyword-declaration: #3b6afe;
$dark-syntax-keyword-namespace: #f9246c;
$dark-syntax-keyword-pseudo: #f9246c;
$dark-syntax-keyword-reserved: #f9246c;
$dark-syntax-keyword-type: #3b6afe;
$dark-syntax-keyword: #f9246c;
$dark-syntax-literal-date: #cacef7;
$dark-syntax-literal: #cacef7;
$dark-syntax-name-attribute: #50fa7b;
$dark-syntax-name-builtin-pseudo: #cacef7;
$dark-syntax-name-builtin: #0ca9f4;
$dark-syntax-name-class: #50fa7b;
$dark-syntax-name-constant: #cacef7;
$dark-syntax-name-decorator: #cacef7;
$dark-syntax-name-entity: #cacef7;
$dark-syntax-name-exception: #cacef7;
$dark-syntax-name-function-magic: #50fa7b;
$dark-syntax-name-function: #50fa7b;
$dark-syntax-name-label: #50fa7b;
$dark-syntax-name-namespace: #cacef7;
$dark-syntax-name-other: #cacef7;
$dark-syntax-name-property: #50fa7b;
$dark-syntax-name-tag: #f9246c;
$dark-syntax-name-variable-class: #0ca9f4;
$dark-syntax-name-variable-global: #0ca9f4;
$dark-syntax-name-variable-instance: #0ca9f4;
$dark-syntax-name-variable-magic: #0ca9f4;
$dark-syntax-name-variable: #0ca9f4;
$dark-syntax-name: #cacef7;
$dark-syntax-number-bin: #b5036a;
$dark-syntax-number-float: #b5036a;
$dark-syntax-number-hex: #b5036a;
$dark-syntax-number-integer-long: #b5036a;
$dark-syntax-number-integer: #b5036a;
$dark-syntax-number-oct: #b5036a;
$dark-syntax-number: #b5036a;
$dark-syntax-operator-word: #50fa7b;
$dark-syntax-operator: #50fa7b;
$dark-syntax-string-affix: #bf3efd;
$dark-syntax-string-backtick: #bf3efd;
$dark-syntax-string-char: #bf3efd;
$dark-syntax-string-delimiter: #bf3efd;
$dark-syntax-string-doc: #bf3efd;
$dark-syntax-string-double: #4f9dff;
$dark-syntax-string-escape: #bf3efd;
$dark-syntax-string-heredoc: #bf3efd;
$dark-syntax-string-interpol: #bf3efd;
$dark-syntax-string-other: #4f9dff;
$dark-syntax-string-regex: #bf3efd;
$dark-syntax-string-single: #4f9dff;
$dark-syntax-string-symbol: #bf3efd;
$dark-syntax-string: #bf3efd;