// ----------------------------------------------------------------------------
// zoot light-mode syntax theme
// ----------------------------------------------------------------------------
$light-syntax-container-color: #202231;
$light-syntax-text: #edf2f4;
$light-syntax-comment-hashbang: #8f8f8f;
$light-syntax-comment-multiline: #8f8f8f;
$light-syntax-comment-preproc: #8f8f8f;
$light-syntax-comment-preprocfile: #8f8f8f;
$light-syntax-comment-single: #8f8f8f;
$light-syntax-comment-special: #8f8f8f;
$light-syntax-comment: #8f8f8f;
$light-syntax-error: #b71c1c;
$light-syntax-generic-deleted: #b71c1c;
$light-syntax-generic-emph: #d2d2f3;
$light-syntax-generic-error: #d2d2f3;
$light-syntax-generic-heading: #d2d2f3;
$light-syntax-generic-inserted: #d2d2f3;
$light-syntax-generic-output: #d2d2f3;
$light-syntax-generic-prompt: #fa1137;
$light-syntax-generic-strong: #fa1137;
$light-syntax-generic-subheading: #d2d2f3;
$light-syntax-generic-traceback: #d2d2f3;
$light-syntax-highlight-line: #666666;
$light-syntax-keyword-constant: #f46779;
$light-syntax-keyword-declaration: #6791a2;
$light-syntax-keyword-namespace: #f46779;
$light-syntax-keyword-pseudo: #f46779;
$light-syntax-keyword-reserved: #f46779;
$light-syntax-keyword-type: #6791a2;
$light-syntax-keyword: #f46779;
$light-syntax-literal-date: #d2d2f3;
$light-syntax-literal: #d2d2f3;
$light-syntax-name-attribute: #edf2f4;
$light-syntax-name-builtin-pseudo: #d2d2f3;
$light-syntax-name-builtin: #6791a2;
$light-syntax-name-class: #edf2f4;
$light-syntax-name-constant: #d2d2f3;
$light-syntax-name-decorator: #d2d2f3;
$light-syntax-name-entity: #d2d2f3;
$light-syntax-name-exception: #d2d2f3;
$light-syntax-name-function-magic: #edf2f4;
$light-syntax-name-function: #edf2f4;
$light-syntax-name-label: #edf2f4;
$light-syntax-name-namespace: #d2d2f3;
$light-syntax-name-other: #d2d2f3;
$light-syntax-name-property: #edf2f4;
$light-syntax-name-tag: #f46779;
$light-syntax-name-variable-class: #6791a2;
$light-syntax-name-variable-global: #6791a2;
$light-syntax-name-variable-instance: #6791a2;
$light-syntax-name-variable-magic: #6791a2;
$light-syntax-name-variable: #6791a2;
$light-syntax-name: #d2d2f3;
$light-syntax-number-bin: #fa1137;
$light-syntax-number-float: #fa1137;
$light-syntax-number-hex: #fa1137;
$light-syntax-number-integer-long: #fa1137;
$light-syntax-number-integer: #fa1137;
$light-syntax-number-oct: #fa1137;
$light-syntax-number: #fa1137;
$light-syntax-operator-word: #fff;
$light-syntax-operator: #fff;
$light-syntax-punctuation: #6791a2;
$light-syntax-string-affix: #d90529;
$light-syntax-string-backtick: #d90529;
$light-syntax-string-char: #d90529;
$light-syntax-string-delimiter: #d90529;
$light-syntax-string-doc: #d90529;
$light-syntax-string-double: #65cffc;
$light-syntax-string-escape: #d90529;
$light-syntax-string-heredoc: #d90529;
$light-syntax-string-interpol: #d90529;
$light-syntax-string-other: #65cffc;
$light-syntax-string-regex: #d90529;
$light-syntax-string-single: #65cffc;
$light-syntax-string-symbol: #d90529;
$light-syntax-string: #d90529;
$light-syntax-text-whitespace: #fff;
// ----------------------------------------------------------------------------
// zoot dark-mode syntax theme
// ----------------------------------------------------------------------------
$dark-syntax-container-color: #edf2f4;
$dark-syntax-text: #101119;
$dark-syntax-comment-hashbang: #8f8f8f;
$dark-syntax-comment-multiline: #8f8f8f;
$dark-syntax-comment-preproc: #8f8f8f;
$dark-syntax-comment-preprocfile: #8f8f8f;
$dark-syntax-comment-single: #8f8f8f;
$dark-syntax-comment-special: #8f8f8f;
$dark-syntax-comment: #8f8f8f;
$dark-syntax-error: #b71c1c;
$dark-syntax-generic-deleted: #b71c1c;
$dark-syntax-generic-emph: #101119;
$dark-syntax-generic-error: #101119;
$dark-syntax-generic-heading: #101119;
$dark-syntax-generic-inserted: #101119;
$dark-syntax-generic-output: #101119;
$dark-syntax-generic-prompt: #fa1137;
$dark-syntax-generic-strong: #fa1137;
$dark-syntax-generic-subheading: #101119;
$dark-syntax-generic-traceback: #101119;
$dark-syntax-highlight-line: #666666;
$dark-syntax-keyword-constant: #ef243c;
$dark-syntax-keyword-declaration: #6791a2;
$dark-syntax-keyword-namespace: #ef243c;
$dark-syntax-keyword-pseudo: #ef243c;
$dark-syntax-keyword-reserved: #ef243c;
$dark-syntax-keyword-type: #6791a2;
$dark-syntax-keyword: #ef243c;
$dark-syntax-literal-date: #101119;
$dark-syntax-literal: #101119;
$dark-syntax-name-attribute: #212121;
$dark-syntax-name-builtin-pseudo: #101119;
$dark-syntax-name-builtin: #6791a2;
$dark-syntax-name-class: #212121;
$dark-syntax-name-constant: #101119;
$dark-syntax-name-decorator: #101119;
$dark-syntax-name-entity: #101119;
$dark-syntax-name-exception: #101119;
$dark-syntax-name-function-magic: #212121;
$dark-syntax-name-function: #212121;
$dark-syntax-name-label: #212121;
$dark-syntax-name-namespace: #101119;
$dark-syntax-name-other: #101119;
$dark-syntax-name-property: #212121;
$dark-syntax-name-tag: #ef243c;
$dark-syntax-name-variable-class: #6791a2;
$dark-syntax-name-variable-global: #6791a2;
$dark-syntax-name-variable-instance: #6791a2;
$dark-syntax-name-variable-magic: #6791a2;
$dark-syntax-name-variable: #6791a2;
$dark-syntax-name: #101119;
$dark-syntax-number-bin: #fa1137;
$dark-syntax-number-float: #fa1137;
$dark-syntax-number-hex: #fa1137;
$dark-syntax-number-integer-long: #fa1137;
$dark-syntax-number-integer: #fa1137;
$dark-syntax-number-oct: #fa1137;
$dark-syntax-number: #fa1137;
$dark-syntax-operator-word: #000;
$dark-syntax-operator: #000;
$dark-syntax-punctuation: #6791a2;
$dark-syntax-string-affix: #b40322;
$dark-syntax-string-backtick: #b40322;
$dark-syntax-string-char: #b40322;
$dark-syntax-string-delimiter: #b40322;
$dark-syntax-string-doc: #b40322;
$dark-syntax-string-double: #1175a0;
$dark-syntax-string-escape: #b40322;
$dark-syntax-string-heredoc: #b40322;
$dark-syntax-string-interpol: #b40322;
$dark-syntax-string-other: #1175a0;
$dark-syntax-string-regex: #b40322;
$dark-syntax-string-single: #1175a0;
$dark-syntax-string-symbol: #b40322;
$dark-syntax-string: #b40322;
$dark-syntax-text-whitespace: #fff;