<div class="columns">
	<div class="column">
		<div class="cell primary-color">primary-color</div>
	</div>
	<div class="column">
		<div class="cell on-primary-color">on-primary-color</div>
	</div>	
</div>
<div class="columns">
	<div class="column">
		<div class="cell secondary-color">secondary-color</div>
	</div>
	<div class="column">
		<div class="cell on-secondary-color">on-secondary-color</div>
	</div>	
</div>
<div class="columns">
	<div class="column">
		<div class="cell tertiary-color">tertiary-color</div>
	</div>
	<div class="column">
		<div class="cell on-tertiary-color">on-tertiary-color</div>
	</div>	
</div>
<div class="columns">
	<div class="column">
		<div class="cell primary-container-color">primary-container-color</div>
	</div>
	<div class="column">
		<div class="cell on-primary-container-color">on-primary-container-color</div>
	</div>	
</div>