<div class="yolo-header">
    {% if site.logo %}
    <a href="./">
        <img class="logo" alt="site-logo" src="{{ site.logo }}" title="Site Logo"/>
    </a>
    {% endif %}
    <div id="theme-dot" class="theme-dot">&#9681;</div>
    <h1 class="tag"><a href="./">{{ site.tag_text }}</a></h1>
    <h4 class="description">{{ site.description }}</h4>
    <p>
        <span>
          {% for tag in page.tags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
            <code class="pill">{{ tag_name }}</code>
          {% endfor %}
        </span>
    </p>
</div>