<div class="yolo-header">
    <div class="yolo-theme-toggle">
        <span id="theme-toggle" class="material-icons md-36">light_mode</span>
    </div>
    <div class="yolo-site-info">
        {% if site.data.settings.header.logo %}
        <a href="./">
            <img class="logo" alt="site-logo" src="{{ site.data.settings.header.logo }}" title="Site Logo"/>
        </a>
        {% endif %}
        <h1 class="tag no-toc"><a href="./">{{ site.data.settings.name }}</a></h1>
        <h4 class="description no-toc">{{ site.data.settings.description }}</h4>
        <p>
            <span>
            {% for link in page.links %}
            {% assign linkref = link | split: "," %}
                <a href="{{ linkref[1] }}" class="yolo-pill">{{ linkref[0] }}</a>
            {% endfor %}
            </span>
        </p>
    </div>
</div>