<nav>
    <p class="logo">Yolo-11ty</p>
    <div class="nav-list">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        {% comment %}<button id="nightModeButton" class="night-mode-btn">&#9673;</button>{% endcomment %}
        <div id="nightModeButton" class="theme-dot dark"></div>
        <div id="theme-dot-arcade" class="theme-dot arcade"></div>
        <div id="theme-dot-cloudy" class="theme-dot cloudy"></div>
        <div id="theme-dot-corbs" class="theme-dot corbs"></div>
        <div id="theme-dot-dark" class="theme-dot dark"></div>
        <div id="theme-dot-light" class="theme-dot light"></div>
        <div id="theme-dot-logrey" class="theme-dot logrey"></div>
        <div id="theme-dot-avoca" class="theme-dot avoca"></div>
        <div id="theme-dot-plain" class="theme-dot plain"></div>
    </div>
</nav>