// Left align content, right margin auto, left margin 0
.left {
  margin-right: auto;
  margin-left: 0;
}

.pull-left {
  text-align: left;
}
.pull-right {
  text-align: right;
}
.pull-left, .pull-right {
  display: inline-block;
  width: 50%;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

// Center content, left/right auto, top/bottom 0 margin
.center {
  margin: 0 auto;
}

// No display
.no-display {
  display: none;
  overflow: auto;
}

// No bullets on lists
.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}