// ----------------------------------------------------------------------------
// Images stylesheet
// ----------------------------------------------------------------------------
img {
  border-radius: 0.5em;
  margin: 0 auto;
  display: block;
  max-width: 100%;
}