/* ==========================================================================
   Tables
   ========================================================================== */
table {
  width: 100%;
  border: 1px solid $text-color;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid $text-color;
}