// ----------------------------------------------------------------------------
// Syntax highlighting (material) colors
// ----------------------------------------------------------------------------
$base00: #060E3F !default;
$base01: #393f45 !default;
$base02: #565e65 !default;
$base03: #747c84 !default;
$base04: #adb3ba !default;
$base05: #c7ccd1 !default;
$base06: #dfe2e5 !default;
$base07: #f3f4f5 !default;
$base08: #F2AE56 !default;
$base09: #FCEA60 !default;
$base0a: #6FE182 !default;
$base0b: #7EFCFD !default;
$base0c: #578CF7 !default;
$base0d: #AB8DF8 !default;
$base0e: #EA4BA6 !default;
$base0f: #C1291C !default;

$base-font-family: "Inconsolata", sans-serif !default;