// ----------------------------------------------------------------------------
// weekly theme
// ----------------------------------------------------------------------------
// light mode colors
$light-primary-color: #eceff1;
$light-secondary-color: #37474f;
$light-accent-color: #1a237e;
$light-link-color: #0091ea;
$light-code-background-color: #fafafa;
$light-code-color: #000928;
$light-sidebar-color: #e1f5fe;

// dark mode colors
$dark-primary-color: #020c2a;
$dark-secondary-color: #eceff1;
$dark-accent-color: #17a3f7;
$dark-link-color: #65e9fc;
$dark-code-background-color: #000a12;
$dark-code-color: #c4feee;
$dark-sidebar-color: #010413;

// fonts
$family-primary: "Red Hat Text", serif;
$family-secondary: "Open Sans", sans-serif;
$family-monospace: "Red Hat Mono", monospace;