// ----------------------------------------------------------------------------
// blue theme
// ----------------------------------------------------------------------------
$base-color: #00135f !default;
$secondary-color: #044ef4 !default;

$background-color: $base-color;
$background-darker-color: #002171 !default;

$accent-color: #00e5ff !default;

$code-background-color: #001740 !default;

$text-secondary-color: #bbdefb !default;
$text-color: #eeffff !default;
$header-text-color: #42a5f5 !default;