// ----------------------------------------------------------------------------
// cloudy theme
// ----------------------------------------------------------------------------
$yolo-primary-color: #e9f4fe !default;
$yolo-secondary-color: #32439e !default;
$yolo-accent-color: #0091ea !default;
$yolo-code-background-color: #000928 !default;
$yolo-code-color: #17ba59 !default;
$yolo-link-color: #ef0c81 !default;
// fonts
$family-primary: "Roboto Mono", sans-serif;
$family-secondary: "Raleway", sans-serif;
$family-monospace: "Red Hat Mono", monospace;
$family-code: "Red Hat Mono", monospace;