// ----------------------------------------------------------------------------
// corbs theme
// ----------------------------------------------------------------------------
$yolo-primary-color: #000d55 !default;
$yolo-secondary-color: #342077 !default;

// base colors
$yolo-background-color: #061039 !default;
$yolo-text-primary-color: #ff31b9 !default;
$yolo-text-secondary-color: #c21d8a !default;
$yolo-text-accent-color: #00b0ff !default;

// convenient colors
$yolo-text-dark-color: #000d55 !default;
$yolo-text-light-color: #ff80cd !default;
$yolo-dark-color: #020827 !default;
$yolo-light-color: #7a85ff !default;
$yolo-accent-color: #00b0ff !default;

// code colors
$yolo-code-background-color: #000928 !default;
$yolo-code-primary-color: #65e9fc !default;
$yolo-code-secondary-color: #30ea7d !default;

// element colors
$yolo-link-color: #00b0ff !default;
$yolo-header-color: #00e5ff !default;
$yolo-pill-color: #342077 !default;
$yolo-pill-text-color: #9ce9fb !default;
$yolo-table-header-color: #ff31b9 !default;
$yolo-table-border-color: #ff31b9 !default;
$yolo-table-header-text-color: #000d55 !default;

// fonts
$family-primary: "Red Hat Mono", sans-serif;
$family-secondary: "Raleway", sans-serif;
$family-monospace: "Red Hat Mono", monospace;
$family-code: "Red Hat Mono", monospace;