// ----------------------------------------------------------------------------
// dallas theme
// ----------------------------------------------------------------------------
$base-color: #08020a !default;
$secondary-color: #4113a6 !default;

$background-color: #000928;
$background-darker-color: #08020a !default;

$accent-color: #28cc38 !default;

$code-background-color: #201326 !default;

$text-secondary-color: #b30746 !default;
$text-color: #77eac1 !default;
$text-code-color: #22faf3 !default;
$header-text-color: #f73580 !default;