// ----------------------------------------------------------------------------
// dark theme
// ----------------------------------------------------------------------------
$yolo-primary-color: #0e0e0e !default;
$yolo-secondary-color: #d1ecfb !default;
$yolo-accent-color: #00b0ff !default;
$yolo-code-background-color: #000 !default;
$yolo-code-color: #00e676 !default;
$yolo-link-color: #f7346d !default;
// fonts
$family-primary: "Inconsolata", sans-serif;
$family-secondary: "Raleway", sans-serif;
$family-monospace: "Inconsolata", monospace;
$family-code: "Inconsolata", monospace;