// ----------------------------------------------------------------------------
// dark theme
// ----------------------------------------------------------------------------
$base-color: #000 !default;
$secondary-color: #fff !default;

$background-color: $base-color;
$background-darker-color: $base-color !default;

$accent-color: #808080 !default;

$code-background-color: $base-color !default;

$text-secondary-color: #aaa !default;
$text-color: #fff !default;
$text-code-color: #65e9fc !default;
$header-text-color: #fff !default;