// ----------------------------------------------------------------------------
// default theme
// ----------------------------------------------------------------------------
$base-color: #e3e2e2 !default;
$secondary-color: #1a103b !default;

$background-color: $base-color;
$background-darker-color: #8e8e8e !default;

$accent-color: #3c73f8 !default;

$code-background-color: #000 !default;

$text-secondary-color: #121f5c !default;
$text-color: #001729 !default;
$text-code-color: #01171b !default;
$header-text-color: #180440 !default;