// ----------------------------------------------------------------------------
// domino theme
// ----------------------------------------------------------------------------
$light-primary-color: #fff;
$light-secondary-color: #000;
$light-accent-color: #5f5f5f;
$light-code-background-color: #000000;
$light-code-color: #d5d5d5;
$light-link-color: #2196f3;

$dark-primary-color: #000;
$dark-secondary-color: #fff;
$dark-accent-color: #bdbdbd;
$dark-code-background-color: #2d2d2d;
$dark-code-color: #fff;
$dark-link-color: #2196f3;

$family-primary: "Inconsolata", sans-serif;
$family-secondary: "Open Sans", sans-serif;
$family-monospace: "Roboto Mono", monospace;