// ----------------------------------------------------------------------------
// githubdark theme
// ----------------------------------------------------------------------------
$base-color: #23292f !default;
$secondary-color: #faa356 !default;

$background-color: $base-color;
$background-color-darker: #161b22 !default;

$accent-color: #7de48b !default;

$code-background-color: #161b22 !default;

$text-color-alt: #fa7970 !default;
$text-color: #a2d2fb !default;
$header-text-color: #cfa5fc !default;
