// ----------------------------------------------------------------------------
// green theme
// ----------------------------------------------------------------------------
$base-color: #0c6319 !default;

$background-color: $base-color;
$background-color-darker: #1b5e20 !default;

$accent-color: #ccff90 !default;

$code-background-color: #0b3b0f !default;

$text-color-alt: #b9f6ca !default;
$text-color: #ecfffd !default;
$header-text-color: #b9f6ca !default;