// ----------------------------------------------------------------------------
// green theme
// ----------------------------------------------------------------------------
$base-color: #cbfce0 !default;
$secondary-color: #11b650 !default;

$background-color: $base-color;
$background-darker-color: #478568 !default;

$accent-color: #240e63 !default;

$code-background-color: #1d1d1d !default;

$text-secondary-color: #08ab47 !default;
$text-color: #028134 !default;
$text-code-color: #b9f6ca !default;
$header-text-color: #038233 !default;