// ----------------------------------------------------------------------------
// light theme
// ----------------------------------------------------------------------------
$base-color: #fff !default;
$secondary-color: #11b650 !default;

$background-color: $base-color;
$background-darker-color: #ccc !default;

$accent-color: #1f56d8 !default;

$code-background-color: #000 !default;

$text-secondary-color: #333 !default;
$text-color: #000 !default;
$text-code-color: #fff !default;
$header-text-color: #000 !default;