// ----------------------------------------------------------------------------
// light theme
// ----------------------------------------------------------------------------
$yolo-primary-color: #fbffff !default;
$yolo-secondary-color: #093fc4 !default;
$yolo-accent-color: #4113a6 !default;
$yolo-code-background-color: #000928 !default;
$yolo-code-color: #00e676 !default;
$yolo-link-color: #f7346d !default;
// fonts
$family-primary: "Red Hat Mono", sans-serif;
$family-secondary: "Open Sans", sans-serif;
$family-monospace: "Red Hat Mono", monospace;
$family-code: "Red Hat Mono", monospace;