// ----------------------------------------------------------------------------
// monoblack theme
// ----------------------------------------------------------------------------
$yolo-primary-color: #000 !default;
$yolo-secondary-color: #fff !default;

// base colors
$yolo-background-color: #000 !default;
$yolo-text-primary-color: #fff !default;
$yolo-text-secondary-color: #fff !default;
$yolo-text-accent-color: #fff !default;

// convenient colors
$yolo-text-dark-color: #000 !default;
$yolo-text-light-color: #fff !default;
$yolo-dark-color: #000 !default;
$yolo-light-color: #fff !default;
$yolo-accent-color: #00b0ff !default;

// code colors
$yolo-code-background-color: #000 !default;
$yolo-code-primary-color: #fff !default;
$yolo-code-secondary-color: #fff !default;

// element colors
$yolo-link-color: #00b0ff !default;
$yolo-header-color: #fff !default;
$yolo-pill-color: #fff !default;
$yolo-pill-text-color: #000 !default;
$yolo-table-header-color: #fff !default;
$yolo-table-border-color: #fff !default;
$yolo-table-header-text-color: #000 !default;


