// ----------------------------------------------------------------------------
// monokai theme
// ----------------------------------------------------------------------------
$base-color: #2d292d !default;
$secondary-color: #a57af2 !default;

$background-color: $base-color;
$background-color-darker: #151315 !default;

$accent-color: #a9dd76 !default;

$code-background-color: #151315 !default;

$text-color-alt: #ffd966 !default;
$text-color: #79dce8 !default;
$header-text-color: #ff6288 !default;
