// ----------------------------------------------------------------------------
// naturalist theme
// ----------------------------------------------------------------------------
// colors
$yolo-primary-color: #1b0000 !default;
$yolo-secondary-color: #efebe9 !default;
$yolo-accent-color: #00c853 !default;
$yolo-code-background-color: #3e2723 !default;
$yolo-code-color: #b9f6ca !default;
$yolo-link-color: #00b0ff !default;
// fonts
$family-primary: "Red Hat Mono", sans-serif;
$family-secondary: "Open Sans", sans-serif;
$family-monospace: "Red Hat Mono", monospace;
$family-code: "Red Hat Mono", monospace;