// ----------------------------------------------------------------------------
// neo theme
// ----------------------------------------------------------------------------
:root[light] {
  // primary colors
  --primary-color: #dee1f7;
  --on-primary-color: #060823;
  --primary-container-color: #251359;
  --on-primary-container-color: #bf3efd;
  // secondary colors  
  --secondary-color: #1042ff;
  --on-secondary-color: #ebefff;
  --secondary-container-color: #bf3efd;
  --on-secondary-container-color: #f5ebff;
  // tertiary colors  
  --tertiary-color: #f9246c;
  --on-tertiary-color: #feebf2;
  // general colors    
  --link-color: #4597ff;
  --neutral-color: #212121;
  --on-neutral-color: #e0e0e0;
  // font families  
  --font-family-primary: "JetBrains Mono", monospace;
  --font-family-secondary: "Red Hat Text", sans-serif;
  --font-family-monospace: "Source Code Pro", monospace;
}
:root[dark] {
  // primary colors
  --primary-color: #060823;
  --on-primary-color: #cacef7;
  --primary-container-color: #251359;
  --on-primary-container-color: #bf3efd;
  // secondary colors  
  --secondary-color: #f9246c;
  --on-secondary-color: #090b35;
  --secondary-container-color: #b5036a;
  --on-secondary-container-color: #f6a5d4;
  // tertiary colors  
  --tertiary-color: #3b6afe;
  --on-tertiary-color: #090b35;
  // general colors  
  --link-color: #4f9dff;
  --neutral-color: #e0e0e0;
  --on-neutral-color: #212121;  
  // font families  
  --font-family-primary: "JetBrains Mono", monospace;
  --font-family-secondary: "Red Hat Text", sans-serif;
  --font-family-monospace: "Source Code Pro", monospace;
}