// ----------------------------------------------------------------------------
// nightowl theme
// ----------------------------------------------------------------------------
$base-color: #001728 !default;

$background-color: $base-color;
$background-color-darker: #00060a !default;

$accent-color: #bb84dc !default;

$code-background-color: #00060a !default;

$text-color-alt: #ff545c !default;
$text-color: #d4deec !default;
$header-text-color: #71a4fb !default;