// ----------------------------------------------------------------------------
// nightowl theme
// ----------------------------------------------------------------------------
$base-color: #001728 !default;
$secondary-color: #88c04d !default;

$background-color: $base-color;
$background-darker-color: #00060a !default;

$accent-color: #bb84dc !default;

$code-background-color: #00060a !default;

$text-secondary-color: #ff545c !default;
$text-color: #d4deec !default;
$header-text-color: #71a4fb !default;