// ----------------------------------------------------------------------------
// logrey theme
// ----------------------------------------------------------------------------
// colors
$yolo-primary-color: #fff !default;
$yolo-secondary-color: #000 !default;
$yolo-accent-color: #000 !default;
$yolo-code-background-color: #000 !default;
$yolo-code-color: #848484 !default;
$yolo-link-color: #00b0ff !default;
// fonts
$family-primary: "Red Hat Mono", sans-serif;
$family-secondary: "Open Sans", sans-serif;
$family-monospace: "Red Hat Mono", monospace;
$family-code: "Red Hat Mono", monospace;