// ----------------------------------------------------------------------------
// poc theme
// ----------------------------------------------------------------------------
// Light mode
:root {
  --primary-color: #ecf6ff;
  --on-primary-color: #011141;
  --primary-container-color: #f8faff;
  --on-primary-container-color: #3f2390;

  --secondary-color: #070f62;
  --on-secondary-color: #edf5fb;
  --secondary-container-color: #04093e;
  --on-secondary-container-color: #edf5fb;

  --tertiary-color: #774bd5;
  --on-tertiary-color: #f8faff;
  --tertiary-container-color: #bfa3f3;
  --on-tertiary-container-color: #140233;

  --link-color: #0091ea;
  --neutral-color: #212121;
  --on-neutral-color: #e0e0e0;

  --font-family-primary: "JetBrains Mono", monospace;
  --font-family-secondary: "Red Hat Text", sans-serif;
  --font-family-monospace: "Inconsolata", monospace;
}
// Dark mode
:root[dark] {
  --primary-color: #000928;
  --on-primary-color: #fb1d9e;
  --primary-container-color: #000712;
  --on-primary-container-color: #b9026d;

  --secondary-color: #00b0ff;
  --on-secondary-color: #011e31;
  --secondary-container-color: #00344f;
  --on-secondary-container-color: #8ecdff;

  --tertiary-color: #774bd5;
  --on-tertiary-color: #f8faff;
  --tertiary-container-color: #bfa3f3;
  --on-tertiary-container-color: #140233;

  --link-color: #65e9fc;
  --neutral-color: #e0e0e0;
  --on-neutral-color: #212121;

  --font-family-primary: "JetBrains Mono", monospace;
  --font-family-secondary: "Red Hat Text", sans-serif;
  --font-family-monospace: "Inconsolata", monospace;
}