// ----------------------------------------------------------------------------
// purple theme
// ----------------------------------------------------------------------------
$base-color: #190841 !default;
$secondary-color: #4119a7 !default;

$background-color: $base-color;
$background-darker-color: #180440 !default;

$accent-color: #0de5ff !default;

$code-background-color: #0f052b !default;

$text-secondary-color: #9868ee !default;
$text-color: #ded5f7 !default;
$text-code-color: #65e9fc !default;
$header-text-color: #9869f8 !default;