// ----------------------------------------------------------------------------
// purple theme
// ----------------------------------------------------------------------------
$base-color: #190841 !default;

$background-color: $base-color;
$background-color-darker: #180440 !default;

$accent-color: #0de5ff !default;

$code-background-color: #0f052b !default;

$text-color-alt: #9868ee !default;
$text-color: #ded5f7 !default;
$header-text-color: #9869f8 !default;