// ----------------------------------------------------------------------------
// rainbow theme
// ----------------------------------------------------------------------------
$yolo-primary-color: #e1f5fe !default;
$yolo-secondary-color: #4a148c !default;

// base colors
$yolo-background-color: #e1f5fe !default;
$yolo-text-primary-color: #283593 !default;
$yolo-text-secondary-color: #009624 !default;
$yolo-text-accent-color: #f3bfae !default;

// convenient colors
$yolo-text-dark-color: #424242 !default;
$yolo-text-light-color: #d8edba !default;
$yolo-dark-color: #424242 !default;
$yolo-light-color: #d7d2cc !default;
$yolo-accent-color: #f57f17 !default;

// code colors
$yolo-code-background-color: #000d55 !default;
$yolo-code-primary-color: #38c181 !default;
$yolo-code-secondary-color: #b5ffff !default;

// element colors
$yolo-link-color: #2979ff !default;
$yolo-header-color: #4a148c !default;
$yolo-pill-color: #d81b60 !default;
$yolo-pill-text-color: #424242 !default;
$yolo-table-header-color: #d81b60 !default;
$yolo-table-border-color: #d81b60 !default;
$yolo-table-header-text-color: #424242 !default;

// fonts
$family-primary: "Roboto Mono", sans-serif;
$family-secondary: "Raleway", sans-serif;
$family-monospace: "Red Hat Mono", monospace;
$family-code: "Red Hat Mono", monospace;