// ----------------------------------------------------------------------------
// sandbox theme
// ----------------------------------------------------------------------------
// light mode colors
$light-primary-color: #f8f5f9;
$light-secondary-color: #ff1166;
$light-accent-color: #4900ca;
$light-link-color: #17c1d6;
$light-code-background-color: #fff;
$light-code-color: #b80944;

// dark mode colors
//$dark-primary-color: #23004a;
//$dark-secondary-color: #ff1166;
//$dark-accent-color: #b388ff;
//$dark-link-color: #65e9fc;
//$dark-code-background-color: #110023;
//$dark-code-color: #ff4081;

$dark-primary-color: #00c853;
$dark-secondary-color: #fff;
$dark-accent-color: #fff;
$dark-link-color: #65e9fc;
$dark-code-background-color: #fff;
$dark-code-color: #000;

// fonts
$family-primary: "Source Code Pro", monospace;
$family-secondary: "Poppins", sans-serif;
$family-monospace: "Red Hat Mono", monospace;