// ----------------------------------------------------------------------------
// skeletor theme
// ----------------------------------------------------------------------------
:root[light] {
  // primary colors
  --primary-color: #dbddf8;
  --on-primary-color: #27174f;
  --primary-container-color: #28034e;
  --on-primary-container-color: #dbddf8;
  // secondary colors
  --secondary-color: #502eb9;
  --on-secondary-color: #dbddf8;
  --secondary-container-color: #1a0035;
  --on-secondary-container-color: #dbddf8;
  // tertiary colors
  --tertiary-color: #0633e0;
  --on-tertiary-color: #dbddf8;
  --tertiary-container-color: #020c37;
  --on-tertiary-container-color: #dbddf8;
  // general colors
  --link-color: #1291f4;
  --neutral-color: #212121;
  --on-neutral-color: #e0e0e0;
  // font families
  --font-family-primary: "Inconsolata", monospace;
  --font-family-secondary: "Red Hat Text", sans-serif;
  --font-family-monospace: "JetBrains Mono", monospace;
}
:root[dark] {
  // primary colors
  --primary-color: #28034e;
  --on-primary-color: #f5ecfe;
  --primary-container-color: #1a0035;
  --on-primary-container-color: #f5ecfe;
  // secondary colors
  --secondary-color: #8f67fe;
  --on-secondary-color: #000;
  --secondary-container-color: #fafafa;
  --on-secondary-container-color: #424242;
  // tertiary colors
  --tertiary-color: #437cf4;
  --on-tertiary-color: #fafafa;
  --tertiary-container-color: #0b1e4a;
  --on-tertiary-container-color: #fafafa;
  // general colors
  --link-color: #65e9fc;
  --neutral-color: #212121;
  --on-neutral-color: #e0e0e0;
  // font families
  --font-family-primary: "Inconsolata", monospace;
  --font-family-secondary: "Red Hat Text", sans-serif;
  --font-family-monospace: "JetBrains Mono", monospace;
}