// ----------------------------------------------------------------------------
// skeletor theme
// ----------------------------------------------------------------------------
// Light mode
:root {
  --primary-color: #dbddf8;
  --secondary-color: #1a0037;
  --accent-color: #502eb9;
  --link-color: #1f56d8;
  --code-background-color: #f4f5fb;
  --code-color: #6843c8;
  --sidebar-color: #f3f4fa;
  --font-family-primary: "Inconsolata", monospace;
  --font-family-secondary: "Red Hat Text", sans-serif;
  --font-family-monospace: "JetBrains Mono", monospace;
}
// Dark mode
:root[dark] {
  --primary-color: #1a0037;
  --secondary-color: #bdb7cf;
  --accent-color: #8f67fe;
  --link-color: #65e9fc;
  --code-background-color: #100020;
  --code-color: #b4a9e9;
  --sidebar-color: #1e0c4a;
  --font-family-primary: "Inconsolata", monospace;
  --font-family-secondary: "Red Hat Text", sans-serif;
  --font-family-monospace: "JetBrains Mono", monospace;
}