// ----------------------------------------------------------------------------
// soft theme
// ----------------------------------------------------------------------------
$base-color: #fafafa !default;
$secondary-color: #59b4eb !default;

$background-color: $base-color;
$background-darker-color: #e0e0e0 !default;

$accent-color: #0196b9 !default;

$code-background-color: #273239 !default;

$text-secondary-color: #6a77c6 !default;
$text-color: #556e7a !default;
$text-code-color: #65e9fc !default;
$header-text-color: #1279c7 !default;