// ----------------------------------------------------------------------------
// Solo theme, a nod to the OG.
// ----------------------------------------------------------------------------
$light-primary-color: #fff;
$light-secondary-color: #000;
$light-accent-color: #383838;
$light-code-background-color: #fff;
$light-code-color: #000;
$light-link-color: #2196f3;

$dark-primary-color: #000;
$dark-secondary-color: #fff;
$dark-accent-color: #b3b2b2;
$dark-code-background-color: #000;
$dark-code-color: #fff;
$dark-link-color: #2196f3;

$family-primary: "Inconsolata", sans-serif;
$family-secondary: "Montserrat", sans-serif;
$family-monospace: "Inconsolata", monospace;