// ----------------------------------------------------------------------------
// solo theme
// ----------------------------------------------------------------------------
:root[light] {
  // primary colors
  --primary-color: #fff;
  --on-primary-color: #000;
  --primary-container-color: #f5f5f5;
  --on-primary-container-color: #424242;
  // secondary colors
  --secondary-color: #000;
  --on-secondary-color: #fff;
  --secondary-container-color: #424242;
  --on-secondary-container-color: #f5f5f5;
  // tertiary colors
  --tertiary-color: #1f56d8;
  --on-tertiary-color: #fafafa;
  --tertiary-container-color: #0b1e4a;
  --on-tertiary-container-color: #f5f5f5;
  // general colors
  --link-color: #339ff4;
  --neutral-color: #212121;
  --on-neutral-color: #e0e0e0;
  // error, warn and info colors
  --error-color: #b71c1c;
  --on-error-color: #ffcdd2;
  --warn-color: #212121;
  --on-warn-color: #ffee58;
  --info-color: #1565c0;
  --on-info-color: #bbdefb;
  // font families
  --font-family-primary: "Inconsolata", monospace;
  --font-family-secondary: "Montserrat", sans-serif;
  --font-family-monospace: "Source Code Pro", monospace;
}
:root[dark] {
  // primary colors
  --primary-color: #000;
  --on-primary-color: #fafafa;
  --primary-container-color: #000;
  --on-primary-container-color: #bfa3f3;
  // secondary colors
  --secondary-color: #fff;
  --on-secondary-color: #000;
  --secondary-container-color: #fafafa;
  --on-secondary-container-color: #424242;
  // tertiary colors
  --tertiary-color: #147cf3;
  --on-tertiary-color: #fafafa;
  --tertiary-container-color: #0b1e4a;
  --on-tertiary-container-color: #fafafa;
  // general colors
  --link-color: #65c7fc;
  --neutral-color: #212121;
  --on-neutral-color: #e0e0e0;
  // error, warn and info colors
  --error-color: #b71c1c;
  --on-error-color: #ffcdd2;
  --warn-color: #212121;
  --on-warn-color: #ffee58;
  --info-color: #1565c0;
  --on-info-color: #bbdefb;
  // font families
  --font-family-primary: "Inconsolata", monospace;
  --font-family-secondary: "Montserrat", sans-serif;
  --font-family-monospace: "Source Code Pro", monospace;
}