// ----------------------------------------------------------------------------
// Solo theme
// ----------------------------------------------------------------------------
// Light mode
:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --accent-color: #383838;
  --link-color: #2196f3;
  --code-background-color: #fff;
  --code-color: #000;
  --sidebar-color: #fff;
  --font-family-primary: "Inconsolata", monospace;
  --font-family-secondary: "Montserrat", sans-serif;
  --font-family-monospace: "Inconsolata", monospace;
}
// Dark mode
:root[dark] {
  --primary-color: #000;
  --secondary-color: #fff;
  --accent-color: #b3b2b2;
  --link-color: #2196f3;
  --code-background-color: #000;
  --code-color: #fff;
  --sidebar-color: #000;
  --font-family-primary: "Inconsolata", monospace;
  --font-family-secondary: "Montserrat", sans-serif;
  --font-family-monospace: "Inconsolata", monospace;
}