// ----------------------------------------------------------------------------
// solarizeddark theme
// ----------------------------------------------------------------------------
$base-color: #002c37 !default;
$secondary-color: #0d89c8 !default;

$background-color: $base-color;
$background-color-darker: #001b1f !default;

$accent-color: #ca3d00 !default;

$code-background-color: $base-color !default;

$text-color-alt: #b18100 !default;
$text-color: #90a2a1 !default;
$header-text-color: #00a094 !default;