// ----------------------------------------------------------------------------
// Syntax highlighting colors on light container background
// ----------------------------------------------------------------------------
:root[light] {
  --syntax01: #8f8f8f;
  --syntax02: #011842;
  --syntax03: #393939;
  --syntax04: #eb6302;
  --syntax05: #c500e3;
  --syntax06: #01c72b;
  --syntax07: #019e9e;
  --syntax08: #1b3df8;
  --syntax09: #5923ca;
  --syntax10: #db0c4d;
}