// ----------------------------------------------------------------------------
// yinyang theme
// ----------------------------------------------------------------------------
$light-primary-color: #fbffff;
$light-secondary-color: #093fc4;
$light-accent-color: #4113a6;
$light-code-background-color: #000928;
$light-code-color: #00e676;
$light-link-color: #f7346d;

$dark-primary-color: #0e0e0e;
$dark-secondary-color: #d1ecfb;
$dark-accent-color: #00b0ff;
$dark-code-background-color: #000;
$dark-code-color: #00e676;
$dark-link-color: #f7346d;

// fonts
$family-primary: "Red Hat Mono", sans-serif;
$family-secondary: "Open Sans", sans-serif;
$family-monospace: "Source Code Pro", monospace;